[2019-05-15 02:54] aufdenkampe commented on #387
Closing after creating daughter issue.

[2019-05-15 02:54] #387 closed

[2019-05-15 03:05] aufdenkampe commented on #366
@htaolimno, I think this is related to errors in the PostgreSQL/ODM2 database, where the sensor information is stored in the equipment tables.

For entity relation diagrams for the ODM2 Equipment, see http://odm2.github.io/ODM2/schemas/ODM2_Current/diagrams/ODM2Equipment.html

[2019-05-15 09:29] aufdenkampe commented on #390
@htaolimno, I think this is related to errors in the connection or construction of the InfluxDB database.

This issue has repeatedly occurred in the past when a new version is released to production. See issues #193, #131, #99 for previous versions of this issue that appeared to be resolved manually. Some of the connected behaviors are described in #130.

[2019-05-15 12:15] tslawecki opened #393 "Deploy clone of production as staging server"
Because of ongoing gateway issues and other concerns on the current staging server, we are cloning the production web server and using that as the starting point for a replacement.

[2019-05-15 12:21] tslawecki commented on #393
Clone of production server made available by LTICO support at (internal) 10.89.1.79; I tested to make sure the main page was accessible, found that I needed to add the internal IP to /opt/websdlenvironment/ODM2WebSDL/src/WebSDL/settings/settings.json.

Next step is to have LTICO switch external IP on this VM to external IP for current staging server.

[2019-05-16 14:29] aufdenkampe commented on #393
Done!

[2019-05-16 14:29] #393 closed

[2019-05-16 20:25] aufdenkampe commented on #390
@tslawecki fixed this issue.
It appears to have been related to SSL security routing issues on our database servers, that cropped up when our SSL certificates expired in late April. See #387. We're setting up SSL auto-renew to avoid this in the future.

[2019-05-16 20:25] #390 closed

[2019-05-16 20:28] aufdenkampe commented on #378
This appears to have been fixed along with #390.

@dbressler75, can you confirm? If it doesn't work, can you share the site ID and variable with us, as these are critical to sleuthing out the issues.

[2019-05-16 20:29] aufdenkampe commented on #378
@dbressler75, Reopen if this continues to be an issue.

[2019-05-16 20:32] aufdenkampe commented on #379
@SRGDamia1, this is not related to our issues with sparkline plots and TSA, as WOFpy interacts directly with the ODM2 database in PostgreSQL.

[2019-05-16 20:35] aufdenkampe commented on #379
These URL's should show us if it is working:
- http://data.envirodiy.org/wofpy
- http://data.envirodiy.org/wofpy/rest/1_1/GetSiteInfo?site=envirodiy:160065_Limno_Crossroads

[2019-05-16 20:49] SRGDamia1 commented on #379
Doesn't TSA get its data from WOFpy?

[2019-05-16 20:55] SRGDamia1 commented on #378
@aufdenkampe It's still broken.

See:  http://www.monitormywatershed.org/tsa/?sitecode=4GBee_Transparent&view=datasets&plot=false and http://data.envirodiy.org/sites/4GBee_Transparent/

I still suspect that it is related to the WOFpy issue (#379) because - as you see in the datasets view - TSA thinks there are no points available for the dataset and there's an endless spin waiting for the graph.

[2019-05-16 20:59] aufdenkampe commented on #379
TSA originally did get it's data from WOFpy, but because that was so slow, USU decided to implement InfluxDB. TSA now gets all its data values from InfluxDB, and it uses a separate `tsa_catalog` schema in PostgreSQL for its metadata. That `tsa_catalog` DB gets populated from the `ODM2` schema using a Django command.

[2019-05-16 21:11] aufdenkampe commented on #378
@SRGDamia1, thanks for pointing me to this site! This really helps us understand the issue. And it also make sense for this station, because it was registered on May 1.

As I mentioned in https://github.com/ODM2/ODM2DataSharingPortal/issues/379#issuecomment-493229973, the `tsa_catalog` gets populated from the `ODM2` schema, both in PostgreSQL, from a Django script. And all of that was definitely b

[2019-05-16 21:30] SRGDamia1 commented on #379
So many broken pieces...

[2019-05-16 21:39] aufdenkampe commented on #379
Yes...
I think we found the issue. We found this in the WOFpy code, but it was missing from the server config info that we received in January.

[2019-05-18 20:29] emiliom commented on #379
I assume that by "this" you mean the port 8080 issue ...

Ok. I'll start looking into it on Monday or Tuesday. Where do you want me to track progress and follow up? On this issue / repo, or on the private one at https://github.com/LimnoTech/ODM2DataSharingPortalConfig?

[2019-05-20 21:52] aufdenkampe commented on #379
@emiliom, yes, I was referring to our need to have port 8080 open for WOFpy on the web servers. As I mentioned in my email, we fixed that, but that alone didn't fix it.

Let's move the conversation over the issue in our private repo at https://github.com/LimnoTech/ODM2DataSharingPortalConfig/issues/11, as that's where we're describing the gory details of our deployment.

[2019-05-21 18:07] aufdenkampe commented on #383
@SRGDamia1, now that TSA and Sparkles are working for stations that were registered before January (see https://github.com/ODM2/ODM2DataSharingPortal/issues/378#issuecomment-493220171 & #390), can you let us know if this is still an issue for sites those sites that were registered before Jan?

Knowing that would help us figure out how to fix. Thanks.

[2019-05-21 21:56] aufdenkampe commented on #342
@gcutrell has been having this bug with adding these sensor variables:
- Davis_VantagePro2_5minRainTotal
- Davis_VantagePro2_15minRainTotal

But it works with:
- Davis_VantagePro2_10minRainTotal

@jcaraballo17 and @htaolimno, I think this could be potential database issue.

[2019-05-21 22:05] aufdenkampe commented on #342
For https://monitormywatershed.org/sites/RVSMRT%232/ we want `Davis_VantagePro2_5minRainTotal` in inches, so I tried @SRGDamia1's suggested workaround (see https://github.com/ODM2/ODM2DataSharingPortal/issues/342#issuecomment-447498516) and decided to temporarily set up the station with `Davis_VantagePro2_10minRainTotal`. However, I wanted units of inches, but after adding that as an `instrument o

[2019-05-23 17:16] aufdenkampe commented on #373
This is likely due to the fact that the code still leverages USU's email system. Working on confirming this and finding an alternative email system.

[2019-05-23 17:20] aufdenkampe commented on #342
Fixed with https://github.com/ODM2/ODM2DataSharingPortal/commit/298bc70093bf90773708e7f221fae8db4baebf35, which is in the Master branch. We'll try a hot-fix.

[2019-05-24 18:48] jcaraballo17 commented on #342
Fixed.
- Updated the server with the latest master branch code with the december hotfix.
- Ran a `collectstatic` command to update the modified javascript file on the static folder.

[2019-05-24 19:20] jcaraballo17 commented on #378
Here's a description of the problem from January 31st on Slack:

This fixed the problem because when the catalog is generated, it takes the `tsa_catalog` server address (the database/influx server) and uses it for building each series' InfluxDB URL. Those URLs are used to retrieve the InfluxDB data from the web browser by the TSA, so that server address needs to the public one.  But the web server

[2019-05-24 20:10] jcaraballo17 commented on #378
Instead of using the database server address, I added a new entry on the file `settings.json` named `influx_server`. This new entry contains the public domain name `dbs.monitormywatershed.org`, so that the `rebuild_tsa_catalog` script no longer has a dependency on the database server's internal IP address.

The hotfix can be seen on this pull request:
https://github.com/ODM2/ODM2DataSharingPortal/

[2019-05-24 21:00] fisherba commented on #342
I just tested and the sensors I couldn't add yesterday worked today (all were the temp variable for each sensor). Thanks!

[2019-05-24 21:02] jcaraballo17 commented on #342
Perfect!
Adding the `close me` tag.

[2019-05-24 21:38] jcaraballo17 commented on #378
Tested this by plotting series on the TSA.
Adding `close me` tag.

[2019-05-24 21:43] aufdenkampe commented on #378
@jcaraballo17, thank you for providing those explanations of the fix, and for applying it as a hot fix!

[2019-05-24 21:43] #378 closed

[2019-05-24 21:43] jcaraballo17 commented on #373
Fixed in https://github.com/ODM2/ODM2DataSharingPortal/pull/395.
- Created a Gmail account to use for sending the password recovery and site alert emails.
- Added the email username and password to the settings file.
- Setup the email django system to use the credentials mentioned above to send via Gmail's smtp system.

[2019-05-24 21:45] jcaraballo17 commented on #373
Tested it by successfully using the password recovery and setting up a site alert.

[2019-05-24 21:55] aufdenkampe commented on #373
Yes, my Site Alerts are now working!

[2019-05-24 23:14] aufdenkampe commented on #342
These sensor/variables still do not work:
- `Decagon_CTD-10_Temp`
- `Maxim_DS18B20_Temp`, which was the sensor/variable originally listed in this issue.

@fisherba said she had to log out and then log back in, but that didn't work for me. I'm about to try a different browser.

[2019-05-24 23:52] aufdenkampe commented on #342
@fisherba and I just did some extensive testing, and what we found was that there is a very persistent caching situation, where it all worked when we each when to a browser that we haven't recently used.

However, for the browser we each most often use (Safari for me, Chrome for Beth), no amount of refreshing the browser, restarting the browser, or logging out would solve the issue.

I'll try agai

[2019-05-28 16:00] aufdenkampe commented on #342
From @Volk3rJ:

I just did a hard "Empty Caches" command in Safari, and finally got it to work. I'm surprised that the softer cache reseting of refreshing the browser there times didn't work.

[2019-05-28 16:17] aufdenkampe commented on #373
I just tried a password reset, and I got it to work!

[2019-05-28 16:17] #373 closed

[2019-05-31 13:33] Streambug opened #396 "Wikiwatershed -Monitor my watershed download data issue"
When downloading data: http://monitormywatershed.org/sites/WCD696/
and clicking to the time series analyst window: http://www.monitormywatershed.org/tsa/?sitecode=WCD696&variablecode=Decagon_CTD-10_Temp&view=visualization&plot=true

Then to export data from 3/22/2019 to 5/30/19  under dataset tab.  The export tab switches to "compiling data" but never downloads anything.

I was able to eventually

[2019-06-04 15:13] aufdenkampe commented on #380
Completed on staging.The previous version it was running was 1.11.18, and the update is pretty trivial to what we're doing.

From Django release notes:

At the moment, however, staging does not yet reflect the work completed in the `development` branch.

[2019-06-04 15:13] #380 closed

[2019-06-05 14:00] SRGDamia1 opened #398 "Re-orient authentication tokens to allow per - user posts instead of only per site"
It would be much easier for a very simple radio gateway to forward pre generation json as post requests if the gateway only needed to know one token that was the same for all sites on the radio network.

[2019-06-10 18:53] aufdenkampe commented on #384
We'll want to build this after we address #312 **Use Pandas for CSV upload and download functions**

[2019-06-11 18:51] HeatherBrooks commented on #372
Just want to confirm that this will be fixed in the next release? A user from [Great Lakes Data Watershed](https://gldw.org/) just sent a help request about this issue through the WikiWatershed contact form. He tried to register without choosing an organization and got the error message I posted when I opened this issue.

[2019-06-12 20:17] aufdenkampe commented on #372
@HeatherBrooks, that is our plan, but we haven't yet gotten to this one.

[2019-06-13 09:22] neilh10 opened #399 "TSA doesn't show from DateTime - uses UTC"
The TimeSeriesAnalysis (TSA)graph window appears to display in TimeZone (TZ) "DateTimeUTC". This makes it difficult to discuss and display it to other interested parties.

The intial  "72hrs Charts" display with the recorded TZ. https://data.envirodiy.org/sites/LCC45a3/
The downloaded data uses the recorded TZ, and specifies the offset from UTC.

I start the TSA graph from the "72hrs Chart" by pre

[2019-06-13 12:53] aufdenkampe commented on #399
Agreed. This would be a nice feature that was suggested but not prioritized in https://github.com/ODM2/ODM2DataSharingPortal/issues/236#issuecomment-412143248 and #293.

I've added it to a future feature milestone, but we might not get to it soon due to limited funding and priority to our bug fix milestone for release 0.10.

[2019-06-13 13:06] neilh10 commented on #399
Ok thanks, whenever. I looked through the open issues and didn't see it, so thought I should enter it for reference.

[2019-06-13 13:53] aufdenkampe commented on #399
@neilh10, I really appreciate you posting this issue, especially with the level of detail that you provide on what you would see as helpful and why. Do so is a very helpful contribution to our long-term development, and I think it also helps us generate more funding to do the work. Many thanks!

I also appreciate that you looked through the open issues. Indeed, there was nothing that was open that

[2019-06-14 20:05] neilh10 commented on #399
hey you're welcome.  I've been through a number of software development projects, and been on the fixing end of issues.  :)

[2019-06-17 16:49] aufdenkampe commented on #366
This was "hot fixed" on the production servers with the fix for #342 (and https://github.com/ODM2/ODM2DataSharingPortal/commit/298bc70093bf90773708e7f221fae8db4baebf35).

Note that to see the fix, a user was/is required to do a hard "Empty Caches" command in Safari or other web browser.

[2019-06-17 16:49] #366 closed

[2019-06-24 14:13] SRGDamia1 opened #403 "Spark lines and TSA down?"
Are these known to be down?  I haven't been able to get them to work in several days, even after multiple cache clears.

[2019-06-24 14:13] SRGDamia1 commented on #403
@aufdenkampe

[2019-06-24 17:50] aufdenkampe commented on #403
@SRGDamia1, yes, I'm aware of this. It looks like the production web server got disconnected from InfluxDB on the production database servers at around 3:45 ET on Friday.

@jcaraballo17 was working on Friday afternoon, setting up our staging web and database servers with our new git tracking approach for managing configuration files, and also doing something similar with our security certificates

[2019-06-24 22:41] jcaraballo17 commented on #403
@aufdenkampe, @SRGDamia1 The sparklines and TSA should be working normally now. The sparklines are shown in all the sites I checked, can you confirm that everything is working again?

[2019-06-24 23:06] aufdenkampe commented on #403
Awesome! Looks good to me. Thanks.

[2019-06-24 23:07] #403 closed

[2019-06-28 15:39] HeatherBrooks commented on #396
@aufdenkampe, I had another report of this through the WikiWatershed contact form on 27 June 2019: "In Time Series Analyst I choose variables to graph and they graph fine, but when i try to export files it just spins and never completes." Is this being looked at?

Thanks @streambug for reporting. Can you share here the other pathway you used to download the data so I can post it on the Monitor My

[2019-06-28 15:54] aufdenkampe commented on #396
Thanks @HeatherBrooks. We've had a good number of TSA issues this month on production, which we've hot-fixed, so it could be related to those.

Also, I'm thinking that this will be fixed with the fix for #329, which is now ready for testing at https://staging.monitormywatershed.org.

[2019-06-28 17:37] HeatherBrooks commented on #396
I just tried downloading two months worth of data for the same site and sensor (WCD696, CTD-10) on the staging site, and it is still stuck at "Compiling files." But I'm not super familiar with sensor data and the TSA, so maybe someone else should test.

[2019-06-28 18:23] HeatherBrooks opened #404 "Updates to macroinvertebrate data entry: add taxa, hide taxa, change taxa labels and taxa display order"
The following updates to the macroinvertebrate data entry form (/leafpack/create/) are required to align it with new leaf pack experiment protocols.

- [x] Add these taxa to database and data entry form:
- Other caddisflies (Trichoptera)
- Rat-tailed maggots (Syrphidae)

- [x] Hide these taxa from the user interface but retain in the database:

- All caddisflies (Trichoptera)
- Dobsonflies/fishfli

[2019-06-28 18:40] HeatherBrooks opened #405 "Changes to leaf pack experiment calculations: recalculate "All xxx" fields"
The following updates to the macroinvertebrate calculations are required to align it with new leaf pack experiment protocols.

Recalculate the following “All xxx” fields:
1. All caddisflies
- This category will now be hidden from the user interface but will be retained in the database.
- Present behavior is that system auto-populates “all” but allows user to edit.
- Change to remove user ability t

[2019-06-28 18:44] HeatherBrooks opened #406 "Assign macroinvertebrate taxa to new pollution sensitivity groups"
**UPDATE**, this list below is not exactly correct. Please reference the  [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing) Google Sheet for exact values for TaxonName (=scientific name) and CommonName.

New pollution sensitivity groups and weighting values should be assigned as follows:

[2019-06-28 19:20] HeatherBrooks opened #407 "Changes to biotic index calculation"
A new (simpler) Pollution Tolerance Index will replace the biotic index calculation that uses taxa-specific tolerance values. As a result, the following constants and calculations are no longer needed:
- Pollution tolerance values (TV) for individual taxa
- Calculation of total TV for individual taxa (average individuals*taxa TV)
- Biotic index calculation using taxa-specific TV
- Calculation of a

[2019-06-28 20:01] HeatherBrooks opened #408 "Changes to leaf pack experiment details display page"
The following changes should be made to the page that displays leaf pack experiment results (/sites/sitename/leafpack/4/).
- [x] Changes to "Placement Information" Section.
In [#337](https://github.com/ODM2/ODM2DataSharingPortal/issues/337) I asked for both Deployment Type and Stream Habitat Type to be deleted. However, it appears that Deployment Type is still being used but a different label shou

[2019-06-28 20:05] HeatherBrooks opened #409 "Add new chart to summary section of leaf pack experiment details page"
With the addition of the new pollution sensitivity groups, it would be valuable to Leaf Pack Network users to have a new chart added to the experiment details page (/sites/sitename/leafpack/4/).

The new chart would be similar to the existing relative abundance chart, but it would display only three bars -- one for each sensitivity group. If possible, colors of bars should match the colors used on

[2019-07-04 04:18] vikasgulia119 opened #410 "Error while executing/compiling from the source"
While executing the source code from the scratch it lead to an error. I performed the compiling procedure steps as per the deployment guide.
I tried execute the code on Python 2.7 & 3 on Ubuntu 18.04LTS.

error log screenshot is attached.
![SS_error](https://user-images.githubusercontent.com/13316542/60639530-a2ec4700-9e40-11e9-9554-01df53c8df59.png)

[2019-07-10 15:07] SRGDamia1 commented on #364
@aufdenkampe Is there an ETA on this fix?

[2019-07-11 19:59] SRGDamia1 opened #411 "Use message pack with json for posting data"
It won't be an immense amount of compression, but it will be some.

https://msgpack.org/index.html

[2019-07-18 15:41] dbressler75 commented on #399
To follow up on what @heilh10 said:  The TSA display in UTC is fine for general data consistency; however, in terms of actual data usage in the here and now and in the citizen science context displaying it this way is probably going to be problematic. Ideally, maybe there would be an option to display data in the current time where a station is located (or possibly a standard time for a region - e

[2019-07-19 17:01] SRGDamia1 commented on #33
There has *got* to be a faster way to add all the sensor data.  I'm creating a bunch of sites for stations we're giving away and it feels like a thousand clicks to set them up.

[2019-07-19 17:03] SRGDamia1 opened #412 "Move add new sensor button to above request notice"
I'm sick of scrolling down past the notice.  It's annoying.

![image](https://user-images.githubusercontent.com/5374350/61552375-aa594600-aa25-11e9-9180-5a2b8a0ba8b9.png)

[2019-07-25 19:59] armstrongcl opened #413 "monitor my watershed"
The MMW turbidity legends in the time series analyst data sets do not give an indication of which is turbidity-high and -low.  This only becomes significant if there is a large gap between the two, so that one cannot tell which is more accurate for the given level.  Could the legend be changed to reflect high and low?

[2019-07-26 00:02] SRGDamia1 commented on #413
Ideally, we'd be able to see all notes in TSA. I'm closing this issue because it's a part of #326.

[2019-07-26 00:02] #413 closed

[2019-07-26 23:08] johnandrea commented on #376
I have the same problem: stopped at step 6.

a) Requirement for postgis is missing

b) Does the copy command mean copy to "." or in same path as the template. In any case the .json file is not found by manage.py. Should the virtualenv copy of settings.py be modified to handle json files.

c) Assuming past b) is it ok to run 'manage.py migrate' in order to build the django tables

d) Is it ok to ru

[2019-07-29 17:32] aufdenkampe commented on #379
Quick update: @emiliom has deployed a clean, updated version of WOFpy on our development servers at https://staging.monitormywatershed.org/wofpy/.

It's ready for testing!

[2019-07-29 17:36] emiliom commented on #379
Any reason to keep this issue open, when we have this one:
https://github.com/LimnoTech/ODM2DataSharingPortalConfig/issues/12
That's where I've been reporting my progress and documenting findings.

Not sure it's worth anyone's time to test that WOFpy endpoint right now. We pretty much know the answer already: the service is up, but most requests end in time outs.

[2019-07-29 17:43] aufdenkampe commented on #347
I don't think this fix was deployed with R.0.9.5

[2019-07-29 17:55] HeatherBrooks commented on #324
Checked on staging; it all looks good to me.

[2019-07-29 18:02] HeatherBrooks commented on #338
Check on staging; fix looks good.

[2019-07-29 18:20] aufdenkampe commented on #364
From @dbressler75 via email on July 9:

[2019-07-29 18:24] HeatherBrooks commented on #333
Tested on staging; this is not fixed. According to Jeff's original comment, the link should go to the [site registration page](https://monitormywatershed.org/sites/register/) (with a stop on the login page if user is not logged in). The link is instead going to the [user registration page](https://staging.monitormywatershed.org/register/).

[2019-07-29 18:32] aufdenkampe commented on #364
Closing this because it is a duplicate of #346, which also has more detailed information on potential causes and solutions.

Please move comments and conversation to #346.

[2019-07-29 18:35] aufdenkampe commented on #346
From @dbressler75 via email on July 9:

[2019-07-29 18:39] aufdenkampe commented on #346
Closing this because it is a duplicate of #364.

Please move comments and conversation to #364.

[2019-07-29 18:39] HeatherBrooks commented on #337
I stated back in the original issue that "Content" and "Deployment Type" had been abandoned and should be removed from display, and I just verified on staging that has been done.

Unfortunately, as I noted (seven months later, sorry!) in #408, I was wrong about "Deployment Type." It is still being used, albeit for a different datum than I expected, so it needs to be displayed, and the label needs

[2019-07-29 18:43] HeatherBrooks commented on #335
Checked on staging; titles have been updated.

[2019-07-29 18:52] aufdenkampe commented on #364
@SRGDamia1 & @dbressler75,

There is a possibility that this issue has been resolved with some of the other CSV-related bug fixes for R0.10, or some of the recent server configuration changes that we have made in the last two months.

Please re-test on our staging servers at https://staging.monitormywatershed.org​.

Also please share the site ID and CSV files that you used for testing, so that we

[2019-07-29 18:57] aufdenkampe commented on #294
@SRGDamia1, would you be able to work with @HeatherBrooks and @dbressler75 to post some documentation on the expected CSV file format at https://wikiwatershed.org/help/sensor-help/?

[2019-07-29 18:58] #346 closed

[2019-07-29 18:59] #335 closed

[2019-07-29 19:01] aufdenkampe commented on #337
@HeatherBrooks, thanks for testing and connecting the dots between issues.

I think we will close this issue as is for now, in the interest of getting this bug fix release out, and then address #408 with the next release 0.11.

[2019-07-29 19:01] #337 closed

[2019-07-29 19:03] aufdenkampe commented on #333
Thanks for noticing that. We'll correct it.

[2019-07-29 19:03] #338 closed

[2019-07-29 19:04] #324 closed

[2019-07-29 19:06] aufdenkampe commented on #379
@emiliom, thanks for that summary of where we're at.
I agree that we should close this issue and work on the performance improvements elsewhere.

[2019-07-29 19:06] #379 closed

[2019-07-29 19:06] HeatherBrooks commented on #396
I tested this on staging and it still hangs up on "Compiling files" when I try to download two months of data for site WCD696.

[2019-07-29 19:07] aufdenkampe commented on #396
Thanks @HeatherBrooks for all your testing. We'll look at this.

[2019-07-29 19:38] emiliom commented on #379
This issue was about WOFpy not working at all on the EnviroDIY server, not performance per se. Getting WOFpy working again was/is the focus of https://github.com/LimnoTech/ODM2DataSharingPortalConfig/issues/12

See https://github.com/ODM2/WOFpy/issues/228, where I tracked past discussions and issues previously brought up. It doesn't look like I ever opened a follow up, more specific issue on perfo

[2019-07-30 14:54] SRGDamia1 commented on #294
@dbressler75 - don't you and Scott have something?

[2019-07-30 15:02] SRGDamia1 opened #414 "LOTS of jquery and bootstrap errors/warnings"
When loading a site page on staging firefox with developer tools turned on, I'm seeing an enormous number of warnings from jquery and bootstrap.  The page appears to be fine, but I'm guessing all the warnings mean something.

[2019-07-30 15:16] SRGDamia1 commented on #347
This looks ok on staging

[2019-07-30 15:20] SRGDamia1 commented on #364
There seems to be a hard file-size limit of ~1MB - any files larger than that have the POST immediately fail with 413/Request entity too large.  With 5 parameters, each with a small number of significant figures, at 5 minute intervals, that's less than four months of data - ie, *definitely not enough.*  I think the file size limit is django induced and would have to changed in the settings.

When

[2019-07-30 15:21] aufdenkampe commented on #414
@SRGDamia1, thanks for letting us know. We'll look into it.

[2019-07-30 15:22] SRGDamia1 commented on #307
looks good on staging

[2019-07-30 15:22] #307 closed

[2019-07-30 15:25] aufdenkampe commented on #364
@SRGDamia1, thanks for that testing and related info. It's very helpful.

[2019-07-30 15:26] SRGDamia1 commented on #190
I don't see the fix on staging, but it seems ok on the live site.

[2019-07-30 15:29] SRGDamia1 commented on #191
The search seems to be working on staging.  I'd still prefer the split, but I guess that problem is an ODM2 structural one.

[2019-07-30 15:29] #191 closed

[2019-07-30 15:32] SRGDamia1 commented on #340
This looks good on staging.

[2019-07-30 15:32] #340 closed

[2019-07-30 15:33] SRGDamia1 commented on #343
Looks to be fixed on staging.

[2019-07-30 15:34] SRGDamia1 commented on #345
I was able to upload a file with a really long name on staging.

[2019-07-30 15:34] #345 closed

[2019-07-30 15:35] SRGDamia1 commented on #365
I still see Kenny's name 4 times in the list.

[2019-07-30 15:37] SRGDamia1 commented on #383
I'm not sure how well I can test this on staging because none of the sites are live.

[2019-07-30 15:52] aufdenkampe commented on #344
Looking good on staging, when editing my profile and trying to add a new organization from there.

[2019-07-30 15:52] #344 closed

[2019-07-30 16:25] SRGDamia1 opened #415 "Show notes field in the table on the manage sensors page"
![image](https://user-images.githubusercontent.com/5374350/62147278-2d4f8b80-b2c5-11e9-96b5-8dffdcc2de95.png)

[2019-07-31 14:00] HeatherBrooks commented on #294
@SRGDamia1 @dbressler75 I just spoke with Scott Ensign and he pointed me to the EnviroDIY Mayfly Sensor Station Manual. If you can confirm that the instructions under "Option 2. Manual Upload" in [this section of the manual](https://www.envirodiy.org/mayfly-sensor-station-manual/#registering-a-station-on-monitormywatershedorg) are correct, I will add them to [https://wikiwatershed.org/help/sensor-

[2019-07-31 14:49] SRGDamia1 opened #416 "Fix csv header reader"
https://github.com/ODM2/ODM2DataSharingPortal/blob/b95ca4356d73466a5ccf0298b122a38cad8fcfde/src/dataloaderservices/views.py#L189

I wrote this function, but because it's looking for an element in the row, it means the csv to upload (rather obnoxiously) requires a comma after the feature UUID if it's alone in a row, because the row[0] requires that the row was read as a list not just as a string.

[2019-07-31 15:11] SRGDamia1 commented on #416
Also apply the fix such that the "Date and Time in UTC###" header could be alone on a row.

https://github.com/ODM2/ODM2DataSharingPortal/blob/b95ca4356d73466a5ccf0298b122a38cad8fcfde/src/dataloaderservices/views.py#L215

[2019-07-31 15:51] SRGDamia1 commented on #294
[Uploading CSVs to MMW.docx](https://github.com/ODM2/ODM2DataSharingPortal/files/3452758/Uploading.CSVs.to.MMW.docx)

[2019-07-31 17:53] #377 closed

[2019-08-01 16:10] jcaraballo17 commented on #365
@SRGDamia1 Checked the users list, and Kenny had 4 different users registered to his name. Deleted 3 of them in both the staging and production databases. Let me know in a new issue if there's another person that's repeated several times.

[2019-08-01 16:15] jcaraballo17 commented on #383
Both sites mentioned seem to have the correct color for their data last update time. This was probably an issue when the InfluxDB instance was all messed up.

[2019-08-01 16:56] aufdenkampe opened #417 "Confirm everything is correct in `requirements.txt` for R0.10"
Confirm everything is correct in the `requirements.txt` file in the `development` branch to reflect our recent Django 1.11.20 updates to staging (see . https://github.com/ODM2/ODM2DataSharingPortal/blob/development/requirements.txt.
See https://github.com/ODM2/ODM2DataSharingPortal/issues/380

I changed the file to reflect the update to Django==1.11.20 (https://github.com/ODM2/ODM2DataSharingPorta

[2019-08-01 17:53] Volk3rJ opened #418 "Problems with manual data upload"
We are maintaining a few sites with manual (csv file) data upload only. I noticed a few issues related to that:

1. CSV file upload message "CSV upload failed". I received this message about 50% of the time when uploading data. The csv file is in the right format (I believe) and the data is accessible on the site afterwards.

2. After data has been uploaded the sata is accessible through the time

[2019-08-01 18:01] jcaraballo17 commented on #396
Both the TSA file compilation issue and the Data Portal download error were fixed back in January, but those fixes never made their way to production. I've updated the staging server's TSA with that fix, and it should be working now.

Just tried downloading one and a few series from the same site mentioned above and it works.
https://staging.monitormywatershed.org/tsa/?sitecode=WCD696&variablecode

[2019-08-01 18:13] jcaraballo17 commented on #329
Issues solved in #396.

[2019-08-01 18:54] jcaraballo17 commented on #414
@SRGDamia1 I'm seeing these warning whenever I go to to a site details page on Firefox.

![image](https://user-images.githubusercontent.com/4700505/62319295-a7217980-b46b-11e9-8a97-edd1a969b36f.png)

Are these the warnings you're seeing? The `.map` files are there to help the browsers debug a minified javascript file. Looks like Mauriel never included the map files for some of the javascript libra

[2019-08-01 19:09] aufdenkampe commented on #396
@HeatherBrooks & @jcaraballo17,

From my testing, data download works just fine from https://staging.monitormywatershed.org/sites/WCD696/

However, when I go here
http://staging.monitormywatershed.org/tsa/?sitecode=WCD696&view=datasets&plot=false
Then select 5 time series, then click on "Export selected (.zip)", that seems to "hang".
Or maybe it just takes a very long time, because that site has s

[2019-08-01 19:09] #396 closed

[2019-08-01 19:16] aufdenkampe commented on #329
I just did a comparison of different files for https://staging.monitormywatershed.org/sites/WCD696/, and they look very consistent to me.

There are very minor differences in the header and columns, but these will not affect how these files are parsed.

[2019-08-01 19:16] #329 closed

[2019-08-01 19:21] aufdenkampe opened #419 "Checklist: Test staging web + production database"
### **Pre-Production** = staging web server + production database server

Just prior to release, we will point the staging web server to the production database server.

AFTER we do this, we will do a 2nd round of testing, which will include a general set of tests and release-specific tests.

**General Tests**, confirming the the following work:
- [x] Data values up to date?
  - Compare "Last Meas

[2019-08-01 19:23] SRGDamia1 commented on #414
![image](https://user-images.githubusercontent.com/5374350/62321296-4a748d80-b470-11e9-9ccc-53923cca06cc.png)

[2019-08-01 19:25] SRGDamia1 commented on #414
I get lots and lots of errors like these on all of the pages on staging.  The pages do seem to look right, but it's a lot of errors.

[2019-08-01 19:33] aufdenkampe commented on #414
@SRGDamia1, thanks for that feedback and screenshot of your errors.
Let's put this one on the back burner, given that @jcaraballo17 doesn't see the same errors as you and it all seems to be working for you anyways.

[2019-08-01 19:37] tslawecki commented on #414
One question for @SRGDamia1 - what browser are you using? There's a little bit of [StackOverflow](https://stackoverflow.com/questions/38536775/bootstrap-3-3-6-warnings-and-errors-in-bootstrap-min-css) discussion of these types of errors arising in Firefox.

[2019-08-01 19:37] aufdenkampe commented on #365
I just checked and I see a few repeated names, but most are associated with different organizations. I'm suspecting that the remainder are from different accounts that might have bee recreated by accident.

Closing this issue.

[2019-08-01 19:37] #365 closed

[2019-08-01 19:44] SRGDamia1 commented on #414
I'm a Firefox junky; I only use other browsers when forced and then I tend to whine about it.

[2019-08-01 20:18] aufdenkampe opened #420 "Checklist: Final test of new Release on Production"
AFTER we:
- Test staging web + production database (#419), and
- Switch IP addresses to promote the staging server to production.

**General Tests**, confirming that the following work:
- [x] Data values up to date?
- [x] Sparkline plots?
- [x] TSA connecting, plotting, downloading?
- [x] Edit station, add sensor?

**Release-Specific Tests**
- [x] Scan through & test issues in Milestone for the re

[2019-08-01 20:23] jcaraballo17 commented on #417
Yes, this is the correct `requirements.txt` file.

[2019-08-01 20:29] #417 closed

[2019-08-01 20:52] aufdenkampe commented on #190
@SRGDamia1, yes, this is fixed on production but not on staging.
@jcaraballo17, can you look at what might have happened?

[2019-08-01 20:56] jcaraballo17 commented on #364
Incresed the file size limit to 100MB since nginx caps it at 1MB by default.

[2019-08-01 21:00] aufdenkampe commented on #364
@SRGDamia1, please retest on staging with your large file.

[2019-08-01 21:15] jcaraballo17 commented on #190
This wasn't fixed on production. Because of the `units_type: units_name (units_abbreviation)` format the text had, it was all ordered by `units_type`. In December I changed that format, but didn't change the ordering.

The dropdowns are now ordered by `units_name` and with the latest format it looks like this:
![image](https://user-images.githubusercontent.com/4700505/62327952-d2ae5f00-b47f-11e9-9

[2019-08-01 21:54] SRGDamia1 commented on #364
Now I can upload the file, but the request times out and the data isn't appended.

[2019-08-01 21:56] SRGDamia1 commented on #364
@aufdenkampe and @jcaraballo17 I emailed you some files.

[2019-08-01 22:33] aufdenkampe commented on #190
@jcaraballo17, this looks great, and the filtering is very nice!

[2019-08-01 22:33] #190 closed

[2019-08-01 22:37] aufdenkampe commented on #383
We'll do a final test with #419.

[2019-08-02 01:34] htaolimno commented on #333
An improvement to the code based on checking user's authentication status has been pushed to branch.

[2019-08-02 01:39] aufdenkampe commented on #333
Hua, that is awesome. Is it ready to be tested on staging?

Sent from my iPhone

On Aug 1, 2019, at 8:34 PM, htaolimno <notifications@github.com<mailto:notifications@github.com>> wrote:

An improvement to the code based on checking user's authentication status has been pushed to branch.

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.

[2019-08-02 02:44] htaolimno commented on #372
I made changes to the branch to allow blank organization name when new user signs up.

[2019-08-02 03:09] htaolimno commented on #416
@SRGDamia1 could you please send me an example *.csv file for debugging and testing purpose ?

[2019-08-02 11:34] aufdenkampe commented on #294
@SRGDamia1, thanks for sharing these instructions.
I think it would be helpful to also include a few examples with the instructions, just including the headers and a few lines of data. Could you provide one or two to @HeatherBrooks?

[2019-08-02 11:50] aufdenkampe commented on #416
@SRGDamia1, it would be great if you could email a file that now fails to upload but that you would like to pass.  Thanks.

[2019-08-02 12:45] SRGDamia1 commented on #416
Put some in the google drive folder: https://drive.google.com/drive/u/1/folders/1pJk3SQqr06_IsvD_QEV4tCJgtZ65_GxY

It's this comma that I want not to need:
![image](https://user-images.githubusercontent.com/5374350/62371065-d71b5c00-b501-11e9-9c05-65b58524f587.png)

[2019-08-04 02:16] htaolimno commented on #416
code fix committed to the development branch.

[2019-08-05 15:11] htaolimno commented on #333
looks like it works as intended.

[2019-08-05 15:11] #333 closed

[2019-08-05 15:13] htaolimno commented on #372
I tested the registration without entering an organization name and no error occurred.

[2019-08-05 15:13] #372 closed

[2019-08-05 15:15] htaolimno commented on #416
@SRGDamia1 would you please spend a few minutes testing the *.csv import again. I am new to the project and don't have an active site ready for testing the functionality.

[2019-08-05 17:19] aufdenkampe commented on #416
@htaolimno, those files each have a site code in there name, which translate to these web pages:
- https://staging.monitormywatershed.org/sites/BCRC9S/
- https://staging.monitormywatershed.org/sites/ROCK_DS2/

To test the manual upload:
1. scroll down to the "Sensor Observations..." panel and click on the green "Manage Sensors" button, and
2. scroll down to the "Upload a data file (.csv)" panel an

[2019-08-05 18:05] htaolimno commented on #416
@aufdenkampe  First I didn't see the green "Manage Sensors" button, but I quickly realized that I should assign myself a admin role. I just tested uploading to site BCRC9S a csv file whose first line does not end with a comma and it went through fine. I consider the issue is fixed and issue closed.

[2019-08-05 18:05] #416 closed

[2019-08-05 18:26] SRGDamia1 commented on #416
Thanks!

[2019-08-05 18:27] aufdenkampe commented on #416
@htaolimno, thanks! Yes, I forgot to mention that you need to login as Admin.

[2019-08-05 18:30] aufdenkampe commented on #364
@jcaraballo17, it looks like there is still an issue with this.

[2019-08-07 18:09] aufdenkampe commented on #383
Confirmed in Preproduction Test in #419!

[2019-08-07 18:24] aufdenkampe commented on #419
@tslawecki, this looks good to me. Let's push the release!

[2019-08-07 18:35] #419 closed

[2019-08-08 15:40] #420 closed

[2019-08-08 18:07] aufdenkampe commented on #364
@SRGDamia1 and @jcaraballo17, is there a portion of this issue that isn't fixed?
If so, let's refactor the issue to focus on what's remaining, and put that new issue in the next milestone.

[2019-08-08 19:47] dbressler75 opened #425 "data sets not clickable (see attached)"
![datasets_not_clickable](https://user-images.githubusercontent.com/39309124/62732991-a9e41780-b9f3-11e9-9f19-539c4d354bb1.JPG)

I'm simply trying to graph cond data from different sites and it won't allow me to click more than two variables to plot.

[2019-08-08 19:49] dbressler75 commented on #425
![datasets_waterdepth_not_clickable](https://user-images.githubusercontent.com/39309124/62733154-047d7380-b9f4-11e9-85c7-f706c8c0b70d.JPG)

Nothing is clickable for water depth

[2019-08-08 19:51] dbressler75 commented on #425
![datasets_temp_is_clickable](https://user-images.githubusercontent.com/39309124/62733366-705fdc00-b9f4-11e9-80e8-26f89003dcdb.JPG)

Temperature works though

[2019-08-08 19:54] dbressler75 commented on #425
![datasets_turb_is_clickable](https://user-images.githubusercontent.com/39309124/62733487-bb79ef00-b9f4-11e9-9546-758d7d4c9dde.JPG)

Five turb (five is max correct?) are clickable, so turb seems to be working too

[2019-08-08 23:19] SRGDamia1 commented on #364
Yes, while it will not accept a larger file, it will still time out and fail to upload.  I haven't tested the exact limit, but it's less than a year worth of 5 minute data, which is too small.

[2019-08-08 23:22] SRGDamia1 commented on #364
And, yes, I think stations should be visited and files downloaded [much] more frequently than that, but it doesn't always happen.

[2019-08-09 21:29] neilh10 opened #426 "email using monitormywatershed.org"
I had an email today that referenced https://www.monitormywatershed.org/sites/LCC45a2/
which on clicking responded

"Bad Request (400)"

On using https://data.envirodiy.org/sites/LCC45a2/
it works OK.

I have never accessed monitormywatershed.org.
I would think it either shouldn't be referencing monitormywatershed, or it should be being processed. (https://github.com/ODM2/ODM2DataSharingPortal/iss

[2019-08-09 21:33] neilh10 opened #427 "Anomalous "Last observation" in year 2049"
For the site  https://data.envirodiy.org/sites/LCC45test1/

It indicates
Last observation:
April 22, 2049, 5:01 p.m. (UTC-08:00)    -9999.0

I would expect that no data reading could be a future reading.

[2019-08-15 16:15] HeatherBrooks commented on #407
@aufdenkampe Tara Muenz has asked me for a progress update as she is hoping to introduce the new leaf pack data entry process at a workshop on October 5. I believe the new leaf pack experiment kit with the updated data entry forms and biotic index calculation is on sale or will be soon. How soon are the changes likely to reflected in the data portal? I see you've assigned a due date of August 31 b

[2019-08-15 20:22] HeatherBrooks commented on #294
@aufdenkampe @SRGDamia1 @dbressler75 I've posted the instructions at [https://wikiwatershed.org/help/sensor-help/uploading-csv-sensor-data/](url).

[2019-08-21 15:38] aufdenkampe commented on #391
@tslawecki, as we discussed, before we try this, we should research whether the jump from Ubuntu 16 to 18 will complicate things for our software stack that currently uses Python 2.7.

According to https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes, Python 2 is no longer installed by default with Ubuntu 18. This may or may not complicate things for us.

There are many benefits to upgrading from 16

[2019-08-27 16:20] aufdenkampe opened #428 "Zoom map view when editing a site"
Map view is zoomed close when viewing site details, but zooms back out to state/regional scales as soon as editing.

[2019-08-27 17:43] aufdenkampe opened #429 "New users not in "Deployment By" list for superusers"
Newly registered users are not showing up in the "Deployment By" list, when our LimnoTech account (Admin) edits a site, which means that I can't transfer a site to another person. This is a critical issue that needs a hot fix.

I experienced it on production, but then just tested it on staging, with the "LimnoTest" user.

When logged in as  "LimnoTest" user:
<img width="1044" alt="image" src="http

[2019-08-29 23:09] SRGDamia1 commented on #315
I think this has been done.

[2019-08-29 23:11] SRGDamia1 commented on #33
+1 on this again.  I've begun to dread being handed a bunch of boards to set up on the portal and program because it takes so. much. clicking.  And then I have to copy and paste the UUID's one-by-one.  It's awful.

[2019-09-04 14:55] SRGDamia1 opened #430 "Uploaded CSV data not appearing / not filling gaps in TSA"
http://data.envirodiy.org/sites/4GBee_Bypass/ - the live data gapped here between 9/2 and 9/3.  I've uploaded the file which contains the missing data.  The upload gives a success message, but the gap persists.

[2019-09-05 18:02] #315 closed

[2019-09-05 18:04] aufdenkampe commented on #315
Yes! Thanks @SRGDamia1  for the housekeeping on this!

[2019-09-05 21:10] aufdenkampe opened #431 "Switch from Gunicorn to uWSGI"
WOFpy uses uWSGI application server framework, and it looks to be much faster than Gunicorn. See https://blog.kgriffs.com/2012/12/18/uwsgi-vs-gunicorn-vs-node-benchmarks.html

Since we'll want to unify the stack, let's consider switching to uWSGI.
https://uwsgi-docs.readthedocs.io

[2019-09-05 21:32] neilh10 commented on #315
Just wondering - is this available on https://data.envirodiy.org - I don't see anything if I go through "Add New Sensor"  - I tried
Sensor Manufacturer=ALL, Sensor Model =Calculated Measured Variable=

I'm actually looking to create sensors that show current taken by a large piece of equipment - a fisheries PIT Tag array.  The current can go to 8A.
I'm using Sensor INA219, with Current Measurement

[2019-09-05 23:12] SRGDamia1 commented on #315
Right now I think it's assigned to a Mayfly

[2019-09-10 19:59] aufdenkampe opened #432 "WOFpy returning only most recent value"
Although @emiliom did a major fix, overhaul and update of our Water One Flow / WaterML web services with Python (WOFpy) deployment with the #379 fix and the last release of the MonitorMyWatershed.org portal, there has been one known remaining issue.

Presently, all Get Values requests only return the most recent data value for the requested time period.

For example the following should return all

[2019-09-10 20:42] aufdenkampe opened #433 "WOFpy timestamps not correct"
We just discovered that WOFpy is returning UTC time stamps in place of the local time, and that transmitted `dateTimeUTC` values are wrong, because they're mis-calculated.

### Here's the sleuthing I did to figure this out.

When I run this Get Request, without naming a time, it should give me the most recent data value. https://monitormywatershed.org/wofpy/rest/1_1/GetValues?location=envirodiy:CW

[2019-09-10 20:43] aufdenkampe commented on #433
@htaolimno, could you look into the timestamps that are stored in the ODM2 database for this record, and let me and @emiliom know if the issue is on the DB side or the WOFpy side?

[2019-09-10 21:06] aufdenkampe commented on #430
@SRGDamia1, yes, we had a 3-4 service gap around Sep 2-3 for all sites.

The real issue is with uploading to fill the data gap.

@Volk3rJ recently had the same issue, but found that the data is actually getting uploaded to the database, because it is immediately available for download. However, the new data is not showing up in the Sparklines or TSA. This tells me that there's an issue with updati

[2019-09-10 21:50] SRGDamia1 commented on #432
Is there a known fix?

[2019-09-10 21:55] SRGDamia1 commented on #430
The sparklines and TSA are definitely only being update on the half-hour instead of instantly.

But even half-an-hour later file uploaded gaps aren't filled.

[2019-09-10 22:35] emiliom commented on #432
Not yet. It's waiting for me to have the time to look into it.

[2019-09-11 11:38] Volk3rJ commented on #430
I got different results with different stations. Some update the sparklines, some don't. The TSA seems to work now but it took a lot longer than 30 minutes for the data to be available there. Below are my 4 stations. All of them have data until 08/23/19.

* http://data.envirodiy.org/sites/DoEE_McF_PPF-09N/   (sparklines work for one sensor, outdated for the other)
* http://data.envirodiy.org/sites

[2019-09-11 15:59] aufdenkampe opened #434 "Remove InfluxDB by using materialized views PostgreSQL"
### History of using InfluxDB
The addition of InfluxDB to the ODM2DataSharingPortal software stack was done back in 2017 or so to improve the read performance for plotting time series in the sparkline plots and for TSA. Prior to its use, that plotting functionality was too slow to be usable. However, at the time, the data was fetched for those functions (or at least TSA) using WOFpy & WaterML, whi

[2019-09-16 16:36] SRGDamia1 commented on #241
This needs to be done again.

[2019-09-16 17:56] aufdenkampe commented on #241
Good to know. Thanks!

[2019-09-17 20:13] SRGDamia1 commented on #347
The success window is still disappearing without being dismissed.

[2019-09-18 18:08] SRGDamia1 opened #435 "Sites are duplicated on map"
Some sites have duplicate markers on the map when browsing sites.

Some I've found:  Coldwater Moorse, SWRCWEATHER, Davis Weather,

[2019-09-19 21:21] SRGDamia1 commented on #383
It seems that the "liveness" of the data for purposes of the coloring is based on the time of the last registered variable.

Search for NHPK9S - it shows grey = no data from sensors but it actually has live data from several sensors - it's only a single added new variable that doesn't have data:

![image](https://user-images.githubusercontent.com/5374350/65281975-cc447700-db01-11e9-99e9-7d34394349

[2019-09-19 21:31] aufdenkampe commented on #383
Thanks for figuring out the details of this bug!

[2019-09-19 21:36] SRGDamia1 commented on #430
Jacob Lemon was seeing gaps persisting at his stations - http://monitormywatershed.org/sites/ColdwaterMorse/

[2019-09-19 21:41] SRGDamia1 commented on #430
@Volk3rJ - can you tell me if the data is at least in the ODM2 database, even if it's not viewable on TSA?

[2019-09-19 21:43] SRGDamia1 commented on #383
Interestingly, at that site, I started back-filling the missing turbidity data.  As soon as a single point was added to the turbidity, the site became green - even though that single turbidity point was from 2017.

Note:  I'm adding the data via post requests, not by uploading csv's.

[2019-09-19 21:45] SRGDamia1 commented on #364
It's back to only accepting ~5000 lines at once.  That's a ridiculously small amount.

Also, any blank lines in the file (like extra new lines at the end) will cause the upload to fail.

[2019-09-20 15:54] dbressler75 commented on #425
Problem of data sets not being clickable seems to be persisting

![datasets_not_clickable2](https://user-images.githubusercontent.com/39309124/65341007-69a0b900-db9d-11e9-883f-a92125606611.JPG)

[2019-09-20 17:49] aufdenkampe commented on #425
@dbressler75, Thanks for documenting this bug with screenshots!

[2019-09-21 18:15] SRGDamia1 opened #436 "Data isn't appearing in sparklines or TSA - but only for some parameters"
At this site:  http://data.envirodiy.org/sites/PKPC3S/

Data is being sent from the logger every 5 minutes.  The single most recent point seems to be correctly shown under the sparkline, but the sparklines themselves are empty for all variables except modem signal strength and RSSI.  TSA also shows only those two variables at that site.  But calling WoFPy or downloaded the csv from the site inform

[2019-09-26 16:53] aufdenkampe commented on #391
Looks like Ubuntu 18.04.3 LTS should be our new target.
See https://wiki.ubuntu.com/Releases

[2019-09-27 19:16] HeatherBrooks commented on #294
@dbressler75 Additional instructions and an example CSV file have been added to the [documentation](https://wikiwatershed.org/help/sensor-help/sharing-sensor-data/#manually-uploading-data-from-a-file).

[2019-10-01 16:37] htaolimno commented on #404
@aufdenkampe I am new to Leaf Pack Network. Could you verify that the LPN registration link isn't working? Clicking the link would redirect user to login page. Is this link a known issue also ?

[2019-10-01 18:08] SRGDamia1 commented on #404
@HeatherBrooks

[2019-10-01 18:56] HeatherBrooks commented on #404
@htaolimno Are you asking if the LPN "Register" link on the homepage should have the same fix you implemented for the EnviroDIY Register link (#333)? If so, the answer is yes. It should link to http://monitormywatershed.org/sites/register/. If user is not logged in, it should send the user to the login page. After logging in the user should be redirected to the site registration page.

[2019-10-02 20:42] aufdenkampe commented on #383
Ah, so there are two fixes to make here:
1. look for actual date time of the data value, rather than the date time it was last updated.
2. look at the most recent date time for any variable at the station, not just the last one added.

[2019-10-02 21:05] aufdenkampe commented on #436
This is an issue with the connection to the InfluxDB database mirror getting hung up and not syncing for some or all time series. The InfluxDB mirror feeds Sparklines and TSA.

This issue has re-occurred repeatedly since starting to use InfluxDB (see #390, #378, #193, #131, #130, #99, etc.). The short term fix is to manually restart those connections. We have notes on how to do that, depending on

[2019-10-02 21:09] aufdenkampe commented on #436
Pasting from an email from @s-hicks2:

[2019-10-03 21:43] SRGDamia1 commented on #241
Just did this myself

[2019-10-03 21:44] aufdenkampe commented on #241
Thank you!

[2019-10-03 22:25] SRGDamia1 commented on #241
This should automatically be run every so often.  Once a week or so, maybe.

[2019-10-04 02:00] SRGDamia1 commented on #436
All of those sites look okay now. I don't understand why they went off in the first place, but the full rebuild seems to have got it back up.

[2019-10-04 02:02] aufdenkampe commented on #436
That is great news! Thank you for running the scripts and checking if it worked.

I don't know why parts of this always break over time either, but it is very frustrating. I'm really glad that we now know how to fix it ourselves. Those scripts that you ran were written from scratch by Juan in late January, because the other ones failed repeatedly during rebuild.

[2019-10-07 13:44] htaolimno commented on #404
@HeatherBrooks a few questions: 1. for the two newly added taxa, you provided common name and scientific name . Do you have additional information to fill fields in the "macroinvertebrate" table ?, like URL, latin name, etc. 2. both snails have their scientific_name changed to "Gastropoda". Are scientific name no longer unique in the database ?  3.  I saw a new "Odonata" scientific name in Group 2

[2019-10-07 14:24] htaolimno commented on #404
@HeatherBrooks  4. Is "Dobsonflies,fishflies, and alderflies" in "Group 1:Sensitive" same as "Alderflies, dobsonflies, fishflies" in the MacroInvertebrate table ? 5. What are the group assignment for "dobsonfilies/fishflies" and "Alderflies" ? these are two separate taxa in the Macroinvertebrate table.

[2019-10-07 14:50] htaolimno commented on #404
@HeatherBrooks I also fixed the LPN "Register" link according to your comment a few days ago. You'll see it in the new release.

[2019-10-07 15:03] HeatherBrooks commented on #404
@htaolimno Just talked with Dave Arscott; here are the answers to your first set of questions:
1. See the yellow highlighted rows in [this Google Sheet](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing). Let me know if you need any additional information.
2. Retain the current assignments in the database, i.e. Left-handed/lunged snails (Archaeopu

[2019-10-07 15:36] HeatherBrooks commented on #404
@htaolimno Next set of answers:
4. Yes, this is just a reordering of the names to align with the data entry form in the experiment kit.
5. Dobsonflies/fishflies and Alderflies shoiuld be assigned to Megaloptera. I assume since Megaloptera appears on data entry form, it already has an entry in the database? I have added it to the ITIS identifier Google Sheet in case you need more information.

[2019-10-07 16:24] htaolimno commented on #404
@HeatherBrooks yes, Megaloptera is a separate entry. three following three are all separate entries in the macroinvertebrate table:
- Alderflies, dobsonflies, fishflies(Megaloptera)
- Dobsonflies/fishflies(Corydalidae)
- Alderflies(Sialidae)

[2019-10-07 17:19] HeatherBrooks commented on #404
@htaolimno Thank you. Please see the second task in #405 for how the three separate table entries need to be treated.

[2019-10-07 18:43] aufdenkampe commented on #404
@htaolimno, let's use these GoogleSheets to organize our information for these connected issues:
- [Leaf Pack Network Macroinvertebrate ITIS Identifiers](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit#gid=0)
- [Biotic Index Calculation](https://docs.google.com/spreadsheets/d/1CjhS9nFur2oBzLn0ob7-Lrs5AEEZLGGXiv4yPjc2wsg/edit#gid=1466203958)

@HeatherBrooks,

[2019-10-07 19:47] htaolimno commented on #407
I implemented the new Pollution Tolerance Index. Changes will be available for testing soon.

[2019-10-07 20:14] htaolimno commented on #404
@HeatherBrooks I probably have to break the uniqueness on "scientific_name" field of macroinvertebrate table anyway, because taxa "All caddisflies (Trichoptera)" and "Other caddisflies (Trichoptera)" share the same scientific_name.

[2019-10-07 20:42] HeatherBrooks commented on #404
@aufdenkampe I've completed the Group and DisplayOrder entries in the ITIS identifiers sheet.

Here are the final versions of the [LaMotte data sheets](https://drive.google.com/drive/folders/1GlpD9CC6LITthxGEQMQrt0gEIFSwk4tF?usp=sharing).

@htaolimno Please be aware that I haven't yet updated the common names in the ITIS identifier sheet to match the final files. I can do that tomorrow. They shoul

[2019-10-07 20:52] aufdenkampe commented on #404
@HeatherBrooks, thanks for filling out the new columns in the [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit#gid=0) sheet!

I've now sorted the sheet in display order.

@htaolimno, that is correct that the recent decision to include partial taxonomic groups such as  "Other caddisflies" means that

[2019-10-07 23:53] htaolimno commented on #406
@HeatherBrooks  is there any order to display the taxa in each group ? they look random to me.

[2019-10-08 14:40] HeatherBrooks commented on #406
@htaolimno The taxa display order in each group needs to match the order in the [Experiment Summary Data Sheet](https://drive.google.com/open?id=1azne5h8DDHKLYV73N1ypbVq8Da7CL4ml) included in the Leaf Pack Experiment kit. We're trying to maintain consistency between the paper forms people use to record their data during their experiment and the portal data entry form. The correct order is also lis

[2019-10-08 15:22] HeatherBrooks commented on #404
@htaolimno I've updated the common names in [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing) to match the final experiment kit data sheets. I've also noted two name changes in the third task in original post in this issue. Sorry for the late changes ... I just received the final version

[2019-10-08 19:29] htaolimno commented on #406
@HeatherBrooks sounds good. thank you.

[2019-10-09 20:55] htaolimno commented on #408
@HeatherBrooks I assume that the "/sites/Pt_Lookout_Forest/leafpack/6/update/" page needs to change to display the taxa names and counts by three groups under section 3 "Enter your macroinvertebrate count data".

[2019-10-09 21:00] HeatherBrooks commented on #408
@htaolimno Yes, that's correct. Anywhere we're displaying macroinvertebrate counts, display the data by pollution sensitivity group. Thanks!

[2019-10-09 21:18] HeatherBrooks commented on #404
@aufdenkampe I talked with Arscott and he agrees that we need the category to be more specific than "Other caddisflies (Trichoptera)." [This datasheet](https://sitesmedia.s3.amazonaws.com/creekconnections/files/2014/02/PTIdatasheet.pdf) from an adaptation of the EPA Volunteer Stream Monitoring Methods Manual refers to non-net-spinning caddisflies, so how about this category name: _Non-net-spinning

[2019-10-11 18:35] HeatherBrooks opened #440 "Security vulnerability reported"
A user privately reported a security vulnerability to me earlier today. I sent details in an email to @aufdenkampe but have received no response. As I am not an admin on this repository, I can't open a security advisory. Please contact me ASAP for details. @htaolimno @jcaraballo17

[2019-10-11 19:20] tslawecki commented on #409
Although I'm generally not a fan of pie charts, I feel like this may be a not-bad time to use one for two reasons:

1) It would be more visually interesting to have both a pie chart and a bar chart ; and

2) It's a simple enough data set.

On the other hand, maybe a stacked bar chart like #3 in [this blog post](http://www.storytellingwithdata.com/blog/2014/06/alternatives-to-pies) might work, too.

[2019-10-14 19:26] aufdenkampe commented on #440
Thanks for those details emailed privately. We're working on it.

[2019-10-14 19:27] aufdenkampe commented on #404
@HeatherBrooks, sounds good. Did you update the  [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing)?

@htaolimno, can you make this change?

[2019-10-14 19:55] aufdenkampe opened #442 "Clarify our Gitflow workflow conventions; clean stale branches"
For this project we've generally used a form of the collaborative [Gitflow Workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow), which is an extended form of the [Git Feature Branch Workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow) that is suited for projects with a release cycle. Atlassian's documentation (links above

[2019-10-14 19:58] HeatherBrooks commented on #404
@aufdenkampe Thanks for the reminder. I've just updated [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing).

[2019-10-14 20:55] HeatherBrooks commented on #409
@tslawecki I'm sorry, I was waiting for feedback from our education department on your suggestion but they're all out of office for the week. Let me know if you still need it or if you've already worked it out.

[2019-10-14 21:04] tslawecki commented on #409
No worries, regular bar chart is being implemented. We can always revisit later!

[2019-10-15 12:33] dbressler75 commented on #436
http://monitormywatershed.org/sites/SHPK5S/

It seems that data are not showing up in panels and cannot be visualized in TSA (it just spins), but the most recent observation is still showing at bottom of each panel and the main "download sensor data" tab does work.

[2019-10-15 15:07] SRGDamia1 commented on #442
Thank you!

[2019-10-15 19:19] aufdenkampe commented on #436
@tslawecki just fixed it. Hopefully it won't break again.

[2019-10-15 19:19] #436 closed

[2019-10-24 17:05] dancrocker commented on #8
It would be great if there was documentation for output structures as well. I am interested in scheduling automatic downloads of data from Monitor My Watershed (using an R script). I could not find instructions for how to do this elsewhere. Thanks!

[2019-10-24 19:07] SRGDamia1 commented on #8
@dancrocker - downloading the data is a completely different beast from the single-time-point POST requests.  I'm not sure we've ever really publicized any way to do that kind of scripted download.  @aufdenkampe could confirm, but the only way I'm coming up with that you could access the data in an web-service fashion is via the WoFpy endpoint:  http://data.wikiwatershed.org/wofpy/

[2019-10-28 21:38] SRGDamia1 opened #443 "CSV upload is failing to add data to certain variables"
First posted by Jim Moore here:  https://www.envirodiy.org/topic/missing-data-with-manual-upload-to-mmw/

Uploading a file with four variables, data is added to three of them by the fourth one (actually the first in order) is not being attached.  I've confirmed that the structure and all of the UUID's are correct and attempted to upload it myself but I get the same result.

[2019-10-29 13:24] HeatherBrooks commented on #426
@neilh10 Sorry, I just saw this. Moving forward, we will be referring to the data portal as Monitor My Watershed because it is no longer solely focused on EnviroDIY data. I think you may have received these emails while we were in the process of pointing data.envirodiy.org to monitormywatershed.org; I see that the URLs in your issue are resolving properly now. If you're no longer having this probl

[2019-10-29 16:40] neilh10 commented on #426
Great. Fine by me closing.

[2019-10-29 16:40] #426 closed

[2019-10-31 14:41] s-hicks2 commented on #435
I've found at least 8 stations that are duplicated on the map, and some are actually on the map 3 times, all at the exact same location and with the same Site ID and URL link.

http://monitormywatershed.org/sites/MSHO2S/
http://monitormywatershed.org/sites/BCMR1S/
http://monitormywatershed.org/sites/HR_Weir/
http://monitormywatershed.org/sites/WCC718/
http://monitormywatershed.org/sites/SWRCWEATHE

[2019-11-13 00:05] neilh10 opened #444 "TSA Cannot distinguish between multiple timeseries with same variable code, thus all appear when code selected via url"
I've just a got a new simple onsite sensor system working - yeah!
I'm just wondering how to understand the underlying visualization presented for the specific sensor arrangements here http://data.envirodiy.org/sites/TU-RC-01/
Thanks for any insights.

I have a simple power(VA) monitoring application that is being performed on a  pit-tag system embedded in a stream that is  solar powered. The pit-t

[2019-11-13 15:40] SRGDamia1 commented on #444
TSA can only distinguish between the datasets to the level of "variable_code."  It doesn't know anything about notes, offsets, or UUID's.  When you use the "Open in Time Series Analyst" button next to a spark line/summary plot it opens a new page with TSA with the site and variable code specified in the URL.  But because TSA doesn't get more granular than variable codes, all variables with the sam

[2019-11-13 17:02] neilh10 commented on #444
Hello @SRGDamia1 thanks for the explanation,
1) I agree with your name change to this bug report and the intent
In addition I would add that where there are multiple data sets of the level of "variable_code", with no way of differentiating the sensors, it requires a guess to figure out the assocation. I've used Notes to do this for the front-door dashboard sparkline. It appears Notes is not select

[2019-11-13 17:19] SRGDamia1 commented on #444
The spark line is probably just delayed.  I think the sparklines are usually about 30 minutes behind.

[2019-11-18 21:01] SRGDamia1 commented on #432
Has anything changed with this?

[2019-11-19 00:21] emiliom commented on #432
No, unfortunately. It's been hard to find the time for this. But I keep putting it on my calendar every week ... Maybe early next week. Fingers crossed.

[2019-11-21 00:14] neilh10 opened #445 "WOFpy &variable doesn't specify exact series with multiple timeseries with same variable code"
For TU-RC-01 I have specified multiple  All_ExternalVoltage_Battery.
Inspecting with TSA Datasets they are 1906 and 1909
When accessing however I can only specify &variable=envirodiy:All_ExternalVoltage_Battery and this seems to alaternatively provide the data point from 1906 and 1909

http://data.wikiwatershed.org/wofpy/rest/1_1/GetValues?location=envirodiy:TU-RC-01&variable=envirodiy:All_Externa

[2019-11-22 19:42] SRGDamia1 opened #447 "Unsafe deletions from database"
So.. it's possible to delete an instrument_output_variable that is currently in use at a site.  It is also possible to create a new result with an instrument_output_variable that doesn't exist.  These are not good thing.

Back story:
Someone requested that they be able to add Decagon CTD temperature in Fahrenheit.  I was pretty sure that was already an option, but decided to check the instrument_o

[2019-11-27 17:28] w3asa commented on #443
I have started fresh with my GMi_ sensor stations and dropped the # so now TSA links to the specific stations variables rather than the overview map.  However, still dropping the first variable and I have followed the [procedure](https://www.dropbox.com/s/a8v2mkkkpgzksj1/Updates_usergroupmeeting_Oct18%2C2019_v3.pdf?dl=0) outlined by Dave Bressler.
I uploaded SL150 this morning and no lost variabes

[2019-12-10 17:17] w3asa commented on #443
This file won't upload to GMI_WX or GMI_WX2 and no errors generated.  The upload process shows "success..." immediately but no data was uploaded.
[WXdata11-26.txt](https://github.com/ODM2/ODM2DataSharingPortal/files/3946256/WXdata11-26.txt)

[2019-12-10 17:19] w3asa commented on #443
btw its really a .csv file masquerading as .txt since apparently github doesn't like .csv files

[2019-12-13 16:23] mbarneytu commented on #435
Just checking in on this issue, as I encountered it for our site [Coldwater Morse](http://www.monitormywatershed.org/sites/ColdwaterMorse/). I notice that if  I go to My Sites and navigate to the ColdwaterMorse site, the map displays one pin, as expected.

[2019-12-15 13:08] PattyHaug opened #448 "Visualization: graphs not loading since 12/13/2019."
The last day the visualization for selected parameters was working was 12/12/2019.  This feature is not loading and graphing selected parameters.  This is day three of this issue

[2019-12-16 14:29] dbressler75 commented on #448
@aufdenkampe, @SRGDamia1, Data are making it to monitor my watershed (they can be downloaded and current measurement shows up below sparklines) but no sparklines are working and none of the time series analyst tabs are working

[2019-12-16 18:20] aufdenkampe commented on #448
Thanks for the heads up that this has happened again.
We became aware of this issue just before the weekend, and an attempt at a quick fix didn’t work. We're working on it now.

This is the same issue we’ve had to deal with for years, where the database connections to the sparkling and TSA visualization interfaces get messed up. The long-term fix unfortunately requires an architectural overhaul. S

[2019-12-16 20:41] tslawecki commented on #448
A first look shows that the influx database is up and running ...  following example query works:

`curl -G http://dbs.monitormywatershed.org:8086/query -u [user]:[pass] --data-urlencode "q=SHOW DATABASES"`

This one works too, but flags (in Chrome) as not secure:

https://dbs.monitormywatershed.org/query?u=[xxxx]&p=[yyyy]&db=envirodiy&q=SELECT%20time,%20DataValue::field,%20UTCOffset::field%20FROM

[2019-12-16 23:01] aufdenkampe commented on #448
@tslawecki, thanks! That worked!

[2019-12-16 23:01] #448 closed

[2019-12-17 21:21] aufdenkampe commented on #404
@htaolimno just deployed his work on this issue to staging. So far it just includes the "results" of a completed LP experiment, and does not yet include the data entry form.

For an example, see https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/.

@HeatherBrooks, feel free to provide feedback.

[2019-12-17 21:26] aufdenkampe commented on #405
@HeatherBrooks, can we use this site as a test that the calculations are being done correctly?
https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/

Is there another site we could use?

[2019-12-17 21:36] aufdenkampe commented on #406
@htaolimno just deployed an update on this issue to staging. For an example, see https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/.

However, I see that there was some confusion between the guidance provided in this issue (above at https://github.com/ODM2/ODM2DataSharingPortal/issues/406#issue-462162879), versus in https://github.com/ODM2/ODM2DataSharingPortal/issues/404#is

[2019-12-17 21:50] aufdenkampe commented on #407
Now on staging. Please look it over at https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/,
http://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/,
or elsewhere.

[2019-12-17 22:46] aufdenkampe commented on #408
Now on staging, along with #406 & #407. Please look it over at https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/,
http://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/,
or elsewhere.

@htaolimno, it looks like you missed two minor components that @HeatherBrooks had requested. Remaining are:
1.  Move the "Results Overview" table to the top of the "Summary An

[2019-12-17 22:48] aufdenkampe commented on #409
Now on staging, along with #406, #407, & #408. Please look it over at https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/,
http://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/,
or elsewhere.

[2019-12-17 23:03] aufdenkampe opened #449 "Update Django & DjangoRest to fix security vulnerabilities"
The new GitHub "dependabot" created to automated pull requests (and commits) to address new security vulnerabilities. These are:
- Bump django from 1.11.20 to 1.11.23 #438
- Bump djangorestframework from 3.5.3 to 3.9.1 #439

[2019-12-17 23:06] aufdenkampe commented on #449
We merged these into the `develop` branch yesterday.
Today @htaolimno manually updated both django and djangorestframework on staging to the recommended versions. All seems to be working well.

[2019-12-17 23:06] #449 closed

[2019-12-17 23:30] aufdenkampe commented on #442
@htaolimno and I cleaned up stale branches in the repo yesterday and today. Today we confirmed that staging currently reflects the `develop` branch.

Also, I think we will not likely create separate "release" branches, as shown above, because it's added complexity and unnecessary as we don't have the developer bandwidth to work on new features simultaneously with finalizing a release.

[2019-12-17 23:30] #442 closed

[2019-12-18 04:16] neilh10 opened #450 "TimeSeries with Multiple variables or Singleton Unique Sensors"
I'm just wondering, having worked through
https://github.com/ODM2/ODM2DataSharingPortal/issues/443
https://github.com/ODM2/ODM2DataSharingPortal/issues/444
that there are some architectural issues across a number of domains.

Does anybody have the insight (or guesses)  to  know what is likely to work for a unique logger is
1) To have single unique sensors, that is a sensor can't be duplicated in a

[2019-12-18 15:20] HeatherBrooks commented on #406
@aufdenkampe @htaolimno
- "Other caddisflies (Trichoptera)" should be changed to "Non-net-spinning caddisflies (Trichoptera other than Hydropsychidae)" PENDING Sorry, need to verify again with Arscott as this deviates from leaf pack kit data entry form.
- "Rat-tailed maggots (Syrphidae)" should be changed to "Rat-tailed maggots (Eristalinae)" INCORRECT. My mistake -- I took it to subfamily in ITIS

[2019-12-18 16:08] HeatherBrooks commented on #406
@aufdenkampe @htaolimno I have confirmed: Other caddisflies (Trichoptera)" should be changed to "Non-net-spinning caddisflies (Trichoptera other than Hydropsychidae)

[2019-12-18 18:35] HeatherBrooks commented on #404
@aufdenkampe @htaolimno I've checked all of the tasks assigned in the original post against the leaf pack data for [https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/](url).

Tasks were completed properly with one exception; it appears the last task was missed.

- Update title in related link box from “Aquatic Macroinvertebrate Collection” to “Atlas of Common Freshwater Macr

[2019-12-18 18:44] HeatherBrooks commented on #406
@aufdenkampe @htaolimno I've checked all task assigned in the original post against [https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/](url). Everything will be complete once the "Other caddisflies (Trichoptera)" label is changed to "Non-net-spinning caddisflies (Trichoptera other than Hydropsychidae)"

[2019-12-18 20:05] HeatherBrooks commented on #407
@aufdenkampe @htaolimno I checked the calculations for the two sites Anthony mentioned and I'm seeing a couple of issues.

New calculations: (examples from [https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/](url))
1. Sum the total # of taxa groups present for each of the three sensitivity groups. **Needs work.** Taxa with 0 counts are being included in the tally. In Group 1

[2019-12-18 20:13] HeatherBrooks commented on #408
@aufdenkampe @htaolimno Changes look good other than the two missed ones Anthony listed above. The title for the second chart should be "Relative Abundance by Sensitivity Group."

[2019-12-18 20:23] HeatherBrooks commented on #409
@aufdenkampe The new chart looks good, thanks.

[2019-12-18 20:28] HeatherBrooks commented on #409
@aufdenkampe Sorry, missed one thing: the y-axis label should be "% of Total Individuals" instead of "Count" to match the other chart.

[2019-12-18 21:30] HeatherBrooks commented on #408
@aufdenkampe @htaolimno A few questions about the display page:

**Macroinvertebrate Counts Section**
1. Can the Related Link box be moved above the counts, just below the section title, to make it more prominent?
2. Can this section have three columns so all three groups can be displayed side by side? If not, please add whitespace between the bottom of Group 1 results and the top of Group 3 resul

[2019-12-18 21:33] HeatherBrooks commented on #405
@aufdenkampe Since I'm not able to add a new leaf pack experiment using the leaf pack manual example, I think [https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/](url) and [http://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/](url) will work well enough for testing.

[2019-12-18 22:24] aufdenkampe commented on #406
@HeatherBrooks, thanks for all this.

We'll be using the [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing) Google Sheet as our reference for TaxonName (scientific) and CommonName.

Can you confirm that these names are correct? I think I have them right.

[2019-12-19 15:20] HeatherBrooks commented on #406
@aufdenkampe I've just rechecked [Leaf Pack Network Macroinvertebrate ITIS Identifiers-2019](https://docs.google.com/spreadsheets/d/1KDY1lx4A5zW-6jlLcv_YrS8MrrjNZredL_QijpJct9I/edit?usp=sharing). TaxonName and CommonName are correct as listed.

However, please note that for five taxa we are asking that the Parent Taxon rather than the TaxonName be displayed in the data entry form. They should be l

[2019-12-19 15:40] aufdenkampe commented on #406
@HeatherBrooks, I just told @htaolimno that the use of ParentTaxon was a mistake for those 5 entries. I understand your need to match the sheet, but from a data management perspective, it's important that each of these entries refers to something unique. Can I suggest for these five that we use the general syntax of:
- Common Name (ParentTaxon, TaxonName)

Specifically,
- Right-handed/gilled snail

[2019-12-19 15:59] HeatherBrooks commented on #406
@aufdenkampe @htaolimno  It is important to have uniqueness in the labels in the user interface? We thought that by [retaining the current database entries](https://sites.google.com/a/stroudcenter.org/intranet/directory) (Prosobranchia, Archaeopulmonata, Zygoptera, etc.) and just changing the user-facing labels we would be okay from a database management perspective.

[2019-12-19 19:29] aufdenkampe commented on #406
@HeatherBrooks, it is true that we can work around the uniqueness constraint on the User Interface.

I do understand your need to have some match with the LPN data worksheets, and I was thinking that my solution also provides that in addition to meeting additional needs.

There are several reasons why I feel rather strongly that we need a 1:1 correspondence between the common name and the scientif

[2019-12-19 20:57] HeatherBrooks commented on #406
Gotcha. Please implement the Common Name (ParentTaxon, TaxonName) scheme for the five troublesome taxa.

[2019-12-20 20:25] aufdenkampe commented on #404
@HeatherBrooks, the "create" experiment data entry now works.

@htaolimno, can you do this last update to the "Leaf Pack Details" pages ([example](https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/)):
- Update title in related link box from “Aquatic Macroinvertebrate Collection” to “Atlas of Common Freshwater Macroinvertebrates of Eastern North America"

[2019-12-20 20:29] aufdenkampe commented on #406
This is now complete with commit 87d05d304474d7eee3d3567e1b57d92cc57ca90c.
@HeatherBrooks, does it look good? If so, please close this issue.

[2019-12-20 20:29] aufdenkampe commented on #406
I'll save you the trouble of closing!

[2019-12-20 20:30] aufdenkampe commented on #407
@htaolimno, it looks like we have more work do to on this.

[2019-12-20 20:45] HeatherBrooks commented on #406
@aufdenkampe Looks like there's one little glitch:
Now reads: Riffle beetles larvae/adults (Elmidae-adults and larvae)
Should read: Riffle beetles larvae/adults (Elmidae)

[2019-12-20 21:40] aufdenkampe commented on #406
Thanks for catching that!
@htaolimno, can you make that edit described above by @HeatherBrooks.

[2019-12-24 03:47] htaolimno commented on #408
@HeatherBrooks Please review new improvements on staging server. thanks.

[2019-12-30 16:38] w3asa commented on #443
I have been manually uploading from SL150 (BCMC4S)since its not communicating with mother ship.  This has been uploading successfully and displaying properly on TSA.  However when I attempted to fill in missing data from 12/11@17:30Z to 12/15@15:00Z it uploaded successfully but it did not appear in TSA.  This data was missing in the TSA export data base but was present in the download file: BCMC4S

[2020-01-02 17:13] aufdenkampe commented on #408
@htaolimno, thanks for all these updates just before the holiday!

This issue looks completed to me, so I'll close it but @HeatherBrooks may still wish to review.

[2020-01-02 17:13] #408 closed

[2020-01-02 17:17] aufdenkampe commented on #406
@htaolimno, can you make this minor change to the scientific name that @HeatherBrooks mentions in https://github.com/ODM2/ODM2DataSharingPortal/issues/406#issuecomment-568081262?

In short, please change "(Elmidae-adults and larvae)" to "(Elmidae)".
We only want to mention "larvae/adults" in the common name.

[2020-01-02 17:18] aufdenkampe commented on #404
Looks good! Thanks!

[2020-01-02 17:18] #404 closed

[2020-01-02 17:23] aufdenkampe commented on #409
@htaolimno fixed this with https://github.com/ODM2/ODM2DataSharingPortal/commit/6aa4ba72f746a67ee3fa4be1d52c913f3a7b5ed4

[2020-01-02 17:23] #409 closed

[2020-01-02 17:26] aufdenkampe commented on #405
@HeatherBrooks, I'm presuming this issue was completed with #407 and commit https://github.com/ODM2/ODM2DataSharingPortal/commit/6aa4ba72f746a67ee3fa4be1d52c913f3a7b5ed4. Feel free to confirm.

[2020-01-02 17:26] #405 closed

[2020-01-02 17:27] HeatherBrooks commented on #408
@aufdenkampe @htaolimno I'm back from holiday and just checked the changes. Looks great, thanks!

[2020-01-02 17:29] aufdenkampe commented on #412
@SRGDamia1, I agree that the location of this button is quite annoying when adding new sensors, as it typically requires scrolling to see it on laptop screens.

@htaolimno, I'm presuming that this would be an easy change. Let us know if you might be able to make the change easily.

[2020-01-02 17:31] HeatherBrooks commented on #408
@htaolimno Is it possible to remove the underline from the chart titles? I think they might mislead people into thinking they're hyperlinks that aren't functional.

[2020-01-02 17:53] HeatherBrooks commented on #287
@aufdenkampe @htaolimno As I was testing the data entry form today I discovered one small problem remaining in regards to  [https://github.com/ODM2/ODM2DataSharingPortal/issues/287#issuecomment-434823270](url). "Depth" has been removed from the data entry form but not from the experiment display page.

Correct on data entry form:
<img width="177" alt="lpn-data-entry-storm" src="https://user-images

[2020-01-02 20:26] HeatherBrooks commented on #407
@aufdenkampe @htaolimno Regarding [earlier mention of problems with percent EPT](https://github.com/ODM2/ODM2DataSharingPortal/issues/407#issuecomment-567191496): it is now being calculated properly for [StroudEduc_TEST](https://staging.monitormywatershed.org/sites/StroudEduc_TEST/leafpack/18/) and [BogBrook_Rt312](http://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/).

However,

[2020-01-03 17:48] aufdenkampe commented on #407
@htaolimno, can you look at this?

[2020-01-03 18:10] aufdenkampe commented on #443
@w3asa, thanks for posting this issue and following up with updates.

If I understand correctly, the primary issue has been resolved but your only issue is that TSA shows a data gap for https://monitormywatershed.org/sites/BCMC4S/ for Dec. 11-15 even after you successfully uploaded the CSV file. Is that correct?

If so, let's rename this issue to better reflect the existing problem.

BTW, I have c

[2020-01-03 18:24] aufdenkampe commented on #364
@htaolimno and @tslawecki, it seems that Juan implemented an NGINX hot fix for this issue (i.e increasing file size limit) on Aug. 1 (see https://github.com/ODM2/ODM2DataSharingPortal/issues/364#issuecomment-517454944), but it got reverted on production when we issued Release 0.10 on Aug. 8.

Can you find and fix this NGINX setting on both production and staging, via our private config repo at htt

[2020-01-03 18:30] aufdenkampe commented on #443
This appears to be related issue #430  **Uploaded data not appearing / not filling gaps**

[2020-01-03 18:48] htaolimno commented on #406
I've made the change to the scientific name from "Elmidae-adults and larvae" to "Elmidae" in the staging database. Will run the same SQL statement on production server when we are ready to publish the changes to production.

[2020-01-03 18:53] aufdenkampe commented on #440
Update:

After additional information on Oct. 17 & 23 (via "SECURITY VULNERABILITY reported for Monitor My Watershed" email thread), our development team still has not been able to reproduce the issue.

[2020-01-03 19:22] htaolimno commented on #407
@HeatherBrooks regarding matching up to WCC_Spencer example, I've just updated the filter string in the code to use the correct scientific name "Trichoptera other than Hydropsychidae". It's ready for testing. thanks.

[2020-01-03 19:23] htaolimno commented on #406
@HeatherBrooks ready for testing. Thank you.

[2020-01-03 19:37] HeatherBrooks commented on #407
@htaolimno That did the trick. Thanks!

[2020-01-03 19:53] HeatherBrooks commented on #406
@htaolimno Looks good, thanks.

[2020-01-03 22:03] htaolimno commented on #440
I've traced down the issue with helps from @HeatherBrooks. Will talk about it through private email exchanges.

[2020-01-04 01:23] w3asa commented on #443
I agree it should be under the #430 issue.  Not sure of the protocol - can you handle this or should I repost on issue #430?
The other issues that I have noted with the GMI_... sites have not been resolved.  The missing first variable I can live with but the weather data  issue with GMI_WX is more critical for the data set needed for environmental studies of Great Marsh.

[2020-01-05 20:00] aufdenkampe commented on #407
Thanks you both!

[2020-01-05 20:00] #407 closed

[2020-01-05 20:01] #406 closed

[2020-01-05 20:06] aufdenkampe commented on #430
See https://github.com/ODM2/ODM2DataSharingPortal/issues/443#issuecomment-570652082, which is a duplicate of this issue, for additional information.

[2020-01-05 20:11] aufdenkampe commented on #443
@w3asa, thanks for the clarification. So it doesn't sound like a complete duplicate of #430, because some data aren't showing up at all. I'll look at it a bit more closely next week.

[2020-01-13 18:18] aufdenkampe commented on #440
According to @HeatherBrooks, the fixes that @htaolimno applied last week to staging appear to work well! Thanks all!

[2020-01-13 18:18] #440 closed

[2020-01-16 14:05] htaolimno commented on #412
@SRGDamia1 please test this new change on staging server.

[2020-01-16 14:07] htaolimno commented on #415
@SRGDamia1 I added "Notes" column to the table. Please check staging server for testing.

[2020-01-16 14:24] htaolimno commented on #364
@SRGDamia1 @aufdenkampe I checked the nginx's "client_max_body_size" setting. Both of them are "100M" which is what Juan had set. Can you confirm that you still have the same file size issue ?

[2020-01-16 15:03] aufdenkampe commented on #412
@htaolimno, looks great to me! thanks!

[2020-01-16 15:03] #412 closed

[2020-01-16 15:07] aufdenkampe commented on #415
That is helpful. Looks good!

[2020-01-16 15:07] #415 closed

[2020-01-16 15:14] aufdenkampe commented on #364
@htaolimno, thanks for checking that Nginx isn't the issue. I think we'll need to bump this fix to the next milestone ([Release 0.12 - Tech Debt / Refactor Code](https://github.com/ODM2/ODM2DataSharingPortal/milestone/14)), in which we'll redo the CSV file handling to use the Pandas library.

[2020-01-16 21:03] SRGDamia1 commented on #412
Great, thank you!

[2020-01-16 21:05] SRGDamia1 commented on #415
I see it, thank you!

[2020-01-16 21:18] aufdenkampe opened #454 "Pre-Release 0.11 Pre-Production test checklist"
### **Pre-Production** = staging web server + production database server

Just prior to release, we will point the staging web server to the production database server.

AFTER we do this, we will do a 2nd round of testing, which will include a general set of tests and release-specific tests.

**General Tests**, confirming the the following work:
- [x] Data values up to date?
  - Compare "Last Meas

[2020-01-16 22:06] aufdenkampe opened #455 "Post-Release 0.11 Production test checklist"
AFTER we:
- Test staging web + production database (#454), and
- Switch IP addresses to promote the staging server to production.

**General Tests**, confirming that the following work:
- [x] Website renders for all mirrored domains?
  - https://monitormywatershed.org and https://www.monitormywatershed.org
  - https://data.wikiwatershed.org
  - https://data.envirodiy.org
- [x] Data values up to da

[2020-01-18 00:08] aufdenkampe commented on #450
Hi @neilh10, thanks for posting this issue. I've long been interested in fixing these fundamental constraints. Here's a bit of background on it all.

As @SRGDamia1 explained in https://github.com/ODM2/ODM2DataSharingPortal/issues/444#issuecomment-553458981, the TSA and WaterOneFlow (WOF) web services aren't capable of distinguishing anything other than the variable code, so the same sensor deploye

[2020-01-18 22:28] neilh10 commented on #450
Hi @aufdenkampe  thanks for the explanation. Appreciate the good work going on and building on previous layers and incremental approach. I really appreciate that it takes specific project goals and skills to go to the next revision. Thanks for putting together Release 0.12.

So working with the current data model WaterML1.1  if there is a need for unique access from WOF, then it needs to be a uniq

[2020-01-21 20:10] HeatherBrooks commented on #454
@aufdenkampe Not in your checklist above, but I registered a new site and created a leaf pack experiment. Things look good except the title and legend are missing from the second chart. Also, when I tried to download a CSV of the data I got "Server Error (500)", not sure if that's expected at this stage?

[https://staging.monitormywatershed.org/sites/WCC_US1/leafpack/27/](https://staging.monitormy

[2020-01-22 14:50] w3asa commented on #430
I reconfirmed the data gap problem when I was uploading data to [GMI_EC1](http://monitormywatershed.org/tsa/?sitecode=GMI_EC1&view=datasets&plot=false)
I have the µSD data chunked into 1 week files to the upload process doesn't choke (is that still an issue?).  I uploaded one file out of time sequence and that produced a gap in the TSA display.  The data is present in the download file however.

[2020-01-22 15:34] aufdenkampe commented on #454
@HeatherBrooks, thanks for doing a release-specific test. I don't think either error should occur.

@htaolimno, can you look into these two issues, which I don't think should be occurring:
- [ ]  Missing title and legend for second chart of a new Leaf Pack experiment
- [ ] Get a "Server Error (500)" when downloading a CSV

[2020-01-22 19:29] htaolimno commented on #454
@HeatherBrooks csv download still calls the old Biotic Index calculation and that caused error. I'll fix that. I'll also look into the other issue - have to figure out why occurs on production database.

[2020-01-22 19:56] htaolimno commented on #454
@HeatherBrooks fixed broken csv download.

[2020-01-22 20:01] HeatherBrooks commented on #454
@htaolimno Thanks for fixing the csv download.

Just to clarify, in Anthony's checklist above "Missing title and legend for second chart of a new Leaf Pack experiment" you can remove the word "new" as the title and legend don't appear on pre-existing experiments either. See [https://staging.monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/](https://staging.monitormywatershed.org/sites/BogBro

[2020-01-22 20:40] htaolimno commented on #454
@HeatherBrooks : seems that an older version of barchart.js file is used and that caused missing title and legend on the chart. Let me check a few things.

[2020-01-22 21:03] htaolimno commented on #454
@HeatherBrooks Think I figured it out - I should have run "collectstatic" command to collect static files on the server and that's why the latest version of barchart.js was not picked up.

[2020-01-22 21:10] HeatherBrooks commented on #454
@htaolimno Yep, the title and legend are back. Thanks!

[2020-01-22 21:12] aufdenkampe commented on #454
@htaolimno, thanks for figuring this out. Please add the "run `collectstatic` command" to our workflow documentation wiki.

All, does everything else check out?

[2020-01-22 22:23] dbressler75 commented on #454
@aufdenkampe, it looks great!  I tested first three bullets and all worked well.  Also tested various other things, downloading from panels, main download tabs, plotting in tsa.  The tsa x axis zooming and y axis dragging and zooming work much nicer now!

I apologize for the last minute questions and I'm guessing these are fixes for later but here are a few things: 1) is the size of csv files that

[2020-01-22 22:38] aufdenkampe commented on #454
@dbressler75, thanks for that testing! I'm glad to hear things are working well for you.

Unfortunately, there were a number of issues in our [Release 0.11 - Leaf Pack update + minor features & fixes](https://github.com/ODM2/ODM2DataSharingPortal/milestone/15) milestone that we needed to postpone to future work, including the CSV-related issues #430, #443, etc.

Fortunately, the ability to modify

[2020-01-22 22:41] aufdenkampe commented on #454
@tslawecki, we are ready for Release 0.11 to production tomorrow morning!

[2020-01-22 22:41] #454 closed

[2020-01-22 23:26] aufdenkampe commented on #449
Commit https://github.com/ODM2/ODM2DataSharingPortal/commit/7aa2e2a853f9ce0da8bea69515eda168f1bfbec5 upgrades Django to version 1.11.27

[2020-01-23 14:55] dbressler75 commented on #454
Hey Anthony,
Thanks for the feedback.

Re "Fortunately, the ability to modify the TSA x-axis and y-axis ranges has
been working for a long time (since Aug. 2018, see #236
<https://github.com/ODM2/ODM2DataSharingPortal/issues/236>). Do it by
hovering your pointer over the axis and dragging to shift the axis and
wheel-scrolling (or two finger trackpad swiping) to resize the axis. For
details, read #

[2020-01-23 16:06] HeatherBrooks commented on #455
@aufdenkampe I'm getting "Bad Request (400)" for [https://www.monitormywatershed.org/](https://www.monitormywatershed.org/).

[2020-01-23 16:42] aufdenkampe commented on #455
@HeatherBrooks, thanks for noticing that. @tslawecki & @htaolimno, can you look into it?

[2020-01-23 16:59] tslawecki commented on #455
This has been fixed manually. The django settings file

  /etc/envirodiyconfig/ODM2DataSharingPortalConfig/django/settings.json

needed to have https://www.monitormywatershed.or<http://www.monitormywatershed.org>g added to the allowed hosts. I have made the change on the production server; this should be updated on the configuration repository at some point.

________________________________
From:

[2020-01-23 18:42] aufdenkampe commented on #455
@HeatherBrooks, @SRGDamia1, @htaolimno. Does everything work? Check off items on the list as you confirm.

Thanks

[2020-01-23 19:38] HeatherBrooks commented on #455
@aufdenkampe I have checked the leaf pack experiment data entry workflow and all seems to be working well. Other than the nagging sitewide problem of being served http rather than https, that is.

[2020-01-23 19:46] aufdenkampe commented on #455
@HeatherBrooks, its good to know that the site is mostly working.

However, please describe what you are noticing regarding "sitewide problem of being served http rather than https". I hadn't noticed that, and it might be an easy fix for us. Please create a new issue on this. We want to direct away from HTTP to HTTPS as much as possible.

[2020-01-23 19:50] aufdenkampe commented on #454
@dbressler75, thanks for explaining.

Adding an exact Y-axis min/max data entry option isn't a feature that was ever on my/our radar.

Could you create a new issue describing your request for this feature? Our approach to developing this portal is that we work on things that are described in issues, to avoid missing requests like this one that we hadn't heard.

[2020-01-23 19:50] HeatherBrooks commented on #455
@aufdenkampe Sorry I wasn't clear. I brought this up in an email with you @htaolimno and @tslawecki last weekend. Where should I create the new issue?

[2020-01-23 19:52] aufdenkampe commented on #455
@HeatherBrooks, I'm sorry that I missed it in our email exchanges!

You can create the issue in this repo, and tag it with the release 0.11 milestone. Also tag me and @htaolimno.

[2020-01-23 20:04] HeatherBrooks opened #456 "Site serving insecure pages (not redirecting to https)"
@aufdenkampe I'm getting insecure site warnings for all URLs at monitormywatershed.org, data.envirodiy.org, and data.wikiwatershed.org in multiple browsers. When I add "https" to the URLs it solves the problem. We had the same problem in January 2019; @htaolimno fixed it by changing the configuration file to redirect from http to https but he remembers that the redirect was reverted at some point.

[2020-01-23 20:04] dbressler75 opened #457 "adding custom y-axis range, similar to x-axis date selection"
Would be useful to incorporate an option to actually enter specific ranges for y-axis (in addition to dragging/scrolling with mouse or pad) - you can do this on the x-axis in the upper right calendar selection option and it seems like it would be useful to be able to do the same for the parameter(s) values displayed on the y-axis.

[2020-01-23 20:06] dbressler75 commented on #454
Anthony,
Very sorry, I thought I had put this into github at some point but I guess
I didn't.  I just added it
https://github.com/ODM2/ODM2DataSharingPortal/issues/457

Thanks very much for all the great work on this!

-Dave

David W. Bressler
Citizen Science Project Facilitator
Stroud Water Research Center

410-456-1071 (mobile)
610-268-2153 x312 (office)
dbressler@stroudcenter.org

On Thu, Jan 2

[2020-01-23 20:09] aufdenkampe commented on #454
@dbressler75, thanks for creating the new issue!

[2020-01-23 20:13] aufdenkampe commented on #456
@htaolimno and @tslawecki, can you look into whether we can update the config files to include the redirects, as we also complete https://github.com/LimnoTech/ODM2DataSharingPortalConfig/issues/34?

Given that www.monitormywatershed.org was dropped, it seems like we indeed had a reversion of some config file settings. We need to always apply the fix to our config repo, to avoid this problem in the

[2020-01-23 21:48] HeatherBrooks opened #458 "Remove leaf pack test data"
Please delete the test leaf pack data for these two sites:
[http://monitormywatershed.org/sites/STUDIO_AIR/](http://monitormywatershed.org/sites/STUDIO_AIR/)
[http://monitormywatershed.org/sites/TestSiteC/](http://monitormywatershed.org/sites/TestSiteC/)

If the sensor data was also for testing purposes as well, please delete the sites entirely.

Kerlin, Muenz, and Brooks will delete their own tes

[2020-01-28 14:25] HeatherBrooks commented on #458
Tara Muenz had to create a new login and therefore can't access the test site she created on her original login. So an admin will need to delete [http://monitormywatershed.org/sites/TEST1Tara/](http://monitormywatershed.org/sites/TEST1Tara/) for her.

[2020-01-28 14:36] aufdenkampe commented on #458
@HeatherBrooks, I deleted Tara's site and removed the Leaf Pack experiments from the sites setup  by @jcaraballo17 and @darksinge.

BTW, @SRGDamia1 has superuser privileges and can also do this for any site. She/we also have the ability to change the owner of a site to any other user.

[2020-01-28 14:36] #458 closed

[2020-01-28 14:40] HeatherBrooks commented on #458
@aufdenkampe Thanks! Can I be made a superuser so that I can manage issues that crop up with Leaf Pack Network data?

[2020-01-28 14:57] aufdenkampe commented on #458
Yes, that makes sense.

[2020-01-28 18:03] dbressler75 opened #459 "custom assign graph variable colors"
the current auto-assign of colors based on the order in which they are added to a graph can make things difficult when preparing multiple graphs and adding and removing variables.  User ability to assign colors would be very helpful in graph preparation.

[2020-01-28 18:06] dbressler75 opened #460 "download data from multiple sites"
Current ability to download data is on a site-by-site basis.  Would be useful to have to ability to custom select multiple sites for download of specific data types and/or all data for all selected sites.

[2020-01-28 18:11] dbressler75 commented on #382
As a follow up to @SRGDamia1's initial comment, in addition to search and filter it would be nice to be able to sort the columns (e.g., alphabetically by Site) - probably already implied but just to be clear.

[2020-01-28 18:19] dbressler75 commented on #399
Time stamps in the 72-hour pop-up tables associated with the sparkline plots are also only in UTC and are in 24hr time - listing current local time along with UTC 24hr would be very helpful.

[2020-01-28 18:23] dbressler75 opened #461 "time stamps on 72hr pop-up tables - 24hr UTC"
Time stamps in the 72-hour pop-up tables associated with the sparkline plots are in 24hr UTC but the offset (-5) seems to indicate that it should be in EST - this seems to be an error.  Regardless, listing current local time along with UTC 24hr would be very helpful.

[2020-01-28 18:26] dbressler75 opened #462 "axis labels for sparkline plots"
For quick viewing of data it would be helpful to have labeled/defined x and y axes in the sparkline plots (i.e., "panels")

[2020-01-28 18:48] dbressler75 opened #463 "merge Browse Sites and Time Series Analyst tabs?"
For clarity it might be beneficial to merge the Browse Sites and TSA tabs (in upper left of main MonitorMW page) into one main tab for accessing and graphing data.  Currently the two tabs seem to function slightly different from one another but do not provide dramatically different functions so it just confuses the process.

[2020-01-28 19:34] SRGDamia1 commented on #460
I think you can do this through WebTSA.

[2020-01-28 19:39] SRGDamia1 commented on #463
![image](https://user-images.githubusercontent.com/5374350/73298671-bc3d5200-41db-11ea-9059-a9ba11f95d71.png)

You mean here?  They do provide dramatically different functions, they just happen to both open up a map view.

[2020-01-28 19:43] SRGDamia1 commented on #463
Any time you click on something "tsa" you can think "I'm moving over to a totally different website that just happens to have _most_ of the same data on it."

[2020-01-28 21:18] dbressler75 commented on #460
Yes my mistake, sorry about that - forgot that it was in there

[2020-01-28 21:23] dbressler75 commented on #463
But what are the dramatically different functions? - once you're into TSA in Browse Sites it's the same TSA.  The main Time Series Analyst just tab on the home screen just takes you to that map with nested maroon colored sites.

[2020-01-28 22:46] SRGDamia1 commented on #463
yeah.. I guess they do kind-of feel the same.  But TSA is still basically a totally different website that just happens to share data.

[2020-01-29 19:17] #455 closed

[2020-02-03 21:28] mbarneytu commented on #364
I have a station with 9 variables, and can only upload about 3000 rows, or less than 300 KB. A 3500-row upload fails (315 KB).
[BearCT_shortened_3500rows.zip](https://github.com/ODM2/ODM2DataSharingPortal/files/4150298/BearCT_shortened_3500rows.zip)

[2020-02-03 21:46] dbressler75 commented on #364
RE @mbarneytu last post, we've been doing it in 1-week chunks (about 1500 rows) because even 10 days (3000 rows) won't go sometimes (if I'm remembering correctly).

[2020-02-04 16:09] aufdenkampe opened #465 "WOFpy not responding with data after release 0.11"
It appears tha WOFpy has not been giving responses for some sites since our [v0.11 Release](https://github.com/ODM2/ODM2DataSharingPortal/releases/tag/v0.11) on Thu. 1/23/2020.

Jeff Van Note emailed on Jan. 29:

However, going back in time (2019-11-23) for this same site seems to work:
https://monitormywatershed.org/wofpy/rest/1_1/GetValues?location=envirodiy%3ACWS-ThomasDairy3&variable=envirodiy

[2020-02-04 16:24] SRGDamia1 commented on #465
I haven't done anything calling WoFpy in ages.

[2020-02-05 04:22] emiliom commented on #465
Hmm. I'll try to look into this around Friday. I'm currently out of town at a workshop.

[2020-02-05 04:22] emiliom commented on #465
I haven't touched the WOFpy deployment in a long time -- unfortunately ...

[2020-02-05 17:55] mbarneytu commented on #33
Agreed. I was about to submit a similar request: we'd love to be able to clone a site. 95% of our sites will have an identical configuration of sensors and variables. Only the site name and location will change. So being able to clone an existing site to a new site would be a huge time savings as we add sites to our monitoring network.

[2020-02-05 18:46] mbarneytu opened #466 "Allow modifying the sequence of variables displayed for a site"
On a site's page on MMW, it would be great to be able to re-order the variables on the display. Right now the only way I know of to do this is to re-create the site from scratch and with the variables entered in the desired order. My use case is an existing site that reports temperature in degrees C, we want to also display degrees F, but to have the two variables display side-by-side.

[2020-02-05 18:54] mbarneytu opened #467 "Add a status field to the site header"
The Status field would allow the site owner/manager to enter notifications, such as, "Currently having a battery charging issue". This would provide a way to let visitors to the page know that there is a known issue that may be affecting the readings being shown, as well as to know when that issue had been resolved.

[2020-02-12 10:37] aufdenkampe commented on #385
Looks like [Django 3 is Released](https://www.djangoproject.com/weblog/2019/dec/02/django-3-released/), and Django 2.2 has reached the end of long-term support.

The main goal of Django 3 is to support ASGI (Asynchronous Server Gateway Interface), which is a successor to Python WSGI (Web Server Gateway Interface).

[2020-02-12 19:49] aufdenkampe commented on #465
New info via email from @vannotej:

[2020-02-25 17:35] HeatherBrooks opened #469 "Allow user to affiliate with more than one organization?"
Here's an example: it would be helpful to have the Delaware River Watershed Initiative listed as a filter on the Browse Sites so all of those sensor stations could be seen together. Right now, DRWI partners are affiliated only with their "home organization" (e.g., Great Marsh Institute). There's no way to show the reach of the project as a whole.

Also, how can the data portal accommodate the scen

[2020-02-29 19:46] HeatherBrooks opened #470 "500 Server Error when leaf species not selected"
A user has reported getting a 500 error when submitting the leaf pack data entry form  “when don’t check off a leaf species ... even if I fill out the “Other” field to indicate experimental materials.”

It sounds like the code is requiring leaf species. It should be optional because we offer the “Other” field not only for experimental materials but also for leaf species not listed (especially impo

[2020-03-02 18:11] aufdenkampe commented on #470
@htaolimno, is there any chance you might be able to fix this and push it as a Hotfix to production?

[2020-03-02 22:07] d8kline opened #471 "MonitorMW Data Loss on Visualization Graph"
Hello Team,
We hosted a "Teach the Teacher" workshop this weekend to show educators how to use Monitor My Watershed in the classroom.

For one of the exercises participants were to select a specific date range and view the data. When scrolling over the visualization graph of the data we noticed that the data started at 01/07/2020 instead of 01/01/2020. We tried a few date ranges, and it seemed tha

[2020-03-03 16:57] htaolimno commented on #470
looks like a simple fix. I'll try hotfix it today.

[2020-03-03 17:01] aufdenkampe commented on #470
Thanks!

[2020-03-03 19:27] htaolimno commented on #470
@HeatherBrooks I just pushed the change to staging server. Please test it. thanks! An example link: https://staging.monitormywatershed.org/sites/ARSP_1/leafpack/19/

[2020-03-03 19:44] HeatherBrooks commented on #470
@htaolimno, tested and I am now able to leave leaf species checkboxes unchecked and use the "Other" text box. Thanks!

I'm concerned that there might be another similar situation that I've missed. Can you tell me which fields are required on the leaf pack data entry page? I'd like to be sure our users aren't going to be tripped up by this.

As a side note, it looks like the experiments aren't bein

[2020-03-03 20:35] htaolimno commented on #470
@HeatherBrooks everything else are not required except for: Placement Date, Number of Packs Placed, Retrieval Date, and Number of Packs Retrieved.

[2020-03-03 20:54] HeatherBrooks commented on #470
@htaolimno Excellent! Thanks so much for making the fix so quickly.

[2020-03-03 20:56] htaolimno commented on #470
@HeatherBrooks  how about I sort the LPN by "Begin Date" decreasingly (newer first) ?

[2020-03-03 21:03] HeatherBrooks commented on #470
@htaolimno Yes, newer first would be great.

[2020-03-03 21:12] htaolimno commented on #470
@HeatherBrooks Great! Please check out the staging server. Example: https://staging.monitormywatershed.org/sites/VLA4-WBLSS/

[2020-03-03 21:34] HeatherBrooks commented on #470
@htaolimno Looks good! (I accidentally went to the production site first and saw [my new tests](http://monitormywatershed.org/sites/WCC_TEST/) and the new ordering there too? Anyway, it looks good in staging and production.) We'll be announcing the new leaf pack data entry capabilities to our 1000+ educator list soon so I really appreciate you getting this done.

[2020-03-03 22:10] aufdenkampe commented on #470
@htaolimno, nice work! I also really appreciate your timely response to this!
Did you also do those software updates? #464, #468? If so, thank you for those too!

[2020-03-03 22:10] #470 closed

[2020-03-16 16:38] aufdenkampe opened #473 "Sparkline plots & TSA not connecting to database"
As of at least 2020-03-15 we're again experiencing connection issues with our InfluxDB database that we use to support sparkline plots and Time Series Analyst (TSA). Thanks @dbressler75 for the heads up.

This issue is similar to #448, #436, etc. The long-term fix unfortunately requires an architectural overhaul, as described in #434.

Fortunately, the data are safe, as they are being stored in a

[2020-03-19 13:01] aufdenkampe commented on #473
Two updates from @tslawecki.

March 17:

March 18:

[2020-03-19 13:01] aufdenkampe commented on #473
It all seems to be working now. Thanks @tslawecki

[2020-03-19 13:01] #473 closed

[2020-03-19 14:36] dbressler75 commented on #473
@tslawecki and @aufdenkampe , thanks so much for your quick response on this, very much appreciated!  There were a lot of people asking about what was going on - so lot's of people paying attention to their data, which is great.

[2020-03-23 13:04] dbressler75 opened #474 "tsa graph labels overlap (not readable) and persist when variable not clicked"
When hovering over graphs the labels overlap and are not readable.  Also, the labels persist even when the variables are not clicked on in the side bar.  See attached.
![tsa_graphs_labelsoverlap_persistwhennotclicked](https://user-images.githubusercontent.com/39309124/77319444-39b9a600-6ce5-11ea-8ba0-cdbbdb7bfcd7.PNG)

[2020-03-24 21:04] dbressler75 opened #475 "linking monitormw site to hydroshare does not work"
I get an error when I try link my site to hydroshare - it simply gives the attached error message
![error_linking_monmw_to_hydroshare](https://user-images.githubusercontent.com/39309124/77476752-8ab6c080-6df1-11ea-889c-77f636a41582.PNG)

[2020-03-24 23:40] movingplaid commented on #475
Just to confirm, I get this error as well when clicking the link from the [Account page](https://monitormywatershed.org/account/) when logged into the MonitorMW site.

Unsure what action is intended afterwards, so I am not much help besides the obvious.

[2020-03-26 20:20] dbressler75 opened #476 "feature request, monmw - ability to have site commentary, upload associated docs, etc"
It would be useful to be able to post ongoing information, associated documents, etc associated with specific sites to monmw.  This relates to incorporating the ability to associate meta-data, station QC and maintenance data, photos, etc with individual sites

[2020-03-31 15:55] dbressler75 opened #477 "monitor my watershed won't load, just spins"
![error_monmw_wontload](https://user-images.githubusercontent.com/39309124/78047604-8e44cd00-7346-11ea-90c9-2ddd499d85da.PNG)

[2020-03-31 16:35] dbressler75 commented on #477
Problem seems to have resolved itself

[2020-03-31 23:31] HeatherBrooks commented on #477
@dbressler75 @aufdenkampe As of 19:30 EDT, site is not loading. Reported on the [EnviroDIY forum](https://www.envirodiy.org/topic/monitormywatershed-org-is-not-responding/) by Matt Barney. I was able to replicate the issue.
![image](https://user-images.githubusercontent.com/9368629/78084421-26ae7200-7386-11ea-896b-6b97a961e065.png)

[2020-04-01 14:55] mbarneytu commented on #477
The site is not loading again, as of 8:54am MDT.

[2020-04-01 15:05] HeatherBrooks commented on #477
@aufdenkampe @htaolimno @tslawecki Any insight on this sporadic site loading issue? Anthony and I were both able to reach the site shortly before @mbarneytu  commented that he couldn't. I checked when I saw Matt's comment and I couldn't connect; just a few minutes later I'm able to connect again.

[2020-04-01 15:14] tslawecki commented on #477
Following the comment from @mbarneytu, I tried to connect to the web site and also did not succeed. I logged in to the server and saw that logs were reflecting continued activity throughout the apparent outage. Out of "an abundance of caution", I restarted the nginx, envirodiy, and tsa services. I noticed, however, that my earlier attempted connection had resolved successfully - possibly before th

[2020-04-02 15:38] w3asa commented on #443
I uploaded data to my GMI_EC2 station yesterday using DRWI_CitSci code after first deleting the original station and registering a new station with the same name and parameter list.  It worked with all four variables showing on TSA.  Who knows why?  Perhaps magic incantations from the DRWI code!

[2020-04-02 22:09] aufdenkampe commented on #477
This is fixed at the moment, but we've definitely had a bunch of server-side issues in the last few days. Part of the issue was a 5.5 hour internet outage to our servers caused by a Comcast fiber-optic line issue on March 31 in the afternoon. But we’ve had other issues that we’re trying to track down.

If this happens to you again, please run a `traceroute` or `tracert` command from your computer

[2020-04-14 21:20] neilh10 opened #478 "New sensor button “+” not working"
On attempting to create a new sensor - there is no response, fails.
I've created a new site successfully - [https://monitormywatershed.org/sites/tu_id01/](url)
Then I step in to the Manage Sensors.
https://monitormywatershed.org/sites/update/tu_id01/sensors/
As its new there are no sensors
I hover over the + button, and it indicates "add new sensor".  When pressed there is no action  to create the

[2020-05-14 12:41] dbressler75 commented on #477
@aufdenkampe this issue has appeared again.  Seems to be the same with the entire monmw page not loading, "ERR_CONNECTION_TIMED_OUT".  Emailing tracert to Anthony

[2020-05-14 12:43] tslawecki commented on #477
This is a server issue. LTI-IT is investigating.

From: dbressler75 <notifications@github.com>
Sent: Thursday, May 14, 2020 8:41 AM
To: ODM2/ODM2DataSharingPortal <ODM2DataSharingPortal@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>; Mention <mention@noreply.github.com>
Subject: Re: [ODM2/ODM2DataSharingPortal] monitor my watershed won't load, just spins (#477)

@aufdenkampe<https://gi

[2020-05-14 12:55] tslawecki commented on #477
The EnviroDIY VMs are now up and running. LTI-IT reports that the virtual host server rebooted unexpectedly around 1 AM, and did not restart the VMs. They are looking for the cause.

[2020-05-18 21:47] neilh10 commented on #478
Trying again today. I can create a new site, however new sensor fails,  no response from the "+"
Pressing Upload a file, causes a file selection box to open.
Afterwards, still no action after pressing "+".

[2020-05-19 00:19] neilh10 commented on #478
I had the site code as  LCC45-test02
and changed to LCC45test02
which gives me a URL
https://monitormywatershed.org/sites/update/LCC45test02/sensors/
and now it the "+" works.

[2020-05-19 18:10] SRGDamia1 commented on #478
Hm. @aufdenkampe

[2020-05-28 15:21] HeatherBrooks opened #479 "Allow embedding Monitor My Watershed content in Google Data Studio"
@aufdenkampe @htaolimno I'm hoping this might be an easy setting change?

From email conversation with a Delaware River Watershed Initiative partner:
"I am building a Google Data Studio platform for displaying the Musconetcong Watershed Association's water quality data and as part of that I wanted to embed a hyperlink to each sensor we have online. However, when I go to embed it it gives me a mess

[2020-05-28 16:34] aufdenkampe commented on #479
@HeatherBrooks, hmm. We can look into that and see if it could be implemented as a quick hot-fix.

@tslawecki, is there any chance that this is a setting for our virtual machine or router? Or is it more likely an nginx or Django setting?

[2020-06-05 14:56] kieutuandung opened #480 "Problem with SECRET_KEY"
Dear All Friends!
I have a prolems when do as Deployment Guide at step 7:

**django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.**

Although I had change settings.json: "secret_key": "{{yj6o@&vrar6^l1u68!bxumj@xr4&5)zzk!h1qw&63^&@2d3w@#}}",

Could you explain and fix it help me? Thanks you

[2020-06-15 16:05] dbressler75 commented on #433
This is still an issue.  Column 1 in data tables downloaded from TSA (Export Selected (.zip) tab under TSA Datasets tab) have date/time listed as UTC but it should be EST.  In column 3 where UTC is supposed to be listed it's blank.

[2020-06-24 04:31] #480 closed

[2020-06-25 13:58] dbressler75 opened #482 "feature request - sharing visualizations"
As with ModelMW it would be useful to be able to share graphs with others that contain specific sites, parameters, date ranges, etc.

[2020-06-26 21:35] SRGDamia1 commented on #475
This is still not functional.

[2020-06-29 13:18] dbressler75 commented on #475
Yeah I've had this issue too with Hydroshare.  Sure wish there was a way we
could get these bugs worked on.  I'm going to keep bringing it up.

Sara, have you chatted with Anthony about it recently by chance?

David W. Bressler
Stroud Water Research Center
410-456-1071 (mobile)
610-268-2153 x312 (office)
dbressler@stroudcenter.org

On Fri, Jun 26, 2020 at 5:35 PM Sara Damiano <notifications@github

[2020-07-01 15:23] HeatherBrooks commented on #479
@aufdenkampe @tslawecki Have you had a chance to look into this? Our watershed partner has emailed again.

Good Morning,
I had contacted you a few weeks back about embedding a URL for our sensor stations into Google Data Studio and was wondering if you have heard back about the permissions or a work around for that?
Thanks,
Christa Reeves
Water Quality Field Specialist
Musconetcong Watershed Assoc

[2020-07-01 18:04] tslawecki commented on #479
Heather,

Apologies for not following up earlier. I’ll reach out to Christa and ask her for an example URL.

Tad

From: Heather Brooks <notifications@github.com>
Sent: Wednesday, July 1, 2020 11:24 AM
To: ODM2/ODM2DataSharingPortal <ODM2DataSharingPortal@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>; Mention <mention@noreply.github.com>
Subject: Re: [ODM2/ODM2DataSharingPortal] Allow

[2020-07-01 20:33] tslawecki commented on #479
Christa figured out the issue with help from Adam Griggs at the River Network. She wrote today after I reached out to her:

[2020-07-06 22:03] aufdenkampe commented on #479
@tslawecki, thanks for following up!

[2020-07-06 22:03] #479 closed

[2020-07-23 20:20] neilh10 opened #483 "On POST from Mayfly occasionally loosing data"
While doing some new Mayfly development, extending the functions so that there is a sendEveryX readings, some POSTED individual readings appears to be lost, while a record with timestamp is still accepted.
This sendEveryX feature allows the Mayfly data logger to collect samples, and then periodically setup a connection to the internet, and send all the previously connected data samples on one TCP/

[2020-07-23 21:50] SRGDamia1 commented on #483
That's what I would have expected as well.

[2020-07-23 22:11] tslawecki commented on #483
@neillh10, we are currently having some difficulties with server resources that might be causing unexpected drops. I'd like to check the server logs - could you share the IP address from which the data are POST'd?

[2020-07-23 23:21] neilh10 commented on #483
The setup is a Digi WiFi module, requesting off a local network. that then connects to a DSL. The ISP is sonic.net.
This is what I get :
![WhatIsMyIp 2020-07-23 161913](https://user-images.githubusercontent.com/2766619/88347771-6831a700-cd00-11ea-89e6-f39b406676bf.jpg)

[2020-07-23 23:50] neilh10 commented on #483
Hi @tslawecki thanks for the quick response.
Here is a more recent POSTSLOG recorded from the Mayfly - I had a bug in last nights recording so couldn't post it.
The format is <human readable time>,<Status Code from Post>,<Internal #of Post attempts>, < Posted Record essential time variant  >
The plan is as per
https://github.com/EnviroDIY/ModularSensors/issues/194
and also to implement an OffsetTi

[2020-07-24 00:32] neilh10 commented on #483
I've added the following comment to the description
edit :
Looking at the code the algorithm is

//establish a connection to internet over modem
repeat while there are SensorsReadings Queued
{
   _outClient->connect(enviroDIYHost, enviroDIYPort       // establish a TCP/IP connection,
   then POST it
   _outClient->readBytes(tempBuffer, REQUIRED_MIN_RSP_SZ);  // read any response
   _outClient->sto

[2020-07-24 14:29] neilh10 commented on #483
I had some overnight tests running - POSTing every 14minutes with a 3min delay. That is 2min readings, and collecting 7samples before attempting the POST.
The test results show the POSTs all went through, but there was some individual data losses. See attached tu_rc_test05_TimeSeriesResults 200724_0703.xlsx
All posts appear to be partially completed

[tu_rc_test05_TimeSeriesResults 200724_0703.xls

[2020-07-28 19:27] neilh10 commented on #483
In a test run last night 404 POST attempts, spaced as 2 POSTS every 4minutes, 399 successfully pushed ALL the records.  4 of the POSTS failed to be recorded at ALL (success, not a partial record).
The Mayfly was set up to take a reading every two minutes, post after 2 readings, and offset the server connections by 1minute. The mayfly is using a Digi WiFi S6 modem, with a Lithium battery, and 5V ch

[2020-07-28 23:25] aufdenkampe commented on #483
@neilh10, this detailed info is very useful!

@tslawecki, any thoughts?

[2020-07-29 21:32] neilh10 commented on #483
Oops just did POSTS from a Mayfly I'm preparing for the field with a Xbee3 LTE Verizon, and it inserted  a partial dataload.

Its target is https://monitormywatershed.org/sites/tu_rc_test04/
The system is setup for taking a reading every 15min, collecting 8 readings, then delaying 7min to POST.

Unfortunately I can't see what the IP number (I'll output it next build) - and the RevX Systems interfa

[2020-07-30 05:27] neilh10 commented on #483
I've put in some code that lists the  Xbee LTE modem IP.
The above LTE modem was subsequently was assigned an IP [ 100.102.218.146 ] twice subsequently. Hopefully it was also assigned that number above.

[2020-08-03 18:12] HeatherBrooks opened #484 "Unable to reach website: 502 Bad Gateway nginx/1.10.3 (Ubuntu)"
I'm unable to reach Monitor My Watershed right now. Tried multiple browsers on my PC and cell phone. Getting a 502 Bad Gateway error message across the board. @aufdenkampe @tslawecki Any ideas?

[2020-08-03 20:10] neilh10 commented on #484
I've been getting it all weekend as well.

[2020-08-06 18:09] aufdenkampe commented on #484
We think we found and fixed the major issue with slowness and 502/504 Gateway errors that have been increasing since this spring!

Please let us know if you see any slowdowns from the web-browser or gateway errors from devices trying to post data, just in case there’s yet another issue we didn’t notice.

@tslawecki , @htaolimno and LimnoTech’s IT team have done numerous fixes, tweaks and optimizat

[2020-08-06 18:10] #484 closed

[2020-08-06 18:11] aufdenkampe commented on #483
@neilh10, it would be very helpful to hear what you are experiencing since we found a fix for the intermittent Gateway server errors, as described in https://github.com/ODM2/ODM2DataSharingPortal/issues/484#issuecomment-670091612.

[2020-08-06 18:17] aufdenkampe commented on #484
Just to connect all the discussion on this issue, here' the link to the relevant thread from the EnviroDIY forums.
https://www.envirodiy.org/topic/mmw-data-outage/

[2020-08-07 20:24] neilh10 opened #485 "Reliable Delivery model algorithim"
I'm just wondering what the "reliable delivery" algorithm parameters could be from the server interface and the client interface. So putting this out for discussion.

For software systems with a core communication element, communications's reliability is a system level characterization. It  is often a target, and is best to be quantified and agreed upon, the system characterized over time, and rep

[2020-08-07 21:10] SRGDamia1 commented on #485
I love the idea of having a standard for this, but I've never done the work you've done to test it.

[2020-08-07 21:41] neilh10 commented on #485
Yes I've got lots of gray hairs from having to meet targets of 99.999% or 5 9's reliability .

Generate 200,000 messages or telephone calls and only have one fail for the test to pass. Ahhh! Sometimes there was a chain of 5 or 6 little Mayflys (or timy 8051's)  for all the messages to pass through, something like I2C to the Modem Controller, then the Modem software itself, network .......

The rel

[2020-08-18 22:30] neilh10 commented on #483
After some extensive testing this last week, I'm seeing complete delivery of the whole records. No Partial records. Hurrah.
In a series of tests had  7000+ POSTS (with retrys hard to count) that  ran from 2020-08-07 11:46   to  2020-08-18 17:02

[2020-08-18 22:30] #483 closed

[2020-09-08 17:54] aufdenkampe commented on #431
Maybe re-evaluate the choice, as the article I referenced is old!

These posts show different results:
- https://www.appdynamics.com/blog/engineering/a-performance-analysis-of-python-wsgi-servers-part-2/
- https://fgimian.github.io/blog/2018/05/17/choosing-a-fast-python-api-framework/

Regardless, we should unify to one app server, and pay attention to performance, as they are not all alike!

[2020-09-22 04:04] aufdenkampe opened #486 "Update WOFpy to latest commits, latest versions of dependencies"
There are 48 commits on the develop branch since the last release (v2.3.0).

For upgrading to Python 3, see https://github.com/ODM2/WOFpy/issues/231 and the discussion in PR https://github.com/ODM2/WOFpy/pull/230 (which was never merged).

[2020-09-22 04:08] aufdenkampe opened #487 "Fork & update WebTSA to Py3 & Django >2"
Fork this branch: https://github.com/UCHIC/WEBTSA/tree/master-envirodiy

[2020-10-01 20:37] aufdenkampe commented on #465
It seems that @emiliom's recent troubleshooting work has fixed this issue! Thank you!

[2020-10-01 20:37] #465 closed

[2020-10-01 20:51] aufdenkampe commented on #444
Removed WOFpy label because the related issue is covered in #445.

[2020-10-01 21:02] aufdenkampe opened #488 "Add constraints to Site Code input field"
In trouble shooting the failure of WOFpy REST GetSites requests (i.e. https://monitormywatershed.org/wofpy/rest/1_1/GetSites), @emiliom discovered that an "&" character used for a single Site Code (odm2.samplingfeaturecode) caused the failure. He adds:

Let's add input constraints to only allow:
- alphanumeric characters
- underscores and dashes

Also, ODM2 has a 50 character limit. Let's make our

[2020-10-01 21:08] emiliom commented on #488
Assuming you mean changing the length constraint on the database column proper, this will prevent the writing of longer strings. But the source of the problem is data entry on the web application (I assume). If the user is not given a proper warning that the entry was not accepted b/c it's too long, it'll lead to frustration and confusion. So, it's also a data entry (client) issue.

[2020-10-01 21:13] aufdenkampe commented on #488
Yes, I was only suggesting adding constraints to the data entry form on the web UI. I just modified the issue title to reflect that.

[2020-10-01 21:17] SRGDamia1 commented on #465
Is this fix live?  I'm still not seeing more than a single data point.

[2020-10-01 21:17] SRGDamia1 commented on #465
http://monitormywatershed.org/wofpy/rest/1_1/GetValuesForASite?site=envirodiy:BENNETTSRUN3&startDate=2020-09-01T00:00:00&endDate=2020-10-01T02:30:00

[2020-10-01 21:25] emiliom commented on #465
Hi Sarah!! The single-data bug is a different problem. I'm not going to be able to fix it w/o funding support :cry:. The success now is that WOFpy is running, whereas it wasn't a week ago!

[2020-10-01 21:26] aufdenkampe commented on #465
Yes, the fix is live. All sites are now providing one real data point for any time period with data.

Unfortunately, this fix didn't address **Fix WOFpy returning only most recent value #432** within the specified time interval. That issue has been around for a long time; one workaround is to just iterate though the time intervals.

We just reached out to CUAHSI to re-catalog our sites, so the sit

[2020-10-02 17:50] SRGDamia1 commented on #465
Oh, ok. Thanks!

[2020-10-02 20:18] aufdenkampe commented on #456
@htaolimno, can you look into fixing this. It seems you fixed in early 2019, but it somehow reverted.
Let's fix it via our config repo, so that it can't get reverted.

[2020-10-24 21:03] neilh10 commented on #478
I think this has been fixed. I haven't had any problems last couple of sensors I've created

[2020-10-24 21:05] neilh10 commented on #485
Since there is no comment on this from the server side, I propose any significant delivery errors are flagged.

[2020-10-24 22:43] neilh10 opened #489 "Graphs failing to visualize all the data."
All the data from a Mayfly integration test POSTED to
https://monitormywatershed.org/sites/tu_rc_test04/
is not showing on the graphs, both sparkline and TSA show the same problem.

I would expect that the visualizations/graphs would show the complete set of data, in time order, even if delivered out of order.

The POSTs where created in a setting where the battery voltage was dropping, and delive

[2020-10-26 13:50] aufdenkampe commented on #478
Thanks for testing and closing this issue. It had fallen off my radar!

[2020-10-26 23:58] neilh10 commented on #478
Hey you are welcome. In a past life, we had the process the person solving marked it as fixed, but the originator was the one that should close it. :)

[2020-10-28 21:17] mbarneytu opened #490 "Add a marker at each data point in TSV graphs?"
When you look at a chart of, say battery voltage, it looks as though the value is holding steady during a time when there was actually no data being sent due to poor cell signal or low battery. In other words, the TSA plot shows a solid line but, unless you move your mouse over the line and watch for the values to change, you don’t realize that the data are in fact discontinuous. This would be mor

[2020-10-29 14:09] #477 closed

[2020-10-29 14:21] aufdenkampe commented on #471
@d8kline, thanks for this. It looks like a bug. We're working on funding so that we can address the accumulation of fixes and requests. Hopefully you've been able to work around this one.

[2020-10-29 14:30] aufdenkampe commented on #475
From Martin Seul via a Sept 3, 2020 email "RE: integration of HydroShare with MonitorMyWatershed":

I reached out to Jeff and he kindly provided some more detail on the implementation and pointed to the authentication as potential problem that might have broken the App. I checked into this and the authentication requirements for apps using Hydroshare has changed to address a vulnerability concern,

[2020-10-29 14:34] aufdenkampe commented on #485
@neilh10, I also love this idea. On the server side, we'll unfortunately need to wait for funding. The good news is that we have an excellent proposal pending, so hopefully that starts sooner than later.

[2020-10-31 01:23] neilh10 commented on #485
Great. I guess this is a marker for anybody thinking about it as to what does  "reliable delivery" look like from the server side.
Possibly the difficulty is defining the test,
I have a version of Reliable Delivery working on the Mayfly side  on my private branch, and would be happy to build a test system/build for anybody looking at this.   https://github.com/neilh10/ModularSensors/releases/tag/v

[2021-01-20 19:24] mbarneytu opened #491 "MonitorMyWatershed is down"
monitormywatershed.org page won't load. Sometimes returns a gateway timeout. Issue also reported at https://www.envirodiy.org/topic/mmw-is-down/.

[2021-01-20 19:28] tslawecki commented on #491
Thanks. We are looking into this.

From: mbarneytu <notifications@github.com>
Sent: Wednesday, January 20, 2021 2:25 PM
To: ODM2/ODM2DataSharingPortal <ODM2DataSharingPortal@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [ODM2/ODM2DataSharingPortal] MonitorMyWatershed is down (#491)

monitormywatershed.org page won't load. Sometimes returns a gateway timeout. Issue als

[2021-01-20 19:51] tslawecki commented on #491
Quick update. We are looking at a possible (internal) DNS issue and also a possible need to increase the number of allowed connections.

[2021-01-20 20:09] tslawecki commented on #491
Update - A likely cause has been identified. A catch-up archiving/backup job was scheduled for the server's virtual host that took up more resources than planned. We are terminating the job and will re-assess.

[2021-01-20 20:52] tslawecki commented on #491
We terminated the job, but had to restart the virtual host. Service seems back to normal. The road to downtime seems paved with good intentions like backups - but we can be smarter going ahead in implementation.

[2021-01-20 20:52] #491 closed

[2021-01-20 21:12] aufdenkampe commented on #491
@tslawecki, thanks for your responsive sleuthing and fixing of this problem!

[2021-02-01 14:09] HeatherBrooks commented on #478
A [new report](https://www.envirodiy.org/topic/add-sensor-button-not-working-on-monitormywatershed/) of this on the EnviroDIY.org forum: "Just adding to this thread. I have had this twice. Tonight I couldn’t find a solution despite trying different browsers and incognito mode. I agree, it is a bit of a show stopper." @aufdenkampe closed this issue in October 2020; reopening.

[2021-02-01 22:32] mbarneytu commented on #478
I was curious whether opening Developer Tools (in Chrome) would show any insight to this problem. To my surprise, the Add Sensor button worked while I had DT open! One time I had to refresh the page while DT was open in order to get the Add Sensor dialog to display.

[2021-02-01 22:40] HeatherBrooks commented on #478
@mbarneytu reported a clue/temporary workaround on the EnviroDIY forum: "I was curious whether opening Developer Tools (in Chrome) would show any insight to this problem. To my surprise, the Add Sensor button worked while I had DT open! One time I had to refresh the page while DT was open in order to get the Add Sensor dialog to display. Might be a workaround until the problem gets fixed."

[2021-02-01 23:42] aufdenkampe commented on #478
@HeatherBrooks, thanks for reopening! It's a bummer that this is happening again.

@mbarneytu, thanks for sharing that temporary workaround! It could also be a clue to how to fix it.

[2021-02-16 18:11] neilh10 opened #492 "ODM2 / MonMW Status Dashboard"
Is there a way of being able to see the Status and activity of the system,
I've got systems POSTing to the mmw - but none appear to being accepted.
One of the systems is a development running the latest software, so it could have a bug
Another system is a field system, with a remote context, so it could be that the weather has reduced the wireless range.
It would be nice to see some way of charact

[2021-02-16 18:20] mbarneytu commented on #492
Agreed! Some kind of very simple MMW status dashboard would be very helpful in these cases to answer "Is it down or just me?" questions at a quick glance.
@neilh10 FWIW, I'm seeing our systems successfully logging as of 11:15am MST.

[2021-02-16 19:38] neilh10 commented on #492
@mbarneytu good to hear some logging getting through. That is the sort of feedback would be nice to see,

[2021-04-09 21:52] neilh10 opened #494 "sensor to support battery capacity monitoring"
Just wondering could you add a sensor to support battery capacity monitoring  - mAh or  C (Coulombs).
This is for equipment maintenance.

I would be happy with a   generic

Manufacturer:All, Model: EnergyMonitor, Variable: Charge,  Units: mAh  or C (Coulombs)

 OR could add the specific IC sensors that I'm using
Manufacturer:ST, Model: Stc3100,
Variable: Charge Available, Units: mAh or C
Variable:

[2021-05-04 14:29] aufdenkampe opened #496 "Browse window not mapping sites or populating filter pane"
@dbressler75 emailed on Friday, April 30, 2021 at 10:20 AM:

We believe that this issue started on Friday morning, as I had been browsing sites, https://monitormywatershed.org/browse/, earlier in the week and perhaps even that morning.

All other aspects of the web app appear to be working fine.

When testing yesterday on my local development environment, I was able to repeat the error when pointi

[2021-05-05 21:45] aufdenkampe commented on #496
Thanks to some nice sleuthing from @htaolimno, we have fixed this bug.

It is a temporary, "manual" fix to the database, but is likely to crop up again due to an issue with the codebase.
The long term fix requires replacing/updating some of the libraries we are using.

[2021-05-05 21:45] #496 closed

[2021-05-05 21:48] aufdenkampe commented on #496
The underlying bug is related to what we found for:
WOFpy not responding with data after release 0.11 #465

[2021-05-20 17:56] aufdenkampe commented on #494
@neilh10, I just added:

- Equipment model: EnergyMonitor (Manufacturer = All)
- Variable: All_ExternalMonitor_BatteryCharge
  - note that this has a Variable Name = Battery Voltage, as a placeholder because there is nothing like "charge" in http://vocabulary.odm2.org/variablename/. I will be requesting that electricCharge gets added.
- Units:
  - Ampere Hour - A-hr (Electrical charge)
  - Coulomb

[2021-05-20 18:39] neilh10 commented on #494
Great  thanks very much. Works.

[2021-05-20 18:39] #494 closed

[2021-06-02 18:57] aufdenkampe commented on #391
We now have two options for Linux LTS releases that are easily installed on AWS:
- [Amazon Linux 2 (AL2)](https://aws.amazon.com/amazon-linux-2/faqs/)
  - Optimized for AWS, performing better for many workloads
  - Runs Linux Kernel 4.14 & Python 2.7 (but they recommend installing your own Python 3)
  - LTS to June 30, 2023
- [Ubuntu Server 20.04 LTS](https://ubuntu.com/blog/ubuntu-server-20-04)

[2021-06-02 20:13] aufdenkampe opened #497 "Upgrade PostgreSQL to 11, 12 or 13"
Our database servers are currently running PostgreSQL) 9.5.14, which stopped being supported in February 11, 2021.

TimescaleDB requires PostgreSQL 11, 12 or 13.
https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/ubuntu/installation-apt-ubuntu/

LTS for PostgreSQL 11 will be November 9, 2023.

Upgrading PostgreSQL to >11 is required for adding TimescaleDB i

[2021-06-02 22:00] SRGDamia1 opened #498 "On manage sensors page, immediately after modifying notes field, medium is displayed as note"
![image](https://user-images.githubusercontent.com/5374350/120557719-59119000-c3cc-11eb-8ffb-0b409632bb8b.png)

After a refresh, the value becomes correct.

[2021-06-03 19:59] aufdenkampe commented on #497
It looks like the [psycopg2](https://www.psycopg.org) Python interface to PostgreSQL
* psycopg2 v2.8.6 works with PostgreSQL server versions from 7.4 to 12.
  * https://www.psycopg.org/docs/install.html#prerequisites
  * https://www.psycopg.org/articles/2020/09/06/psycopg-286-released/

Meanwhile, the latest T[imescaleDB Amazon Machine Images (AMI)](https://docs.timescale.com/timescaledb/latest/ho

[2021-06-16 20:27] HeatherBrooks opened #500 "Pass parameters to URL so that organizations can share a link to a map of their sites"
Request received through the contact form on WikiWatershed.org:

This is not unrelated to requests we've received for the ability to embed Monitor My Watershed site data in other websites. Is there a plan for something like this? I think that if you were able to pass parameters to the URL, people could use that URL to create an iframe to embed in their own website. Caveat: iframes can only display

[2021-07-22 15:57] aufdenkampe opened #502 "Create queries to test performance of transition to TimescaleDB"
As a stepping stone to **Replace InfluxDB with the TimescaleDB extension to PostgreSQL #434**, we need to start building some performance testing infrastructure.

Historically, the most challenging query for optimizing ODM2 performance has been the [`getSamplingFeatureDatasets()` call from the ODM2PythonAPI](https://github.com/ODM2/ODM2PythonAPI/blob/a5088ac8ecee9213e994fc0a71831825a9e05541/odm2ap

[2021-07-28 00:59] thuongtonphapluat1988 opened #503 "Update Deployment Guide on `develop` for Python 3 release; including how to set up private `settings.json` files"
Can you help me clarify some details to complete the installation:
1. Can I create an environment from a .yml file, such as environment_py38_dj22.yml? How I can do it ?
2. If I use environment_py38_dj22.yml, do I need to install from requirements.txt anymore?
2. In step 6, what parameters do I need to edit in settings.json

Thanks and looking forward to everyone's responses.

[2021-09-08 16:52] neilh10 commented on #489
a data point from this mornings testing.
For the test system
https://monitormywatershed.org/sites/tu_rc_test06/
The Mayfly was paused in transmitting data as battery running low, (a normal condition). Once the solar returned and started transmitting, it transmitted the latest readings first, followed by earlier readings not uploaded, (out-of-order) .
These all show  differently between the differe

[2021-09-28 00:56] neilh10 opened #504 "TSA display different than downloaded CSV"
When displaying a tsa plot of fast changing Vbat from 4.109 to 3.563 to 4.109 the line plot doesn't seem to follow the recorded data.
The TSA graphs identifies UTC.
I would expect the TSA graph (UTC) and the downloaded data (UTC) to match, data point for data point.
It seems like the TSA is being filtered.
If it is being filtered I would expect an option or the raw data to be viewed. This could be

[2021-09-30 19:34] dbressler75 opened #505 "Browse map: site goes to gray even though data are there"
When a new parameter is added to an existing site that has data, it changes the site's map color to grey because now the last parameter on the page hasn't ever been received.  Not a major issue but ideally if there are data associated with a site it would always register as red or another color but not grey.

[2021-09-30 20:52] neilh10 commented on #505
I'm seeing this with https://monitormywatershed.org/sites/TUCA-Na13/

Its a site that is receiving regular updates, every 15miuntes shows as grey. It has one UUID "Mayfly Temperature" not being used, 2nd from last on the list of UUIDs/
![image](https://user-images.githubusercontent.com/2766619/135527741-63f201ad-b45b-4e07-9759-f57acdc02042.png)

The other site on the list, also receiving regular u

[2021-10-01 00:40] neilh10 commented on #485
An observation - Mayfly Xbee S6B WiFi became unstable https://github.com/EnviroDIY/ModularSensors/issues/347 for my testing in Jan 2021
after working exceptionally well earlier.
It appears that generally the TCP/IP link setup/teardown that had been working before stopped working after the first sleep event. Its complicated to see what is going on the physical line.

The issue for all "client" POST

[2021-10-12 22:18] SRGDamia1 commented on #241
@aufdenkampe Does this still need to be done manually when necessary?

[2021-10-13 17:21] aufdenkampe commented on #381
Completed in early July for the main Monitor My Watershed web application (i.e. the code in the [ODM2DataSharingPortal](https://github.com/ODM2/ODM2DataSharingPortal) repo), ported to AWS, and under testing at https://staging.monitormywatershed.org.

[2021-10-13 17:29] aufdenkampe commented on #391
In early July, we did a clean install of the main Monitor My Watershed web application (i.e. the code in the [ODM2DataSharingPortal](https://github.com/ODM2/ODM2DataSharingPortal) repo) on an AWS EC2 m6g.medium instance with an Ubuntu 20 operating system, Python 3.8 (#381, #501), and Django 2.2 (#385, #501).

We also did a clean install of the ODM2 database server on an AWS EC2 m5.large instance w

[2021-10-13 17:33] aufdenkampe commented on #497
We did a clean install of the ODM2 database server on an AWS EC2 m5.large instance with Ubuntu 18 (#391), PostgreSQL 12 (this issue), and TimescaleDB 2.3 (#434).

These are now under testing at https://staging.monitormywatershed.org.

[2021-10-13 17:47] aufdenkampe opened #507 "Upgrade Django from v2.2 to v3.2 LTS"
We should upgrade to Django 3.2 LTS by April 2022.

With PR #501 we upgraded Django to v2.2. See:
- #385

Unfortunately, Django 2.2 LTS end-of-life is April 2022.
[Django 3.2 LTS](https://www.djangoproject.com/weblog/2021/apr/06/django-32-released/) was released in April 2021.

![Django Supported Versions](https://static.djangoproject.com/img/release-roadmap.png)

Here's [What's new in Django 3.2

[2021-10-13 17:50] aufdenkampe commented on #431
We have decided to stick with Gunicorn for the main web app for now, but will revisit in the future.

[2021-10-13 19:40] aufdenkampe commented on #312
@ptomasula began using Pandas and its wrappers around [SQLAlchemy](https://www.sqlalchemy.org) (i.e. `pd.read_sql()`) to fetch time series data, in this work:
- https://github.com/ODM2/ODM2DataSharingPortal/pull/506
- commit 7b9bc5d added the dependency

[2021-10-13 20:18] neilh10 commented on #489
Thanks for the updates and timelines. Woohooh a target date!!
Would you like me to use https://staging.monitormywatershed.org  for some testing or is it too soon.?
I have just started an accelerated stability test (not live data)  using an WiFi S6, I could switch it to https://staging.monitormywatershed.org . Sampling is set to every 2 minutes, collect 4 readings before upload, so attempt upload e

[2021-10-13 20:37] SRGDamia1 commented on #463
@aufdenkampe If cost were nothing, I'd prefer to recreate it.  There are so many things about webTSA that I'd like to see changed that I hate continuing to patch it.

Prior to maternity leave, I put a lot of effort into data exploration using the [HoloViz](https://holoviz.org/) plotting packages.  Relative to the power and interactivity those provide, TSA's capabilities are pretty meager.  I have

[2021-10-13 21:31] neilh10 opened #508 "Websetable ModularSensors variable"
It would be nice to have a variable that could be conveyed to ModularSensors from a web. (newfeature)

That is something set-able through a web interface, and then capable of being processed on the remote ModularSensors, when it polls.
Such usage could be any configurable setting in Modular Sensors,
a) such as how often a sensor takes readings.
At its simplest form this can allow  power usage to b

[2021-10-18 17:49] neilh10 opened #509 "Server Error (500) on all sites"
When I try
https://www.monitormywatershed.org/browse/

and access any of my sites - gives me Server Error (500)

at 07:45am (PST)  received not received any new data values in the last 4 hours
https://www.monitormywatershed.org/sites/LCC45_test02/
https://www.monitormywatershed.org/sites/TUCA-Na13/
https://www.monitormywatershed.org/sites/TUCA_PO03/

[2021-10-18 19:28] aufdenkampe commented on #509
@neilh10, Thanks for pinging us. We noticed that issue this morning. It started last night and is connected to an issue that surfaced early this summer.

We implemented a short-term fix, but that's not sticking.

We know what the long-term fix is, but it's a bit more complicated to implement. We should have that done by this evening. It may fail on and off a few times until then.

[2021-10-18 20:43] aufdenkampe commented on #509
We think we've got it resolved (thanks @ptomasula!).

The main MMW site is back up and data looks to be flowing to the database server again.

We're rebuilding the tsa_catalog now, so there might be some short term glitches with interactions to TSA capabilities and sparkline plots.

Unfortunately, some data was lost last night, before were able to address any of this.

[2021-10-18 20:43] #509 closed, assigned to ptomasula

[2021-10-19 00:24] neilh10 commented on #509
Just an FYI - my sites which have a reliable data transfer algorithm -  I believe lost data transferring then to MMW today.

That is, as shown by the incrementing sequence number, the Mayfly received a Response Code 201. for  a reading,
However when downloaded there are missing records.
LCC45_test02 - 63 records between UTC 2021-10-18  4:22:00 PM  & 2021-10-18  6:28:00 PM Seq# 655 to 717
turc_test

[2021-10-19 15:09] ptomasula opened #510 "Exception Handling needed on api/data-stream"
@aufdenkampe @neilh10

The method responsible for handling data stream traffic lacks proper exception handling, which results in inaccurate created responses (201) from the server (as noted in #509).

For example [this code ](https://github.com/ODM2/ODM2DataSharingPortal/blob/4ea1d633fe8e1cc39916e83041f2dbc830339e55/src/dataloaderservices/views.py#L638-L646) will except any exception (including th

[2021-10-19 15:12] ptomasula commented on #509
Thanks @neilh10

This is good information to have. I agree that some work needs to be done on the algorithms. Presently that codes lacks proper exception handling, so it will continue and return a 201 response in instances where it should not. I've opened issue #510 to track this problem.

Thanks again for the great feedback.

[2021-10-19 16:38] aufdenkampe commented on #461
I think we're resolved this in our current development version (0.12-beta) on staging: https://staging.monitormywatershed.org.

@ptomasula, can you confirm and close if true?

[2021-10-19 16:41] aufdenkampe commented on #383
@ptomasula, this might be related to the issue you are current fixing on staging.

[2021-10-19 17:14] aufdenkampe commented on #447
@ptomasula and @htaolimno, it is worth keeping this observation in mind as we slowly refactor and replumb database connections.

[2021-10-19 17:22] aufdenkampe opened #511 "Fix data pipeline for Latest Measurement & Last Observation"
On staging, we're noticing a disconnect between the timestamps and values displayed for these fields relative to the actual latest timestamps and values in the ODM2 database.

This bug may be responsible for a number of related issues, such as:
- #383
- #461
- #433
- and potentially other [`tsa-related`](https://github.com/ODM2/ODM2DataSharingPortal/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-des

[2021-10-19 17:45] aufdenkampe opened #512 "Develop basic time series visualization to replace TSA"
Although Time Series Analyst (TSA) has a lot of valuable functionality -- particularly with interactive visualization of time series data -- it  has a lot of redundancy of features with the main Monitor My Watershed web app ([ODM2DataSharingPortal](https://github.com/ODM2/ODM2DataSharingPortal)). See:
- #463

TSA also is built on fully separate codebase ([WEBTSA](https://github.com/LimnoTech/WEBTS

[2021-11-02 16:33] aufdenkampe opened #514 "Deploy WOFpy on AWS"
As a first step in updating and fixing the [Water One Flow web services with Python (WOFpy)](https://github.com/ODM2/WOFpy) for the Monitor My Watershed data sharing portal, we will do a clean install of the current WOFpy codebase (in Python 2.7) to a separate `t3.small` EC2 instance on AWS.

This will help us troubleshoot other issues that have cropped up with our WOFpy deployment, such as:
- #43

[2021-11-02 16:46] aufdenkampe commented on #512
@ptomasula has a Time Series Visualization (TVA) prototype working on our development server! We'll be deploying this to our staging servers by the end of next week!

Here are some screenshots for now:

### Standard View:

<img width="960" alt="TSV_StandardView" src="https://user-images.githubusercontent.com/5166036/139908450-88f0bdb0-4a96-45de-92d6-f1cd26ce06ef.png">

### Close up of Series Selec

[2021-11-02 16:49] aufdenkampe commented on #474
We have decided to replace TSA with a Time Series Visualization System, starting with:
- #512

Closing this issue, which should be fixed with our migration.

[2021-11-02 16:49] #474 closed

[2021-11-02 16:52] aufdenkampe commented on #444
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

[2021-11-02 16:52] #444 closed

[2021-11-02 16:52] aufdenkampe commented on #399
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

[2021-11-02 16:52] #399 closed

[2021-11-02 16:52] aufdenkampe commented on #327
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

[2021-11-02 16:52] #327 closed

[2021-11-02 16:54] aufdenkampe commented on #326
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

Our new TSV displays the height, but not the notes. We're open to ideas on how to do that.
Closing this for now. Let's create a new issue if this is necessary.

[2021-11-02 16:54] #326 closed

[2021-11-02 16:58] aufdenkampe commented on #471
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

We think our new TSV addresses this issue, but we'll keep this issue open to track it.

[2021-11-02 17:02] aufdenkampe commented on #382
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

We have not yet added a search field, but we will enable search by site prior to our first release next month. I'm closing this for now. We can open a new feature request tha

[2021-11-02 17:02] #382 closed

[2021-11-02 17:05] aufdenkampe commented on #430
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

Specifically, TSV fetches data directly from the main underlying ODM2 database, and does not require any of the translation layers

[2021-11-02 17:05] #430 closed

[2021-11-02 17:10] aufdenkampe commented on #488
@ptomasula, this is connected with your suggestion to also add a database constraint to force SiteCodes to be unique.

[2021-11-02 17:13] aufdenkampe commented on #463
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

[2021-11-02 17:13] #463 closed

[2021-11-02 17:18] aufdenkampe commented on #489
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

I'm 100% sure new TSV addresses this issue, as we have removed the troublesome translation layers (i.e. TSA catalog and InfluxDB) that have caused so many of our problems, an

[2021-11-02 17:20] aufdenkampe commented on #425
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.
We think our new TSV addresses this issue.

[2021-11-02 17:20] #425 closed

[2021-11-02 17:22] aufdenkampe commented on #504
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

We think our new TSV addresses this issue. Specifically, TSV will be fetching data for display and download using the exact same code and database as for the main web app. Th

[2021-11-02 17:22] #504 closed

[2021-11-02 17:26] aufdenkampe commented on #457
We have decided to replace TSA with a Time Series Visualization (TSV) page, starting with:
- #512

Check out the screenshots I just posted with https://github.com/ODM2/ODM2DataSharingPortal/issues/512#issuecomment-957935317.

We'll add this to our list of feature requests for TSV.

[2021-11-04 17:39] emiliom commented on #432
Adding a note based on initial exploration of this issue.

I'm pretty sure the source of this problem is found in `odm2_timeseries_dao.py`, within the `Odm2Dao.get_variables_from_results` method. Changes introduced in the [EnviroDIY deployment version of this DAO file](https://github.com/LimnoTech/ODM2DataSharingPortalConfig/blob/master/wofpy/var-www-wofpy/odm2_timeseries_dao.py#L151) introduced t

[2021-11-05 07:31] emiliom commented on #433
@aufdenkampe when you first created this issue you used the site `CWS-ThomasDairy1` as your verification site. Could you provide a second verification site but from a different time zone, ideally with the same level of robust sleuthing you did for `CWS-ThomasDairy1`?

[2021-11-05 16:02] aufdenkampe commented on #433
@emiliom, when I first described this issue, I was looking at production.

Two weeks ago, @ptomasula noticed a number of issues with timestamps and timezones on our staging web and database server, as partially described in #511. He fixed some of them by fetching the data directly from the ODM2 `timeseriesresultvalues` table, but there are still a few errors on the web app.

So, if you are taking

[2021-11-05 16:10] emiliom commented on #433
You're saying that there may not be a timezone offset problem with WOFpy after all?

[2021-11-05 16:19] aufdenkampe commented on #433
It is possible that the problem that I documented in 2019 may no longer exist or it may be due to an issue on the web application. On the other hand, it may be due to something in WOFpy. I'll do another set of checks on my end.

[2021-11-05 16:27] emiliom commented on #433
Thanks. We can chat about this next Tuesday, if needed

[2021-11-10 17:21] aufdenkampe commented on #514
@emiliom got this deployed earlier this week and @ptomasula got it connected to our staging web server yesterday.

Check it out at https://staging.monitormywatershed.org/wofpy/

[2021-11-10 17:21] #514 closed

[2021-11-11 23:46] neilh10 commented on #512
Wow looks like its coming along.
Let me know when you feel its in good enough shape for some testing on it, and how you want the feedback. :)

[2021-11-12 23:17] aufdenkampe commented on #512
We've completed our first round of work on TSV when we merged:
- #515

Its ready to test at https://staging.monitormywatershed.org/tsv/ or any of the usual places where you previously to launched TSA.

[2021-11-12 23:17] #512 closed

[2021-11-12 23:18] aufdenkampe commented on #471
We've completed our first round of work on TSV when we merged:
- #515

Its ready to test at https://staging.monitormywatershed.org/tsv/ or any of the usual places where you previously to launched TSA.

Note that the data are not yet fully synced with our production database, so recent data is missing. We may not be able to fully test this until we release to production.

[2021-11-12 23:20] aufdenkampe commented on #432
@emiliom fixed this issue yesterday!
it's now available for testing at https://staging.monitormywatershed.org/wofpy/

[2021-11-12 23:20] #432 closed

[2021-11-13 01:00] emiliom opened #516 "Customize WOFpy client pages?"
@aufdenkampe The WOFpy client pages (starting in https://monitormywatershed.org/wofpy/) can be customized. The static text in the pages can be easily changed. We can rework the banner title, remove the section that points to the old WOF/WaterML 1.0 services, and so on. There are also a couple of dynamic elements that can be easily customized, such as the site (`160065_Limno_Crossroads`) that's use

[2021-11-14 22:47] neilh10 opened #517 "smmw: Not all data displaying"
From https://github.com/ODM2/ODM2DataSharingPortal/issues/512
Pretty spiffing the axis assignment.
If I look at https://staging.monitormywatershed.org/sites/TUCA-Na13/ - and download it, there is data till 2021-10-01 16:00
Looking at the Sequence number (last 4037), on the front page, the small graph shows Last Observation  Oct. 29, 2021, 7:45 p.m. (UTC-08:00)

Clicking on TSV shows new graph http

[2021-11-15 14:33] aufdenkampe commented on #516
@emiliom, thanks for creating an issue for this.
I had noticed the footer that you had created on these pages as a placeholder, and was thinking that its time for an update.

In the next week, I'll review the pages and suggest edits to the text.

[2021-11-15 16:41] aufdenkampe commented on #517
@neilh10, on Friday, our staging database wasn't fully synced to production for this last summer's data.

Last night, @htaolimno completed a batch synchronization and got most of that data moved over, but my understanding is that there are still some gaps. We'll likely be doing daily synchronization until we release.

So let us know if there are still data gaps.

Regarding the "Last Observation" d

[2021-11-15 17:25] emiliom commented on #516
The HTML templates for those pages are in https://github.com/ODM2/WOFpy/tree/master/wof/flask/templates

The user-customizable settings that get populated in those templates are found mostly in this config file: https://github.com/LimnoTech/ODM2DataSharingPortalConfig/blob/master/wofpy/wofpyserver_prod/odm2/timeseries/odm2_config_timeseries.cfg

(obviously, that's not the one actually being used i

[2021-11-15 19:28] neilh10 commented on #517
@aufdenkampe good to see the new interface,
however just checking what level of testing can be done - unit testing for just the graphs wingdings - or integration testing with the user visible data.
If I download the .csv file from "Download Sensors Data" on https://staging.monitormywatershed.org/sites/tu_rc_test06/
which downloads tu_rc_test06_TimeSeriesResults.csv
should I be able to see that dat

[2021-11-15 19:59] aufdenkampe commented on #517
With the exception of the "Last Observation" date (which shows up in a few places on the web app), all data are now coming from the same database!

So sparkline plots, CSV downloads, the table view, and TSV should all be showing the same data.

[2021-11-15 22:06] neilh10 commented on #517
yeah one source of the truth. The above display now shows me all the data.
The display date still seems to us DateTimeUTC - not the local time "DateTime".
For me, connecting to local events,  would be SO useful to have it in the local "DateTime" and then as an option for it to select to DateTimeUTC if needed.
We can have a lot happen in the  -8Hrs behind UTC and trying to connect it to local time

[2021-11-15 23:14] aufdenkampe commented on #517
@neilh10, thanks for that feedback!

We had intended to show you local time, AND we know there is a timezone bug somewhere in this codebase that we inherited, so it is really useful to know that this is UTC. We had some places where the UTC correction is applied twice, so we're slowly trying to piece together all time conversions.

[2021-11-15 23:45] neilh10 commented on #517
Yeah  :) timezone issues are part of our rotating planet!. I had issues with ModularSensors - my solution there was to come up with a naming convention for what is being referenced so it can be relatively easily traced.

[2021-11-16 19:04] neilh10 opened #518 "smmw: Sampling feature UUID is null"
When looking at
https://staging.monitormywatershed.org/sites/tu_rc_test07/
and bringing up the VIew Token UUID
it has a missing "samplingFeature"
const char *registrationToken = "0af40c10-cbd5-4a7d-b78c-79ca06553e54";   // Device registration token
const char *samplingFeature = "";     // Sampling feature UUID

I would expect this to be the same as on the the
https://monitormywatershed.org/sites/t

[2021-11-16 19:22] neilh10 opened #519 "smmw: using DateTimeUTC"
The display date in the graphs is DateTimeUTC
I would expect it to be the local time "DateTime", which is the date that is posted, and visible in the downloaded .csv

Possibly as an option it could reference DateTimeUTC if that is needed in some applications, but the default should be the supplied local time.

From downloaded tu_rc_test06_TimeSeriesResults.
DateTime               DateTimeUTC

[2021-11-16 19:23] #517 closed

[2021-11-16 19:27] neilh10 opened #520 "smmw: Date Range not set"
On Displaying a TSV graph
https://staging.monitormywatershed.org/tsv/tu_rc_test06/3816/
the graph automatically incorporates a date range, but this range is not set in the "Date Range" area.

This is pretty minor, but it would be nice if it could be set per the auto scaling on the graph.
![image](https://user-images.githubusercontent.com/2766619/142051879-79281fa1-528d-4d58-a99c-252bdf690abd.png)

[2021-11-16 20:40] aufdenkampe commented on #486
@emiliom, as we think about kicking off the next development round in early December, let's list out what dependencies might benefit from updating.

[2021-11-16 22:09] aufdenkampe commented on #518
@neilh10, it seems like our data synchronization from production to staging isn't working perfectly.

@htaolimno, can you look into this?

[2021-11-16 22:15] aufdenkampe commented on #519
Thanks! We'll look into this!

[2021-11-16 22:17] aufdenkampe commented on #520
@neilh10. Great idea.

Since this isn't a bug and we're presently tight on time, we might bump this to the next release, which we'll start working on in early December.

[2021-11-16 23:29] ptomasula commented on #519
Thanks @neilh10

This has been corrected with commit [ba9fae0](https://github.com/ODM2/ODM2DataSharingPortal/commit/ba9fae0057d0f2e8fa9980eb70658ccab2565390). The time is now correctly converted from UTC to local sensor time and is live on the staging server. Let us know if you are still observing this issue.
![image](https://user-images.githubusercontent.com/31142705/142079905-1aad410e-7dcf-43e2-

[2021-11-16 23:29] #519 closed

[2021-11-16 23:30] ptomasula commented on #520
@neilh10

Great suggestion and fairly easy to implement. This was added in commit [647386b](647386b3e796cca8138e829a164e049224540d92) and is now live on the staging server.

[2021-11-16 23:30] #520 closed

[2021-11-17 00:28] htaolimno commented on #518
@neilh10 I just updated both dataloader and odm2 data to the about an hour ago. Not sure this solves the problem.

[2021-11-17 13:56] htaolimno commented on #518
The issue is that the samplingfeatures table is out of sync. I am working on updating those tables.

[2021-11-17 14:17] htaolimno commented on #518
@neilh10 I've got all the tables in odm2 schema updated. I just checked the UUID using your link. Please verify. Thanks.

[2021-11-17 18:13] aufdenkampe commented on #518
@neilh10, I think you should now be able to move forward with your testing of HTTP POST Requests from devices.

However, because of some nuances of the various PostgreSQL database replication approaches, we can't BOTH keep staging perfectly in sync with production (inducing primary keys) AND also receive new data into staging. The workaround that @htaolimno and I just settled on is to do a perfect

[2021-11-17 22:10] neilh10 commented on #518
@aufdenkampe that sounds perfectly reasonable.
as a "staging" website I am using it as only testing, throw away in the end

My take its perfectly reasonable for testing that any data sent to  staging won't make it to the  production, and I understand your rationale on sinking staging with production, that will give everyone the chance to see how their data shows under the new graphing.

Just wonde

[2021-11-17 22:29] aufdenkampe commented on #518
@neilh10, yes, if you create a new site or variable on staging, it will be completely gone the next morning, unfortunately.

Thanks for offering to do this testing. It will be very helpful!

[2021-11-17 22:43] neilh10 commented on #518
I see the same UUIDs for https://staging.monitormywatershed.org/sites/tu_rc_test07/
thanks very much

[2021-11-17 22:43] #518 closed

[2021-11-17 23:01] neilh10 opened #522 "smmw: posting response is 301"
When I attempt to post, to "staging.monitormywatershed.org"  I get response 301, which is unsuccessful

Looking at
https://staging.monitormywatershed.org/tsv/tu_rc_test07/4903/ or
at download tu_rc_test07_TimeSeriesResults.csv
its not been recorded.

With some debug the terminal response from the Mayfly is
---------------------------
Client connected after 361 ms <--EnviroDIYPublisher
POST /api/da

[2021-11-17 23:08] neilh10 commented on #522
I just tried
Pinging staging.monitormywatershed.org [3.130.242.34] with 32 bytes of data:
Request timed out.
Request timed out.
Request timed out.
Request timed out.

Ping statistics for 3.130.242.34:
    Packets: Sent = 4, Received = 0, Lost = 4 (100% loss),

Pinging data.enviroDIY.org [50.236.137.123] with 32 bytes of data:
Reply from 50.236.137.123: bytes=32 time=70ms TTL=44
Reply from 50.236.1

[2021-11-18 00:13] aufdenkampe commented on #522
@neilh10, wow, that's weird. I get the same thing.

I'm thinking that we need to open a port for HTTP and forward to HTTPS or something like that. I'll look into it.

[2021-11-18 01:46] neilh10 opened #523 "smmw: Date Range actions switched"
When making a selection with the "Date Range" Begin selector,  after pressing Update Plot, the action is switched to the End date, and the result is not the expected start plotting from the Begin Date.
Stepping to https://staging.monitormywatershed.org/tsv/tu_rc_test06
and then selecting the Decagon_CTD Temperature
The screen on entry
![Screenshot 2021-11-17 173717](https://user-images.githubuserc

[2021-11-18 04:28] neilh10 commented on #478
I think this is fixed, I haven't seen it recently.

[2021-11-18 04:30] neilh10 opened #524 "How to test for reliable server"
The https://monitormywatershed.org architecture has some inherent occasional stability/reliability issues.
Since Nov13 it has been exhibiting a lot of date losses from POSTs as seen by test06 - probably because of maintenance work.
The test system https://monitormywatershed.org/sites/tu_rc_test06/
through a "reliable delivery" algorithm only records a successful post when a 201 is received, so fro

[2021-11-18 17:37] neilh10 commented on #522
Ahh seems some strange new spaces in the interstatial-net  ....

C:\Users\neilh77a>ping staging.monitormywatershed.org

Pinging staging.monitormywatershed.org [3.130.242.34] with 32 bytes of data:
Request timed out.
Request timed out.
Request timed out.
Request timed out.

C:\Users\neilh77a>tracert staging.monitormywatershed.org

Tracing route to staging.monitormywatershed.org [3.130.242.34]
over

[2021-11-18 21:02] ptomasula commented on #522
The 301 response from the staging server was due to our nginx configuration. The server was configured to automatically root HTTP (non-secure) traffic to HTTPS (secure).

I have reconfigured nginx so that any HTTP traffic with ‘/api’ in the uri will bypass the HTTPS reroute and should now be handled by the application.

[2021-11-18 21:07] ptomasula commented on #522
As for ping and tracert failing to resolve, that is probably AWS security related. I'm not certain but my guess is that AWS blocks ping and traceroute by default and that @aufdenkampe and I need to take a look at our security groups to enable that. We can leave the issue open for now until we resolve ping and traceroute.

[2021-11-18 21:29] ptomasula commented on #522
Confirmed that ping (and likely traceroute) issues are related to AWS security settings. Ping should resolve correctly because I've enabled the EchoRequest protocol. I'm not exactly sure what protocol I need to enable for traceroute. I enabled the 'traceroute' protocol but still doesn't resolve for me.

@aufdenkampe, might be worth following-up with AWS support if we need to get traceroute to work

[2021-11-18 22:37] neilh10 commented on #510
Following completion https://github.com/ODM2/ODM2DataSharingPortal/issues/522
I can now post successfully to staging.monitormywatershed.org,
however the data is not showing up for display or available on download.

The test node is https://staging.monitormywatershed.org/sites/tu_rc_test07/
and the latest POST from this node is

Client connected after 359 ms <--EnviroDIYPublisher

POST /api/data-st

[2021-11-27 17:31] neilh10 opened #525 "Production: Server Error (500)"
No response on all access, both front door, and data POSTS

From my test07 log reported Intermittent from  UTC
2021-11-27T07:32:22-08:00,POST,500,
2021-11-27T07:34:18-08:00,POST,500,
2021-11-27T07:36:23-08:00,POST,500,
2021-11-27T07:54:18-08:00,POST,201,

Then shortly after that
2021-11-27T08:32:23-08:00,POST,500,5000,0,1637973120,133,2.903,3.9967,4.275,16.17,-0.0014,-9999.0,-9999.0,-33

https://m

[2021-11-29 15:05] aufdenkampe commented on #525
@neilh10, thanks for sharing this error. We're looking into it right now.
cc. @ptomasula

[2021-11-29 17:52] neilh10 commented on #525
Many thanks. All fixed that I can see off

[2021-11-29 17:52] #525 closed

[2021-11-29 18:12] aufdenkampe commented on #525
@neilh10, yes! Thanks for posting this error.

[2021-11-29 20:49] ptomasula commented on #510
I needed to work on the code related to this issue to resolving some issues related to InfluxDB dependencies. I added in error handling to the /api/data-stream/ method so that exceptions will now result in a 500 response. This code is live on the [staging server](https://staging.monitormywatershed.org).

[2021-11-29 20:49] #510 closed

[2021-11-29 20:53] ptomasula commented on #522
With the AWS configuration and the recent refactoring the /api/data-stream/ feature should now return either a 201 or a 500 response. I've tested this by spoofing a sensor with postman but it would be good to confirm this behavior using a real sensor before closing the issue.

@neilh10 would you be able to resume posting some data to the staging server and verify if you get the appropriate respons

[2021-11-29 20:58] ptomasula opened #527 "Better error reporting for CSV Upload function"
While addressing InfluxDB related dependency issue, I refactored the CSV upload method (/api/data-file-upload/) to have better exception handling. Exceptions (if encountered) are now tracked in a list and a [206 response will be returned along with the errors list](https://github.com/ODM2/ODM2DataSharingPortal/blob/2392a44fee3b90447e64dec468696a9dae46076c/src/dataloaderservices/views.py#L333-L334)

[2021-11-29 21:17] aufdenkampe commented on #312
@ptomasula added pandas to this quick fix (Commit https://github.com/ODM2/ODM2DataSharingPortal/pull/526/commits/47047b1bb0f376fdf30924fb44fdd904c604b2f0 to Resotre CSV Upload Function), to better support datetime formats, as Django `parse_datetime` rejects some pretty reasonably formatted date strings.

More complete use of pandas would likely improve performance substantially, but that would req

[2021-11-29 21:31] aufdenkampe commented on #364
@SRGDamia1 & @dbressler75, we believed we just fixed with with our Restore CSV Upload Function commit (47047b1bb0f376fdf30924fb44fdd904c604b2f0) that was part of:
- #526

Closing, but please feel free to test further.

We'll continue to work on CSV uploads and in the future when we fully implement:
- #312

[2021-11-29 21:31] #364 closed

[2021-11-29 21:36] aufdenkampe commented on #523
@ptomasula, this might be something to work on in December. Adding it to the next milestone.

[2021-11-29 21:38] aufdenkampe commented on #508
Good idea. We'll track this for future development.

[2021-11-29 21:49] aufdenkampe commented on #489
Our new TSV seems to be showing all the data on our staging servers at  https://staging.monitormywatershed.org.

Closing this issue.

[2021-11-29 21:49] #489 closed

[2021-11-29 21:50] aufdenkampe commented on #471
Our new TSV seems to be showing all the data on our staging servers at  https://staging.monitormywatershed.org.

Closing this issue.

[2021-11-29 21:50] #471 closed

[2021-11-29 21:53] aufdenkampe commented on #443
I think this has been fixed with #526, so closing.

We will further improve performance in the future with #312.

[2021-11-29 21:53] #443 closed

[2021-11-29 22:02] aufdenkampe commented on #347
We'll address this when we revisit CSV uploads with:
- #312

[2021-11-29 22:04] aufdenkampe commented on #445
We might get to address this with the next round of development.

[2021-11-29 22:07] ptomasula commented on #523
Nice find. This was related to a UTC conversion. It should now be addressed with PR [#528](https://github.com/ODM2/ODM2DataSharingPortal/pull/528). Changes are live on the staging server.

[2021-11-29 22:07] #523 closed

[2021-11-29 22:08] aufdenkampe commented on #456
I'm nearly certain that @ptomasula fixed this on staging.

[2021-11-29 22:08] #456 closed

[2021-11-29 22:12] aufdenkampe commented on #316
@ptomasula reconfigured Nginx settings on staging, as described here: https://github.com/ODM2/ODM2DataSharingPortal/issues/522#issuecomment-973268492

This is all working now.

[2021-11-29 22:12] #316 closed

[2021-11-29 22:13] ptomasula opened #529 "Cache Busting for JS/CS"
It's common practice to add methods to force an update of new JS and CSS files when a new version is deployed to the server. This prevents the third party cached version of the files from being used and ensures that users see updates to these files as soon as they are deployed. In Django this is done by having the application append a version number to the various JS/CSS files. See [manifeststatic

[2021-11-29 22:15] aufdenkampe commented on #478
Let's close this. It seems to have been caused by a caching issue.

[2021-11-29 22:15] #478 closed

[2021-11-29 22:16] ptomasula commented on #478
Caching to be resolved under #529

[2021-11-29 22:25] aufdenkampe commented on #429
I'm guessing this is connected to #478 and might be fixed with:
- #529

Kicking this can down the road.

[2021-11-29 22:34] neilh10 commented on #510
Yeah!!! the POSTED data is getting and '201' and showing on https://staging.monitormywatershed.org/sites/tu_rc_test07/
A couple of POSTS got '504', then on the next '201' as part of reliable delivery where repeated and POSTed OK

[2021-11-29 13:24:15.141] Client connected after 358 ms <--EnviroDIYPublisher
[2021-11-29 13:24:15.194] POST /api/data-stream/ HTTP/1.1
[2021-11-29 13:24:15.194] Host: st

[2021-11-29 22:38] neilh10 commented on #522
Yeah with #526 complete, on POSTIing its going through and I'm getting a '201' response, and occasionally a '504'
https://staging.monitormywatershed.org/sites/tu_rc_test07/

[2021-11-29 22:38] #522 closed

[2021-11-29 22:57] neilh10 opened #530 "smmw: Date Range Update Plot results in default text in Begin"
When operating on the new fun tsv, it comes up with a years range.
However when narrowing that range, it reverts to what appears as the default text "yyyy-mm-dd"
Its repeatable as follows
From https://staging.monitormywatershed.org/sites/tu_rc_test07/
From temperature select "Open in TSV" which shows data and Data Range Begin 2020-11-29  End 2021-11-29

In Begin change selection to 2021-11-01, whi

[2021-11-29 23:09] aufdenkampe commented on #522
@neilh10, that's great to see. Thanks for your testing!

[2021-12-07 23:03] #418 closed

[2021-12-08 17:50] neilh10 opened #535 "Excessive readings lost"
For a stable site TUCA-PO03 I'm seeing a lot of readings lost in the last few days
(https://monitormywatershed.org/sites/TUCA_PO03/)
The readings loss is typically two lost, two received.
This pattern started at 2021-12-03 20:15  PST, up to the last reading
2021-12-07 5:30 PST
and no further readings/

It also has one reading that was partially received, at 2021-12-06  7:15:00 PM PST only the firs

[2021-12-08 22:56] aufdenkampe commented on #535
@neilh10, we migrated from LimnoTech to AWS servers yesterday with our [MonitorMW v0.12 release](https://github.com/ODM2/ODM2DataSharingPortal/releases/tag/v0.12.0) yesterday.

To make that switch, we had to change the IP addresses associated with our URLs, and those changes took a very long time to fully propagate through all the Domain Name System (DNS) servers around the country.

All the data

[2021-12-09 00:16] neilh10 commented on #535
thanks for the update. Fingers crossed. I thought I should just record what I was seeing.

[2021-12-10 23:43] neilh10 commented on #530
In using the picker today, it is working very nicely.

[2021-12-10 23:43] #530 closed

[2021-12-11 00:37] neilh10 commented on #535
Nice to have https://monitormywatershed.org/sites/TUCA_PO03/ uploading data.

Performing a "Download Sensor Data" and looking at the records
TUCA_PO03 appears to operating correctly, as indicated by a steady incrementing sequence number. It has pushed data reliably since  2021-12-10 09:45 PST - for some 5 hours, and then stopped for the last couple of hours.

Between 2021-12-07  5:45:00 AM PST (-8

[2021-12-12 17:18] ssueng2021 opened #536 "TSV aliasing"
We had a wonderful little storm last night, and when looking at the data this morning it seems there is some visual aliasing.
For the TSV it automatically selects the date as the today date, however it seems to assume that the data be shown to today 00:00 where as I would expect it to show all the data collected today till the current time.
For https://monitormywatershed.org/sites/nh_LCC45/
the fr

[2021-12-12 17:41] neilh10 commented on #536
Interesting - neilh10 posted the above. But it took the eng ID I created for some students. Possibly a bug in github.. oh lordy all this quirkiness !!!

[2021-12-15 20:32] neilh10 opened #537 "On creating new site get Server Error (500)"
On creating a new site, I get a Server Error (500)

![image](https://user-images.githubusercontent.com/2766619/146259811-15c695b3-b5d1-4bd8-8079-107e66cb311f.png)

however it is created.
Initially I created it with no notifications, but then went in and edited the site and change to Notifications, and saved and got the 500
I tried updating Site information with "Edit", and changed the "Notes" to s

[2021-12-15 20:44] neilh10 commented on #537
On creating a sensor, adding the details, and pressing "Add New Sensor", the window never says its complete,
![image](https://user-images.githubusercontent.com/2766619/146262016-ced87cad-13ab-4c6a-a22a-c006497798d3.png)

however if the CANCEL is pressed, and then browser refreshed, the sensor has been created.

![image](https://user-images.githubusercontent.com/2766619/146262174-07639f9d-3ed3-4e6c

[2021-12-16 00:23] neilh10 opened #538 "On posting to new site getting 500 response"
For a new site I've created, it only seems to get a response of 500.
https://monitormywatershed.org/sites/tu_rc_test08/
The new site creation had some errors in the process of setting it up, but seems to be functional - #537
However the data does seem to be showing up as seen by the Sequence Number incrementing.

The mayfly test08 POST looks like this

[code]
.....
and every POST

[code]

[2021-12-16 14:30] aufdenkampe commented on #537
@neilh10, thanks for this report. We'll look into it.

We were doing some hot-fixes to the database yesterday, but those would have only resulted in momentary issues an it seems that your observations were repeatable. Thanks!

[2021-12-16 17:27] aufdenkampe commented on #536
@neilh10, we'll work on this soon.

[2021-12-16 19:14] neilh10 commented on #538
thanks.
For test08 site I've only been getting 500.
It was off overnight and now started it again. (time PST)

[2021-12-16 11:10:07.982] Connected Internet
[2021-12-16 11:10:08.021]
[2021-12-16 11:10:08.021] pubDQTR Sending data to [ 0 ] data.envirodiy.org
[2021-12-16 11:10:08.466] POST /api/data-stream/ HTTP/1.1
[2021-12-16 11:10:08.466] Host: data.envirodiy.org
[2021-12-16 11:10:08.466] TOKEN: 0

[2021-12-16 21:03] ptomasula commented on #537
@neilh10, thanks for the testing and reporting this issue. This looks to have been caused by some old TSA related syncing code that was still running on the application. Because we're removed TSA, the end point for that code was not available and it produced the 500 response that you reported.

@aufdenkampe as a hot fix, I've commended out that code and will push an update to the application short

[2021-12-16 21:03] #537 closed

[2021-12-16 21:04] ptomasula commented on #538
This is the same cause as #537. See #537 for explanation.

[2021-12-16 21:14] ptomasula commented on #536
@ssueng2021 @neilh10
Thanks for reporting this. We revised the java script responsible for handling those date ranges to enable it to pull any available data for the day selected as the end date.

The previous implementation used 12am midnight as the end time, which resulted in any data for the select end not being displayed on the plot when selecting default ranges.

One note: this is a JS relate

[2021-12-16 21:14] #536 closed

[2021-12-16 21:21] ptomasula commented on #461
I believe this was resolved with [Release V0.12.0](https://github.com/ODM2/ODM2DataSharingPortal/releases/tag/v0.12.0). The pop-up table appears to be reporting local time of the sensor along with UTC offset. The same is true of the sparkline plots, though no date information is actually plotted.

[2021-12-16 21:21] #461 closed

[2021-12-16 21:34] neilh10 commented on #538
I'm still getting the problem on posting to test08.
The data is showing on https://monitormywatershed.org/sites/tu_rc_test08/
however only getting "-- Response Code -- 500 waited  3590 mS Timeout 5000"
typical timeout is about 3.6secs, occasionally 4.4Secs

Should I rebuild another site?
thanks

[2021-12-16 13:28:12.807] Connected Internet
[2021-12-16 13:28:12.839]
[2021-12-16 13:28:12.839] pubDQT

[2021-12-16 21:54] ptomasula commented on #538
Thanks @neilh10, I'll reopen this and take a closer look.

[2021-12-16 22:41] neilh10 commented on #537
great, I created a test site
https://monitormywatershed.org/sites/nhtest2112161440/
and it worked.
Now deleted.

[2021-12-16 22:56] ptomasula commented on #538
@neilh10

Thanks for following up on this. I didn't understand the initial scope of this issue, but I think I've sorted it now.

This was a database related issue. Some where (I assume in the migration process) the resultid for '3bebd4a3-8b54-4f92-ba55-5fd2fd021358' went missing from the timeseriesresults table. A missing resultid meant that the query, associated with the post request you included

[2021-12-16 22:56] #538 closed

[2021-12-16 23:14] neilh10 commented on #538
@ptomasula  this site was only created yesterday, so something in perhaps in the site creation process.

So good to hear #510 is working correctly responding with "500 Internal Server Error"

For my test site test08
The new record POST is succeeding with a 201    ~~ Hurrah~~
I'm now getting a secondary 500 - I could create a new issue on this, but maybe its similar.

So the new record POST is succ

[2021-12-17 14:41] ptomasula commented on #538
@neilh10 Thanks for the additional information.

Good to know this was a site that was created yesterday. I'll review the site creation code and verify that is it correctly populating the tables. This behavior might be related to the dead TSA code above, but either way that's a good thought as to the cause.

I think the 500 response for the secondary post is also related to the handling of #510. T

[2021-12-17 17:07] dbressler75 opened #540 "TSV y-axis - add ability to adjust axis"
I know this isn't a priority because of getting all the main AWS server stuff situated, but active users of MonMW are already noting that inspecting data is a lot more difficult without the capacity to zoom/adjust the y-axis.  Hopefully this capacity can be added relatively soon.  Thanks for all the great work!!

[2021-12-17 17:12] neilh10 commented on #538
@ptomasula thanks for the diagnosis.
I really appreciate that #510 is a solid foundation that was missing.

So that was my guess for the second POST that it was matching it to what's in the database.  Why would that be identified  problem?.
I would think, and I've been advocating for over a year, that the reliable delivery algorithm be fleshed out https://github.com/ODM2/ODM2DataSharingPortal/issu

[2021-12-17 19:03] ptomasula commented on #538
Thanks @neilh10

I agree with you and have revised the logic to pass over exceptions for duplicate primary keys. It will instead, as a shortish term fix, return a 201 response when duplicates are passed. There might be, as you pointed out, a more appropriate and informative response code like 208 that we should be returning instead. Though we'll probably need to wait until we clean up the code bas

[2021-12-17 20:51] neilh10 commented on #538
@ptomasula    ~~~yeah~~~~   working
I've turned on my Mayfly test08 and for its list of QUE0.txt its pushing it to MMW.

My test08 systems is now receiving an occasional 504's, (possibly less than 1 in 200),  and thats probably everything working correctly
so these aren't show stoppers so far, and its uploading its queue successfully.

My test06 system is still however now receiving too many 504's

[2021-12-17 20:58] neilh10 commented on #538
oops I take it back test06 is uploading now

[2021-12-17 12:46:11] Waiting up to 15000 ms for Digi XBee3 Cellular LTE-M to respond to AT commands...
[2021-12-17 12:46:12] Connecting to the Internet with Digi XBee3 Cellular LTE-M
[2021-12-17 12:46:21]  WATCHDOG ISR barksUntilReset 51 <--WatchDogAVR
[2021-12-17 12:46:22] Connected Internet
[2021-12-17 12:46:22] ... Watchdog low barksUntilReset 51  e

[2021-12-17 21:02] aufdenkampe commented on #540
@dbressler75, thanks for posting this issue. We recognized that losing that capability would be an inconvenience, and we appreciate your understanding that we prioritized the release to AWS over that feature. We plan to restore it with our next release sometime in February. Thanks for your patience with this.

[2021-12-17 21:35] neilh10 commented on #538
It POSTED 5+100 readings successfully,
[2021-12-17 13:10:11] then on next access of POSTing 5 readings all '504', and response time right on the timeout of 5seconds.

[2021-12-17 13:20:12] after that of the first 5 readings, 3 got 504's and the last was 201 - so its uploaded 100 records out of the QUE ok.

So it seems to me there is something indeterminate happening, just don't know how to charact

[2021-12-17 23:20] neilh10 commented on #485
In this update I'm identifying what I understand is the state of different systems to support a "reliable delivery algorithm"

The target I suggest is that for data recorded on ModularSensors/Mayfly for 1year at 15minutes time intervals will be successfully delivered to MMW.
One year of data is 96records * 365 days  or 35040records  or 99.997% reliability.
Statistically, if twice the data is deliv

[2021-12-17 23:44] neilh10 commented on #524
The release v0.12.x is now production on the AWS servers and live for POSTs to data.enviroDIY.org.
Visualizations of these readings is through https://monitormywatershed.org/ (MMW)
I've updated https://github.com/ODM2/ODM2DataSharingPortal/issues/485#issuecomment-997086429

I'm looking to try and defined a test so that it can characterize current conditions

My specific purpose in characterizing t

[2021-12-20 03:00] neilh10 commented on #535
amazing.. the missing readings have re-appeared, ported to the new database.
Practically, if the old system is stopped, then any lookups to it will fail - timeout 504 Modular Sensors inserted error, and then when the lookup hits the new working system they should transfer.
I'm trying to see when I can visit TUCA_PO03 to power cycle it, however its on private property and in the past I've asked to

[2021-12-20 03:00] #535 closed

[2021-12-20 03:50] neilh10 opened #542 "Tests over weekend 2021Dec17 a lot of timeouts on 5 and 7secs"
For tests running over the wekend starting 2021Dec17 ModularSensors/Mayflys experienced a lot of timeouts, no response from the server.

ModularSensors, waits for a defined timeout period from the server, if there is no response then it defines it locally as an HTTP 504 .
With the transition from servers this may be expected, and I will change the code this week to also list what IP its getting wh

[2021-12-20 16:11] aufdenkampe commented on #535
@neilh10,  I'm glad you now see all that missing data.

Our plan is to keep our old production server (on LimnoTech premises) running for a few more months, to continue forwarding data to our new AWS servers until everyone has time to power-cycle their devices during their normal maintenance schedules.

[2021-12-20 16:19] aufdenkampe commented on #542
@neilh10, if you have the old IP address anywhere in your code, then that will be problematic, as that will bypass our new DNS routing.

LimnoTech servers were getting shutdown this weekend for maintenance, so does seem like that test device might be pointing to our old IP. As long as a device is doing that, it will have an error anytime LimnoTech servers are shut down, even if our AWS servers hav

[2021-12-20 16:40] aufdenkampe commented on #538
@neilh10, think it is worth changing your host to `monitormywatershed.org`, and also removing any references to our old IP address, as it seems that maybe even your newer sites are somehow being affected by maintenance on LimnoTech servers and not fully benefiting from AWS 99.999% uptime.

See my explanation here.
https://github.com/ODM2/ODM2DataSharingPortal/issues/542#issuecomment-998074122

[2021-12-20 16:40] aufdenkampe commented on #524
@neilh10, think it is worth changing your host to `monitormywatershed.org`, and also removing any references to our old IP address, as it seems that maybe even your newer sites are somehow being affected by maintenance on LimnoTech servers and not fully benefiting from AWS 99.999% uptime.

See my explanation here.
https://github.com/ODM2/ODM2DataSharingPortal/issues/542#issuecomment-998074122

[2021-12-20 16:40] aufdenkampe commented on #485
@neilh10, think it is worth changing your host to `monitormywatershed.org`, and also removing any references to our old IP address, as it seems that maybe even your newer sites are somehow being affected by maintenance on LimnoTech servers and not fully benefiting from AWS 99.999% uptime.

See my explanation here.
https://github.com/ODM2/ODM2DataSharingPortal/issues/542#issuecomment-998074122