[2018-03-23 18:59] horsburgh commented on #169
Tested on the sandbox. Craig associated a published HydroShare resource with a site for which sharing to HydroShare had been set up. The fact that the resource has been published is detected correctly, and the following message is displayed.

![image](https://user-images.githubusercontent.com/3485902/37848466-de990800-2e99-11e8-9b11-2380c0098552.png)

However, when I click the "Disconnect Resource

[2018-03-23 21:50] horsburgh commented on #169
@darksinge - just resolved this one and deployed to sandbox. Another quick check and everything looks good. Marking this one as tested.

[2018-03-23 21:52] horsburgh commented on #166
@darksinge - the scheduled update ran as expected today and the next update date was set for tomorrow. I'm going to mark this one as tested as it seems to be working correctly.

[2018-03-23 22:41] darksinge commented on #167
Updated the sandbox so it does not display the "Next update scheduled for..." label.

[2018-03-26 16:46] horsburgh commented on #165
@darksinge - there's still something weird going on. I just shared this site to HydroShare:

http://envirodiysandbox.usu.edu/sites/USU-Logan-Temp/

It only has one variable - temperature. Keywords added to HydroShare include pH, Turbidity, Electrical conductivity, Oxygen, dissolved, and Temperature. See:

https://www.hydroshare.org/resource/8647b1d1a499432c86095d83d6bc0abd/

By coincidence (or per

[2018-03-26 16:52] horsburgh commented on #167
@darksinge - now when I set up a daily sharing schedule, the times don't seem to match up:

![image](https://user-images.githubusercontent.com/3485902/37920288-b4427c20-30e3-11e8-8e9b-fdc8819ab548.png)

Why is the next update time at 5 AM instead of 1 day from when I scheduled the update?

[2018-03-26 16:54] horsburgh commented on #167
@darksinge - I can verify that the when you choose to pause the data sharing, the next scheduled update is no longer displayed. However, now the last update date is not being shown. When sharing is paused, I should still be able to see the Last updated date and time.

[2018-03-27 14:42] darksinge commented on #165
This turned out to be an issue with the sandbox database. Some of the older sites had strange database issues from previous testing. Independent of database inconsistencies, I can confirm the keyword creation behaves as expected. @jcaraballo17 and I were able to fix the database issues on the sites you mentioned - they should create the correct keywords now.

[2018-03-27 15:40] horsburgh commented on #165
Given that we tracked this down, I'm going to tag this one as tested.

[2018-03-27 19:05] darksinge commented on #167
This is ready for re-testing.

[2018-03-27 19:32] SRGDamia1 commented on #193
Where is this fixed?  The production version of WebTSA (http://data.envirodiy.org/tsa/) now has data up to 20Mar18, but not past that.  Spark lines are also empty.

[2018-03-27 20:53] horsburgh commented on #167
Verified on the sandbox. Marking this one as tested.

[2018-03-30 15:27] jcaraballo17 commented on #193
Last week we got the influxdb data back up, but the issue appeared again after a few days. We've been finding and fixing the root of the problem. The sparklines and the TSA should be back to normal now.

[2018-04-03 14:41] #124 closed

[2018-04-03 14:41] #164 closed

[2018-04-03 14:41] #165 closed

[2018-04-03 14:41] #166 closed

[2018-04-03 14:41] #167 closed

[2018-04-03 14:41] #168 closed

[2018-04-03 14:41] #169 closed

[2018-04-03 14:41] #193 closed

[2018-04-03 15:14] horsburgh commented on #170
The data.wikiwatershed.org domain is currently active and points at the site. We will continue to support both data.envirodiy.org and data.wikiwatershed.org, but I'm going to close this because it is working now.

[2018-04-03 15:14] #170 closed

[2018-04-03 16:23] horsburgh opened #200 "Switch Organization Code to Organization Name in list on Sign up page"
This appears to be a regression on the current production server. The drop down list should display the organization name and not the organization code, which is what it is showing now.

@jcaraballo17 - I think this should be a quick hotfix. Please close when complete.

[2018-04-03 16:43] horsburgh opened #201 "Add organization types"
The following organization types need to be added to the system for new users who are signing up and may be creating new organizations:

* School primary
* School secondary
* Non-profit organization
* Youth group
* Park
* Nature center
* Faith-based organization

See terms, names, and definitions at http://vocabulary.odm2.org/organizationtype/

[2018-04-07 18:33] aufdenkampe opened #202 "Expand list of Sampled Medium to include "sediment""
We presently allow for 4 types of Sampled Medium:
- Air
- Soil
- Not applicable
- Liquid Aqueous
- Equipment

I would like to add the following additional options, based on the complete list from http://vocabulary.odm2.org/medium/:
- other
- sediment

I don't think there are any other terms we need to include in the near future.

[2018-04-07 18:36] aufdenkampe commented on #188
I think the point of Sara's request is only to make the full list of units available to Admin users so that we have access to them when we add new sensors.

[2018-04-07 18:55] aufdenkampe commented on #202
If the following is trivial to do, it would also be nice to add display "Liquid Aqueous" as "Liquid Aqueous (water)", given that most of our users are looking at water, and many are quite confused by Liquid Aqueous.

[2018-04-09 16:53] horsburgh commented on #202
@aufdenkampe - we can change this to whatever you guys want. If we modify the term here, it will be inconsistent with the ODM2 vocabulary, but that's probably the right thing to do for this audience. We discussed this earlier with @SRGDamia1 and I thought there was a reason why we decided to keep it as is, but I can't remember.

[2018-04-09 21:36] aufdenkampe commented on #202
I don't really want to deviate from the ODM2 vocabulary under the hood, because of the web services we're providing and our desire to showcase our use of ODM2 and it's interoperability features. I was just hoping we could display it differently, but that may not be trivial to do.

[2018-04-10 10:27] horsburgh opened #203 "Help: Create "Data Services" Page"
On a prior teleconference we discussed developing a "Data Services" page that describes the different mechanisms for accessing the data available via the data.wikiwatershed.org website. We discussed adding text about the following:
* HydroShare (www.hydroshare.org)
* CUAHSI Water Data Services (data.cuahsi.org)
* WikiWatershed

This page would describe each of these systems, what is available ther

[2018-04-10 10:31] horsburgh opened #204 "HydroShare Interoperability: Make datasets shared to HydroShare public by default"
Right now datasets shared to HydroShare are private by default. Make the default public.

[2018-04-10 10:33] horsburgh opened #205 "HydroShare Interoperability: Add additional subject keywords"
For data sharing to HydroShare, add the following as keywords to the resource shared in HydroShare:
* WikiWatershed
* EnviroDIY (for sensor datasets)
* Leaf Pack (for LPN datasets)

[2018-04-10 10:36] horsburgh opened #206 "HydroShare Interoperability: Link to existing HydroShare resource"
If data sharing for a site is stopped, but the resource is not deleted from HydroShare, and then sharing is restarted, provide an option to reconnect to the previous resource instead of creating a new one. Starting sharing again would overwrite the content of the existing resource.

[2018-04-10 10:40] horsburgh opened #207 "HydroShare Interoperability: Use consistent data license in HydroShare"
When users sign up for the data.wikiwatershed.org website, they agree that the data they create will be shared using the Creative Commons Attribution Share Alike License (CC-By-SA). Need to make sure that when resources are created in HydroShare, they use this same license, which is one of the default options provided by HydroShare.

[2018-04-10 10:44] horsburgh opened #208 "HydroShare Interoperability: Add option to write EnviroDIY data to time series type in composite resource"
Right now we are copying the EnviroDIY data to the HydroShare resource as CSV files. Add an option to copy the data as CSV or to copy the data as an ODM2 SQLite database within a composite resource.

We can develop the export to ODM2 SQLite functionality, but finishing this work will likely have to wait until Phase 2 of the composite resource is complete.

[2018-04-10 10:51] horsburgh commented on #202
@jcaraballo17 - I'm assuming this is an easy fix. Can you take care of this one for this release?

[2018-04-10 10:52] horsburgh commented on #155
This one appears to be working on the sandbox.

[2018-04-10 10:53] horsburgh commented on #156
This appears to be done on the sandbox. Adding the tested label.

[2018-04-10 10:54] horsburgh commented on #128
This appears to be complete on the sandbox server. Marking as tested.

[2018-04-10 11:00] horsburgh commented on #171
@Maurier - there's still still a couple of things to do on this page:
* [ ] Add a "Sign Up" button to the top image banner just below the text "Data Sharing for the Citizen Science Community"
* [ ] Add the panel at the bottom just above the header with the "Ready to join? Create an account for free." text and the "Sign Up" button as in the mockup above.
* [ ] Add the EnviroDIY and Leaf Pack networ

[2018-04-10 11:03] horsburgh commented on #116
I see this on the bottom of the page. It needs to point at the right release number - this one will be 0.7.0, not 0.6.0. I would like it to include a label and be formatted as follows:

Release: Version 0.7.0

The "Version 0.7.0" text should be linked to the GitHub release page for 0.7.0.

I'm adding the "ready for testing" label because it's on the sandbox, but these changes need to be made befor

[2018-04-10 11:06] horsburgh commented on #163
@Maurier - this one is assigned to you, but I don't see any of this on the sandbox and I don't see an "In-progress" label. We need to get this one finished with #139. I'm not adding any labels because I don't see any evidence of this on the sandbox.

[2018-04-10 11:08] horsburgh commented on #92
@Maurier and @jcaraballo17 - this one is assigned to both of you, but I don't see any of this on the sandbox and I don't see an "In-progress" label. Which one of you is going to take care of this?

We need to get this one finished with #139. I'm not adding any labels because I don't see any evidence of this on the sandbox.

[2018-04-10 11:09] horsburgh commented on #178
@aufdenkampe - footer needs to be reviewed. I added the "ready for testing" label. Can you review and add the "tested" label once you think the footer is complete?

[2018-04-10 11:11] horsburgh commented on #177
This appears to be working on the sandbox. Right now we have "Organizations" and "Site Types" as filters. When we compete the Leaf pack functionality, we can add a "Data Type" filter. Things seem to be working as expected. Adding the "tested" label.

[2018-04-10 11:13] horsburgh commented on #176
This appears to be ready on the sandbox. Added "tested" label.

[2018-04-10 11:14] horsburgh commented on #174
This appears to be done on the sandbox. Adding the "tested" label.

[2018-04-10 11:15] horsburgh commented on #173
Appears ready on the sandbox. Added "tested" label.

[2018-04-10 11:16] horsburgh commented on #172
Looks ready on the sandbox. Added the "tested" label.

[2018-04-10 14:39] jcaraballo17 commented on #202
Yes, I'll make sure to add these for the next release.

[2018-04-10 15:31] SRGDamia1 opened #209 "Restyle Site: Styling issue on links to companion sites in main landing page"
![image](https://user-images.githubusercontent.com/5374350/38566810-a5b3b446-3cb2-11e8-91c6-585675edc3dd.png)

The last line of the description of the companion site overlapps the "view site" link

[2018-04-10 15:38] SRGDamia1 opened #210 "Restyle Site: Scroll bar is non-functional in filter pane when browsing sites on Firefox"
I can see an empty scroll bar, but there isn't a "bar" in it to move up and down.

Issue on Firefox 59.0.2 (64-bit), Chrome seems ok.

[2018-04-10 15:41] SRGDamia1 commented on #178
I do not like the way the "Find us on GitHub" sits up above everything else.  Can it be moved down in line with the other "developed by" images?

[2018-04-10 15:42] Maurier commented on #209
Found the problem and fixed. Will show up once we update the deployment.

[2018-04-10 15:44] SRGDamia1 commented on #176
I'm not seeing anything related to macros right now when I'm looking at my sites.  Should I be?

[2018-04-10 15:47] SRGDamia1 commented on #155
When I'm testing it looks like in the alphabetical sort, all capital letters are sorted before any lowercase letters (ie "WCC019" is coming before "desk_sensors" when ascending alphabetically).  The case should not matter in the alphabetical sort.

[2018-04-10 15:50] SRGDamia1 commented on #209
Thanks!

[2018-04-10 15:51] Maurier commented on #178
@SRGDamia1 How about this:

![image](https://user-images.githubusercontent.com/2448568/38567983-b73ef72e-3ca4-11e8-9e6f-333041d67abf.png)

[2018-04-10 16:09] SRGDamia1 commented on #178
I like that.

[2018-04-10 16:31] aufdenkampe commented on #178
Agreed. Much better.

[2018-04-10 16:37] aufdenkampe commented on #202
Thanks!

So we'll have 2 new media (sediment & other).

And also display "Liquid Aqueous (water)" or "Water - Liquid Aqueous" (I like the second), but still keep the term as "Liquid Aqueous" in the database, so that our web services are still compliant with http://vocabulary.odm2.org/medium/ for interoperability.

[2018-04-10 17:54] jcaraballo17 commented on #202
@aufdenkampe we could also go with something more simple like just `Water`. This is really easy to change, so we can change our minds about it later without it being a setback.

[2018-04-10 18:02] aufdenkampe commented on #202
I like "Water - Liquid Aqueous", so that the EnviroDIY user gets familiar with the actual term we use in for the web services.

[2018-04-10 18:04] jcaraballo17 commented on #202
Sounds good!

[2018-04-10 18:31] HeatherBrooks opened #211 "Restyle Site: Fix typo in instruction bar on Browse Sites page"
![image](https://user-images.githubusercontent.com/9368629/38576306-c68546b2-3ccb-11e8-93eb-1fa242bc332e.png)
"shows it's details" should be "shows its details"

[2018-04-10 18:34] horsburgh commented on #176
Leaf pack network functionality is the next release. So, no, you shouldn't see anything yet.

[2018-04-10 18:38] Maurier commented on #210
Fixed. Will show up on the next update.

[2018-04-10 18:47] HeatherBrooks opened #212 "Restyle Site: Duplicate text in "Explore Our Companion Projects" section on home page"
Leaf Pack Network "about" text is a duplicate of WikiWatershed's. It should read:
An international network of teachers, students, and citizen monitors investigating their local stream ecosystems.

[2018-04-10 21:00] aufdenkampe commented on #171
The WikiWatershed Outreach team met today, and we had a lengthy discussion of branding elements across the WikiWatershed / Model My Watershed / Monitor My Watershed system, which are primarily relevant to https://github.com/WikiWatershed/model-my-watershed/issues/2741 but also here.

Part of this is a likely update of our logos. See our [WikiWatershed Toolkit Branding Ideas](https://docs.google.co

[2018-04-11 10:30] horsburgh commented on #138
This looks good on the sandbox. Marking as tested.

[2018-04-11 10:31] horsburgh commented on #200
This looks good on the sandbox. Adding the tested label.

[2018-04-11 10:33] horsburgh commented on #159
This looks complete on the sandbox. Adding tested label.

[2018-04-11 10:36] horsburgh commented on #161
I don't see this in the table on the status page. I'm assuming it's been removed, so I added the tested label.

[2018-04-11 10:37] horsburgh commented on #212
This is complete on the sandbox. Adding tested label.

[2018-04-11 10:38] horsburgh commented on #211
Fixed on sandbox. Adding tested label.

[2018-04-11 10:40] horsburgh commented on #210
I just tested in both Chrome and Firefox. Looks good on the sandbox. Adding the tested label.

[2018-04-11 10:41] horsburgh commented on #209
Tested in Chrome and Firefox. Looks good on sandbox. Adding tested label.

[2018-04-11 10:43] horsburgh commented on #202
This is done on the sandbox, so I'm adding the tested label. One minor point - because of the way Juan added "Water" to the term "Liquid aqueous", it doesn't sort quite right in the list. But, the list is short and so I don't think this is an issue.

[2018-04-11 10:45] horsburgh commented on #139
This is done on the sandbox. Button for code snippet is gone. Adding tested label.

[2018-04-11 10:47] horsburgh commented on #171
This is complete on the sandbox. Adding the tested label.

@aufdenkampe - I think we should push forward with this release as is and do any rebranding based on your discussions later.

[2018-04-11 10:48] horsburgh commented on #116
Done on sandbox. Adding tested label.

[2018-04-11 10:53] horsburgh commented on #163
@Maurier - I see the registration token GUID for the site, but I don't see the SamplingFeature token GUID.  That needs to get added to the site details page. I would just put it right under the registration token for now. Also - GUIDs of all types (registration, samplingfeature, and variable) should only be visible to the site owner and admins of the system.

[2018-04-11 10:55] horsburgh commented on #92
This looks good on the sandbox. However - GUIDs of all types (registration, samplingfeature, and variable) should only be visible to the site owner and admins of the system. I can see the variable GUIDs for sites when I am not logged in. @Maurier and @jcaraballo17 - which one of you should fix this?

[2018-04-11 10:56] Maurier commented on #163
Understood. I will be adding these this morning.

[2018-04-11 10:56] horsburgh commented on #178
@aufdenkampe and @SRGDamia1 - given that you both have commented on this issue, I'm going to add the tested label. We're getting pretty close to finishing up this release, so if you have additional comments, let us know as soon as you can.

[2018-04-11 10:58] Maurier commented on #92
I can fix this.

[2018-04-11 13:54] aufdenkampe commented on #139
All, I really don't want the code snippet removed, as I mentioned above, in https://github.com/ODM2/ODM2DataSharingPortal/issues/139#issuecomment-364596356, which was the last comment on this issue.

I'll talk this week to @SRGDamia1 about why she believes it can't be refactored, but in the meanwhile, I believe that even the old Code Snippet is better than none, even if the UUIDs are visible in th

[2018-04-11 13:59] aufdenkampe commented on #171
I think that it does make sense to push this forward sooner than later, and replace logos, etc. in the next release. I would like to do one more review of the sandbox, but unfortunately the sandbox isn't working this morning. Please let me know when it is again ready for testing.

[2018-04-11 14:03] horsburgh commented on #171
@aufdenkampe - I just tried the sandbox and it is working for me.

http://envirodiysandbox.usu.edu/

We need content very soon if we are going to switch things for this release. Otherwise, we can push it to the next release.

[2018-04-11 14:05] horsburgh commented on #139
@aufdenkampe and @SRGDamia1 - we need to know ASAP if we are removing this or not. We do not have any plans at USU to refactor or modify the code snippet to maintain order or do anything that we were not doing before, so I'm not sure how useful it is given that the GUIDs are now all shown on the page.

[2018-04-11 15:04] SRGDamia1 commented on #139
If the GUID's are shown, remove the code.  It's out of date anyway.

[2018-04-11 15:06] jcaraballo17 commented on #160
@horsburgh My sites didn't have any data for that variable either, so I ended up following some sites that did have that data and it shows up correctly.

[2018-04-11 15:08] SRGDamia1 commented on #160
It's showing for me on the sandbox.

[2018-04-11 15:13] SRGDamia1 commented on #92
I can see the time series GUID's now on the sandbox when viewing the sites.  I'd still like to see the GUID for an existing variable when I'm editing it.  (Of course, there is no GUID at the initial variable creation.)

![image](https://user-images.githubusercontent.com/5374350/38625820-4b39bc46-3d79-11e8-8835-2d7ecbf62b07.png)

[2018-04-11 15:13] SRGDamia1 opened #215 "Rename pop up for editing a sensor from "Add Sensor" to "Update Sensor""
When editing an existing sensor

![image](https://user-images.githubusercontent.com/5374350/38625863-62abba78-3d79-11e8-8e37-1cbf7341bffd.png)

[2018-04-11 15:16] SRGDamia1 commented on #138
Thanks!

[2018-04-11 15:16] SRGDamia1 commented on #178
Do we want to add the logos for WPF/NSF in the "With support from" block to match the CC/SWRC/USU/Limno logos in the other blocks?

I'm content either way. @HeatherBrooks?

[2018-04-11 15:30] SRGDamia1 commented on #139
I don't see the point of leaving up an un-documented and out-of-date bit of code.  It's not even usable in the examples from the current release of the library it was meant to work with.  I think leaving it up is only going to confuse anyone who clicks on it.  If/when we refactor, then we can re-add it.

If Anthony's reason for leaving it up is to have a single quickly copy-able hunk of text with

[2018-04-11 15:35] SRGDamia1 opened #216 "Help: Create a help section"
Have a "Help" drop-down in the upper tool bar with pages for getting started, post request syntax, sensor links/documentation etc.

![image](https://user-images.githubusercontent.com/5374350/38627208-6b3a2d2a-3d7c-11e8-8c53-7be7e0344e34.png)

[2018-04-11 15:41] SRGDamia1 opened #217 "Move "logout" to submenu of "Logged in As""
Also make "edit profile" another submenu in the same spot.  This matches what is done in app.wikiwatershed.org

![image](https://user-images.githubusercontent.com/5374350/38627450-fae05328-3d7c-11e8-8251-2f16677bd0b4.png)

![image](https://user-images.githubusercontent.com/5374350/38627590-569c7930-3d7d-11e8-8d27-073684063b6c.png)

[2018-04-11 16:26] HeatherBrooks commented on #178
It might end up pretty crowded. I wouldn't add the additional logos unless someone else on the team feels strongly that we should.

[2018-04-11 18:15] aufdenkampe commented on #139
@SRGDamia1 and I had a phone conversation, and we decided that there is a solution that solves both of our concerns and needs. The solution is:
* Keep the "code snippet" button, to allow users to copy/paste the entire UUID list into an external notes file for a deployment. We release this is somewhat redundant with #163, which we also love as a new feature.
* Change the button title from "View Cod

[2018-04-11 18:28] aufdenkampe commented on #171
Sandbox started working for me again, shortly after I sent this.

Yes, @SRGDamia1 and I will try to get feedback to you soon. Can we target COB tomorrow, for a release on Friday?

[2018-04-11 18:29] aufdenkampe commented on #156
I really like the ability to switch between the two map views. Thanks for creating and implementing this issue.

Let's not have Satellite the default for all the map views, but only the Register Site map that allows you to click on a location.

For the My Sites and Browse Sites maps, lets have the terrain map as the default (not satellite).

[2018-04-11 18:37] HeatherBrooks opened #218 "Hyperlink color doesn't provide enough contrast"
Hyperlink text color doesn't provide enough contrast against the white background. See [https://webaim.org/resources/contrastchecker/](url). Recommend changing to the darkest of the three WikiWatershed brand colors, #336666.
![data-portal-link-contrast](https://user-images.githubusercontent.com/9368629/38636033-199a68cc-3d95-11e8-811e-7bf8a3615fa2.jpg)

[2018-04-11 18:48] aufdenkampe commented on #178
I think the footer is looking good. I like @SRGDamia1's idea to have WPF & NSF logos under the "With Support From" block, given the current length of the footer and if it doesn't make the footer longer (i.e. I think there is room).

That said, I don't think this issue needs to hold up this release.

[2018-04-11 19:19] horsburgh commented on #160
OK. Marking this one as tested.

[2018-04-11 19:25] horsburgh commented on #178
We'll move forward with what we've got. If someone wants to send additional logos, we can consider adding them, but I'm of the persuasion that the footer is already too big.

[2018-04-11 19:29] Maurier commented on #92
@horsburgh,

Yes, are working on this together right now. Editing the labels has also been taken care of and will show up on the next update to the sandbox later today.

[2018-04-11 19:32] horsburgh commented on #139
@Maurier - Can we easily add the button back to the site details page with the same functionality as before but with a label of "View Token UUID List"? Sorry for the confusion. I've removed the ready for testing and tested labels until we finalize this.

[2018-04-11 19:33] horsburgh commented on #171
@aufdenkampe - I'm still in Vienna through Saturday, so I would rather do a release early next week when I'm around if something goes wrong.

[2018-04-11 19:34] Maurier commented on #139
Yes, I'll add this back. No problem.

[2018-04-11 19:35] horsburgh commented on #156
@Maurier - if this is easy enough to do with a simple switch in the code, then go ahead and do it for the next release. Otherwise, this needs to be a separate issue.

[2018-04-11 19:51] Maurier commented on #156
@aufdenkampe,

Should we also use the Sattelite map for the Site Details page?

[2018-04-11 20:09] HeatherBrooks opened #219 "Suggestions for changes to "How It Works" and "Explore Our Companion Projects" text"
Not tagging this for the 0.7 restyling milestone, but would like to propose for consideration, changes to the homepage that would move the "about" text and links for EnviroDIY and Leaf Pack Network up, and then replace the EnviroDIY, WikiWatershed, and LPN boxes with expanded text and links to wikiwatershed.org.
![data-portal-home-1](https://user-images.githubusercontent.com/9368629/38640406-2fbbb

[2018-04-11 20:38] SRGDamia1 commented on #171
#219 is tied to this.

[2018-04-11 21:05] horsburgh commented on #219
Hi all. Thanks for the suggestion. This is a pretty significant change to the work that @Maurier has already done. We'll consider this for a subsequent release.

[2018-04-11 21:07] aufdenkampe commented on #139
Thanks, that is much appreciated!

[2018-04-11 21:09] aufdenkampe commented on #163
The labels on these are "GUID", but in ODM2 and in our modular code, we call them "UUID"s.
Can we change that. Also applies to #92.

[2018-04-11 21:10] aufdenkampe commented on #156
Yes, that sounds good. Satellite as default for Site Details and also Site Registration/Editing.

[2018-04-11 21:16] aufdenkampe commented on #219
I really like the new text that @HeatherBrooks proposed under the EnviroDIY and Leaf Pack Network headers. I agree with @horsburgh that the "Learn More>" link might need to wait for a next release, but it seems to me that modifying the text should be straightforward for @Maurier or @jcaraballo17 to do by cut/paste. It had actually been on my mind to write better text than "Sensor Datasets" and "Ex

[2018-04-11 21:29] HeatherBrooks commented on #219
@aufdenkampe, here you go:

EnviroDIY is a community of enthusiasts sharing do-it-yourself ideas for environmental science and monitoring.

Share and Explore Sensor Datasets

The Leaf Pack Network is an international network of teachers, students, and citizen monitors investigating their local stream ecosystems.

Share and Explore Macroinvertebrate Datasets

[2018-04-11 21:39] horsburgh commented on #219
@aufdenkampe - It isn't just cut and paste text. @Maurier is going to have to redo the page to get rid of the boxes at the bottom and add the additional text at the bottom. If you want to wait longer, he can do it. We will need the URLs for the links.

[2018-04-11 22:08] aufdenkampe commented on #219
@horsburgh, yes, I agree that we can wait on replacing the boxes at the bottom.
I think what I'm suggesting is indeed a simple copy/paste of text:
* Under the EnviroDIY logo, replace "Sensor Datasets" with this text:
  * "EnviroDIY is a community of enthusiasts sharing do-it-yourself ideas for environmental science and monitoring."
  * "Share and Explore Sensor Datasets"
* Under the LeafPackNetwor

[2018-04-11 23:59] darksinge commented on #207
HydroShare's API doesn't allow us to choose which license to use. I opened an [issue](https://github.com/hydroshare/hydroshare/issues/2710) with them to see if that can be remedied.

[2018-04-12 06:25] horsburgh commented on #207
OK - let's keep the one we have for now and see if they can resolve the issue. They are about to make a new release, so it might take a little bit for a fix and then the next release after that.

[2018-04-12 21:20] horsburgh commented on #218
This appears to be fixed on the sandbox. Adding the tested label.

[2018-04-12 21:33] horsburgh commented on #139
OK - final go. The button has been added back and is now called the "Token and UUID List". Adding the tested label back. Functional on the sandbox.

[2018-04-12 21:35] horsburgh commented on #156
This is implemented on the sandbox. Tested and functional.

[2018-04-12 21:38] horsburgh commented on #163
Both the registration token and the SamplingFeatureUUID are now shown in the site details page. Tested and functional on the sandbox. Adding tested label.

[2018-04-12 21:41] horsburgh commented on #92
I no longer see the tokens or UUIDs when not logged on. This one looks good to go on the Sandbox. Adding the tested label.

[2018-04-16 04:24] horsburgh commented on #219
@Maurier - can you quickly make these text changes under the logos for the leaf pack network and envirodiy? We won't do the part about the "Explore the WikiWatershed web toolkit" this time around, but the text changes suggested in the last comment by @aufdenkampe should only take a couple of seconds to implement.

[2018-04-16 14:09] Maurier commented on #219
@horsburgh yes, I can make this changes today.

[2018-04-16 16:30] darksinge commented on #206
This is ready for initial testing. I understand we may want to add additional help text or something, but the initial functionality is in place on the sandbox.

Steps to test:
1. Create a resource on a site by clicking "Turn On Sharing" and submitting the form.
2. Turn off sharing (but do not select option to delete the resource on hydroshare.org)
3. Select "Turn On Sharing". There should be a dro

[2018-04-16 19:31] horsburgh commented on #219
@Maurier - these look good on the sandbox. I just chatted with Juan and he is getting ready for the release. Adding the tested label on this one.

[2018-04-16 22:33] aufdenkampe commented on #219
Looks great! Thanks! Looking forward to seeing this release!

[2018-04-17 14:55] #92 closed

[2018-04-17 14:55] #116 closed

[2018-04-17 14:55] #128 closed

[2018-04-17 14:55] #138 closed

[2018-04-17 14:55] #139 closed

[2018-04-17 14:55] #155 closed

[2018-04-17 14:55] #156 closed

[2018-04-17 14:55] #159 closed

[2018-04-17 14:55] #160 closed

[2018-04-17 14:55] #161 closed

[2018-04-17 14:55] #163 closed

[2018-04-17 14:55] #172 closed

[2018-04-17 14:55] #173 closed

[2018-04-17 14:55] #174 closed

[2018-04-17 14:55] #176 closed

[2018-04-17 14:55] #177 closed

[2018-04-17 14:55] #178 closed

[2018-04-17 14:55] #200 closed

[2018-04-17 14:55] #202 closed

[2018-04-17 14:55] #209 closed

[2018-04-17 14:55] #210 closed

[2018-04-17 14:55] #211 closed

[2018-04-17 14:55] #212 closed

[2018-04-17 14:55] #215 closed

[2018-04-17 14:55] #218 closed

[2018-04-17 14:55] #219 closed

[2018-04-17 16:48] aufdenkampe commented on #171
Just talked to Jeff, we need to add a "Coming Soon"  or something similar in the "Leaf Pack Network" section of the home page.

[2018-04-17 18:00] horsburgh commented on #171
This is done on production.

[2018-04-17 18:00] #171 closed

[2018-04-17 21:20] horsburgh opened #229 "Initial LPN Functionality: Create Form to Display LPN Dataset"
Need a design for how we will display an LPN dataset when a user clicks on it on the site details page.

[2018-04-17 21:21] horsburgh opened #230 "Initial LPN Functionality: Add Form for Creating a LPN Dataset"
Need to build the data entry form for the LPN datasets.

[2018-04-17 21:22] horsburgh opened #231 "Initial LPN Functionality: Add Form for Editing a LPN Dataset"
Once a user has created an LPN dataset, they should be able to click on it on the site details page and edit that dataset. I'm assuming that this can be the same form as the Create LPN Dataset form (see #230), but labeled differently.

[2018-04-17 21:45] horsburgh commented on #182
The facets have been added to the browse sites form, but we left this open because we need a third facet for data type (e.g., EnviroDIY sensor data, Leaf Pack Network Datasets, etc.).

[2018-04-17 21:48] horsburgh commented on #230
Mockup of the data entry form:

![image](https://user-images.githubusercontent.com/3485902/38899887-9dbe91ee-4256-11e8-8c9b-467c425a468b.png)

[2018-04-17 21:58] horsburgh commented on #181
Closing this issue because it is now a duplicate of others.

[2018-04-17 21:58] #181 closed

[2018-04-24 15:20] aufdenkampe opened #232 "Server Error (500) when I edit a site!"
Hi @horsburgh, @Maurier and @jcaraballo17

I just got a `Server Error (500)` when I tried to add the following new sensor to this new site: http://data.envirodiy.org/sites/update/WSU-1/
Sensor:
All External Voltage Divider	All_ExternalVoltage_Battery	Electromotive force: Volt (V)	Equipment

This seems reminiscent of the database issues that occurred after an update earlier this winter.

I did not

[2018-04-24 16:30] jcaraballo17 commented on #232
Fixed. There was a duplicate entry for the unit `Milligram per Liter (mg/L)`. The entry with variable code `YosemiTech_Y4000_DOmgL` was using that duplicated unit and making the editing crash.
I added the sensor you wanted to add to that site and it worked just fine, you

[2018-04-24 17:43] aufdenkampe commented on #232
Thank you!

[2018-04-24 17:43] #232 closed

[2018-04-26 20:58] SRGDamia1 opened #233 "Filters on browse sites should be applied together (AND not OR)"
So if I select a filter for organization = Stroud and site type = stream I want to see only sites that are BOTH deployed by Stroud AND site type stream, not ones that are either one or the other.

[2018-04-26 21:02] horsburgh commented on #233
I just tried this and got the opposite result (or)?

[2018-04-26 21:02] SRGDamia1 opened #234 "Last measurement times are wrong (again....) Time zone problem"
![image](https://user-images.githubusercontent.com/5374350/39331701-3fea88b0-4973-11e8-92eb-4df13ef0681b.png)

This sensor's data is actually only 13 minutes old, not 5 hours and 13 minutes old.  The sensor is posting in UTC-5 and the last point was 3:45pm, which would be 4:45 in UTC-4.  My pc clock is in UTC-4.

[2018-04-26 21:08] SRGDamia1 commented on #233
Oh, I'm sorry.  Yes, I'm currently seeing OR, I want to see AND.

[2018-04-30 15:10] SRGDamia1 commented on #136
Once you enter TimeSeriesAnalyst, it feels like you're lost in a totally different system with no idea how you got there or how to get back.

[2018-04-30 15:11] SRGDamia1 commented on #90
The ModularSensors has been improved to the point that  this is no longer necessary.

[2018-04-30 15:11] #90 closed

[2018-04-30 15:19] SRGDamia1 opened #236 "UI improvements to WebTSA"
People over at Stroud *really* don't like the some of the features "missing" from WebTSA:

- [x] no ability to "trace" a line and see individual point values (https://github.com/UCHIC/WEBTSA/issues/120)
- [x] upper visualization pane can't be used to control pan/zoom, only lower pane (https://github.com/UCHIC/WEBTSA/issues/121)
- [x] lack of any vertical zoom (https://github.com/UCHIC/WEBTSA/issue

[2018-04-30 15:23] SRGDamia1 opened #237 "Fix branding on WebTSA"
http://data.envirodiy.org/tsa/ still has the EnviroDIY branding/look.  I think this should be changed to the WikiWatershed scheme.  @aufdenkampe? @HeatherBrooks?

[2018-04-30 15:27] HeatherBrooks commented on #237
The logo will need to be changed. I would wait until we have a new Monitor My Watershed logo, rather than switching to the WikiWatershed logo and then switching again to the Monitor logo.

[2018-05-01 15:51] SRGDamia1 opened #238 "Leaf Pack Visualization"
Add a view with a comparison of multiple sites.

[2018-05-01 16:04] SRGDamia1 opened #239 "Add Google Analytics"
To see website usage stats, etc.  @HeatherBrooks can generate keys, but then they must be inserted into the website.

[2018-05-01 16:16] SRGDamia1 opened #240 "Add privacy pay-wall"
Allow users to make sites/data private at some cost

[2018-05-01 17:17] SRGDamia1 opened #241 "Update controlled vocabs"
In the admin system - update to current version as at http://vocabulary.odm2.org/

[2018-05-01 17:18] SRGDamia1 commented on #234
The time last updated is correct on the status page, it is only incorrect in the MySites page.

[2018-05-01 17:43] HeatherBrooks commented on #239
This is the Global Site Tag (gtag.js) tracking code for this property. Copy and paste this code as the first item into the <HEAD> of every webpage you want to track. If you already have a Global Site Tag on your page, simply add the config line from the snippet below to your existing Global Site Tag.

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47047573-13"></script>
<script>

[2018-05-07 15:02] SRGDamia1 opened #243 "Stroud exists twice as an organiization"
The "Stroud" organization had been entered twice.  In the organization on the administrative panel, there is only one instance, but it looks like older sites that had been deployed with another "SWRC" organization still are being displayed with that organization code.

![image](https://user-images.githubusercontent.com/5374350/39708779-130a1a92-51e6-11e8-8a81-671c5aaa10e6.png)

[2018-05-07 15:04] SRGDamia1 opened #244 "User sdamiano exists twice..."
Please kill one of them and transfer all stations from that one to the other one.  I don't even know which one is which.

![image](https://user-images.githubusercontent.com/5374350/39708891-66439076-51e6-11e8-8271-0f1d109750cf.png)

[2018-05-07 15:07] SRGDamia1 opened #245 "After selecting the Campbell OBS3 variable in WebTSA, no variables appear to be selected"
![image](https://user-images.githubusercontent.com/5374350/39709050-cbe08f1a-51e6-11e8-9d7f-cd1126faf8a6.png)

This consistently happens, whether entering TSA from a specific site/variable or directly from data.envirodiy.org/tsa

[2018-05-07 20:17] darksinge commented on #244
I checked the database and there is an account named "sdamiano" and one named "SGDamiano1". Do you own both of those accounts?

[2018-05-07 23:36] SRGDamia1 commented on #244
Most likely. I doubt I have any imposters. Could you please move everything from the lowercase user to the other and then delete the lowercase user?

[2018-05-10 14:58] SRGDamia1 commented on #244
Please delete the sdamiano account.

[2018-05-10 15:03] SRGDamia1 opened #246 "Organizations are listed both as codes and full names in filters"
When browsing sites, the organizations seem to appear randomly as either a full name or a code.  So, in the snap below, "WSU" is a code; the full organization name is Winona State University, but "The Nature Conservancy" is the full organization name; it has a code of "TNC."

![image](https://user-images.githubusercontent.com/5374350/39876670-d268bddc-5441-11e8-9c60-1763e356c152.png)

[2018-05-10 15:09] SRGDamia1 commented on #246
I created another issue (#243) for Stroud existing twice, but we're not the only ones who do.  The Nature Conservancy is actually there twice, once spelled out and once as TNC.  UWRL exists by that code and as Utah Water Research Laboratory.  I don't see any pattern in which sites are listed by code and which by full organization name.  Almost all of the sites that are listed as both "Stroud" and

[2018-05-10 15:12] horsburgh commented on #246
@jcaraballo17 or @Maurier  - can you check to make sure the browse facet is only using the organization name?

@SRGDamia1 - I'm not completely sure what's going on here, but given that the creation of organizations is free text and users can input whatever they want, there is potential for duplicate entries. We'll verify that the browse is working correctly and only including the organization name

[2018-05-10 15:19] SRGDamia1 commented on #246
I definitely understand the potential for duplicate organizations, but at least from what I can see in the Django admin panel that I have access to.... none of these are actually cases of duplicate organizations.

[2018-05-10 16:55] jcaraballo17 commented on #246
As @SRGDamia1 mentioned, the problem is not that there are duplicate organizations, but we're showing both organization code and organization name as separate things.

[2018-05-10 19:44] jcaraballo17 commented on #246
@SRGDamia1  @horsburgh This should be fixed now.

[2018-05-10 20:15] SRGDamia1 commented on #246
Wahoo!  Looks good to me!  Thank you!

[2018-05-10 20:15] #246 closed

[2018-05-10 20:15] darksinge commented on #244
This is done, closing.

[2018-05-10 20:15] #244 closed

[2018-05-10 20:15] #243 closed

[2018-05-10 23:43] SRGDamia1 commented on #244
Thank you!

[2018-05-15 15:53] dbressler75 opened #250 "Can't connect data.envirodiy.org account to hydroshare"
When I try to connect via my user account in upper right it takes me to an authorize data.wikiwatershed.org tab - when I click that tab it gives me "Server Error (500)".

[2018-05-16 15:47] horsburgh commented on #250
@dbressler75 - just to confirm, do you have a HydroShare account already?

[2018-05-16 16:11] horsburgh commented on #250
OK. Great. Thanks for the quick reply. We'll follow up on this and see what's up.

@darksinge - can you look into this and see what's going on?

[2018-05-16 16:13] dbressler75 commented on #250
Ok great, thanks very much

David W. Bressler
Citizen Science Project Facilitator
Stroud Water Research Center
410-456-1071 (mobile)
610-268-2153 x312 (office)
dbressler@stroudcenter.org

On Wed, May 16, 2018 at 12:11 PM, Jeff Horsburgh <notifications@github.com>
wrote:

[2018-05-16 19:41] aufdenkampe commented on #234
I noticed this issue too, but if I remember, the issue was with daylight saving time.

In other words, the website is comparing my laptop time, in daylight savings time, to the data logger real time clock timestamp, which is in standard time, and saying, for example, that it's been 1 hour and 2 minutes since the last reading when it's only been 2 minutes.

[2018-05-16 20:12] horsburgh commented on #136
@SRGDamia1 - per our conversation today, it would be great to get a few more details here so that we know exactly what is needed.

[2018-05-16 21:16] darksinge commented on #250
We're in the process of migrating the website domain name from `data.envirodiy.org` to `data.wikiwatershed.org`. It looks like you tried connecting your account to hydroshare from `data.envirodiy.org`, but hydroshare redirected you back to `data.wikiwatershed.org`, which caused the error.

If you log into `data.wikiwatershed.org` and try connecting your account again, it should work.

I'll get wor

[2018-05-17 11:28] dbressler75 commented on #250
Great, thank you!

David W. Bressler
Citizen Science Project Facilitator
Stroud Water Research Center
410-456-1071 (mobile)
610-268-2153 x312 (office)
dbressler@stroudcenter.org

On Wed, May 16, 2018 at 5:16 PM, Craig Blackburn <notifications@github.com>
wrote:

[2018-05-18 19:52] darksinge commented on #250
The fix for this will make its way into production with the next release. Closing.

[2018-05-18 19:52] #250 closed

[2018-05-21 21:18] SRGDamia1 opened #252 "Add a "sensor" is misnomer - really adding a variable"
The buttons, etc, ask you to add a "sensor," but in reality you're adding a variable.  So you may actually enter the same "sensor" many times.  Functionally, this is fine, but we may want to think about changing the naming.  I'm not sure what to call it, though.  I'm afraid saying "add variable" will confuse anyone who isn't familiar with the ODM2 terminology.

[2018-05-22 15:13] SRGDamia1 opened #253 "Zoom to bounding box after selecting filter"
When browsing sites, it would be very cool to automatically zoom to the extent of sites remaining selected after a filter is applied.

[2018-05-22 15:16] SRGDamia1 opened #254 "Help: Document JSON input structure on website"
Right now I don't think it's documented anywhere, except maybe as an issue in this repo.  I'm not quite sure where it belongs; maybe part of the future help section (#216).

[2018-05-24 17:15] aufdenkampe commented on #252
This issue is connected to one of my earlier comments, in https://github.com/ODM2/ODM2DataSharingPortal/issues/71#issuecomment-364512461 and https://github.com/ODM2/ODM2DataSharingPortal/issues/74#issuecomment-332660214, regarding the potentially confusing (i.e. not conceptually correct) use of terms relative to our ODM2 concepts and terms.

[2018-05-24 17:20] aufdenkampe opened #256 "Bugs in database for Organizations and potentially elsewhere"
In our call last Tuesday I described a few bugs related to Organizations.

@jcaraballo17 said he understood and would fix the issue, but I don't see a place that it is being tracked.

@fisherba noticed another bug that might be a database bug, which I'll let her describe.

cc: @horsburgh & @Maurier

[2018-05-24 17:28] fisherba commented on #256
When I try to view the data for http://data.envirodiy.org/sites/PM01/ in Time Series Analyst, it shows data for several other sites, including Limno Crossroads and the Kinni river sites by LimnoTech.

[2018-05-29 21:28] aufdenkampe opened #257 "Enable HTTPS"
We just learned on today's Monitor My Watershed call that it is possible to get free security certificates from https://letsencrypt.org/, and that it would be a good idea for this site given user login info, registration tokens, etc.

@Maurier or @jcaraballo17, would it be possible to implement HTTPS for this release?

cc: @horsburgh & @emiliom

[2018-05-30 15:50] horsburgh commented on #257
Dropping this one out of 0.8 release, which is focused on Leaf Pack functionality.

[2018-05-30 15:54] horsburgh commented on #239
I'm dropping this from milestone 0.8 because it is new functionality that is not related to the leaf pack stuff. It may be good to do, but we should prioritize it with other project cleanup/closeout issues. This isn't necessary for the initial leaf pack functionality roll out, which is what milestone 0.8 is focused on.

[2018-05-30 15:55] horsburgh commented on #234
@jcaraballo17 - given that this is a bug, it needs to get fixed. Have you addressed this yet? If not, can you give us a status update on what needs to be done to address this? We need to decide if this should stay in the 0.8 milestone for release. I don't want it to hold up rolling out the leaf pack network functionality.

[2018-05-30 15:57] horsburgh commented on #256
@jcaraballo17 - can you give us a quick update on this one? Is it a simple fix in the database? I want to see if we should leave this in the 0.8 milestone because I don't want to hold up the release of the leaf pack functionality.

[2018-05-30 16:14] jcaraballo17 commented on #256
@horsburgh The organization code problem is a simple fix in the database, so you can leave it as part of the milestone. I just haven't had time to address it yet.
I'll have to look into the time series analyst issue to see what's going on, but it sounds like an issue with either the url parsing in the tsa, or url we're using to redirect from envirodiy to the tsa.

[2018-05-31 21:50] aufdenkampe opened #258 "Fix 503 & 504 server errors"
@horsburgh, @Maurier and @jcaraballo17,

GetValues requests from the WikiWatershed / Monitor My Watershed web app to the EnviroDIY Data Sharing Portal are giving lots of 504 and 503 server errors. See https://github.com/WikiWatershed/model-my-watershed/issues/2859.

Also, this week @fisherba was getting a number of 500ish server errors when sending POST requests from one of her loggers. I wonder i

[2018-05-31 22:13] horsburgh commented on #258
@aufdenkampe - first priority for this week for us is getting the 0.8 release done for the data sharing portal. @jcaraballo17 - if you've got time to look at this while you are waiting for results from testing of the 0.8 release that would be great.

I'm dropping this out of the 0.8 release milestone because it isn't related to the leaf pack network functionality. @jcaraballo17 - we might want to

[2018-05-31 22:35] emiliom commented on #258
@aufdenkampe I'm a bit confused. I assume the `GetValues` requests you mention are WOFpy requests. But the POST requests from loggers sound like something else entirely, right? ie, requests that send data to the EnviroDIY database.

So it sounds like you're lumping different system components and failure points into this issue, but suggesting that they might have a common cause?

[2018-06-01 02:20] rajadain commented on #258
For this code:

<details>
<summary>
<strong>enviro-diy-failure.py</strong>

[code]
</summary>

[code]
</details>

Running a simple `time` command (and ignoring Python warnings to reduce noise of deprecated Pandas functions), we have:

<details>
<summary>
<strong>Timing EnviroDIY</strong>

[code]
</summary>

[code]
</details>

So we get a Gateway Time-out after 62 seconds. When this code [is called

[2018-06-01 17:23] aufdenkampe commented on #258
@horsburgh, that makes sense to drop it from this milestone, but to keep it on high priority for a potential hot-fix.

@emiliom, yes, I understand that the `getValues` requests are processed by the WOFpy code and that the `POST` requests are processed by part of the Django code, so it is very possible that the failures are completely unrelated. However, there is also a possibility that the failure

[2018-06-01 20:51] jcaraballo17 commented on #258
@aufdenkampe This is unrelated to the problem @fisherba is having with the data stream api. It sounds like the issue described here is part of WOFpy, so I'll probably won't be of much help here.

[2018-06-01 20:56] horsburgh commented on #258
@aufdenkampe - To do any real debugging here it would be helpful to have the specifics of requests that are successful and those that are failing. SiteCodes, VariableCodes, data ranges, etc.

[2018-06-01 21:04] rajadain commented on #258
@horsburgh There's a failing and working example in my comment above with site codes, variable codes, and from and to date ranges: https://github.com/ODM2/ODM2DataSharingPortal/issues/258#issuecomment-393738600

[2018-06-01 21:04] emiliom commented on #258
Yup. @rajadain 's report is very useful in this respect, at least for WOFpy assessments.

[2018-06-01 21:06] horsburgh commented on #258
Ah. Sorry - I hadn't click the arrows to expand the examples. Thanks!

[2018-06-01 21:08] emiliom commented on #258
BTW, I don't really know what this means, specially vis a vis the errors @rajadain is reporting and potential WOFpy implications. It *sounds* like I can ignore it?

[2018-06-01 21:09] horsburgh commented on #258
So - are all requests to the EnviroDIY WOFPy service failing? The successful test above is from the NWISUV service.

[2018-06-01 22:19] horsburgh commented on #258
Need to clarify here - this isn't a data.envirodiy.org issue (or at least it isn't an issue with the data sharing portal website developed by USU).

This is a WOFPy issue that may be related to the code of the WOFPy service, its deployment on our server, and/or the size of the data. Given that it was working over the winter/spring, my suspicion is that the database/datasets have now gotten large e

[2018-06-01 22:47] emiliom commented on #258
I went back to the set of WOF benchmark testing I worked on earlier, which included EnviroDIY WOFpy. As Anthony said, back then (**mid March**), `GetValues` responses may have been slow, but they were working. I was getting one sample request for 11 months of data in 86 seconds  ("wall time", which includes processing time once the data has been fetched). I reused the code from back then, and the

[2018-06-04 14:02] SRGDamia1 opened #259 "Separate adding sensor/leaf pack data from editing a site"
I think the "edit" button for site data should only be to edit the metadata on the sampling feature itself (lat/long/etc).  There should be separate pages for editing sensors and for adding leaf pack data.  When the sensors were required for a site, it made sense the way it is, but it's not at all intuitive to have to "edit" a site to add a leaf pack experiment.

[2018-06-04 14:09] SRGDamia1 commented on #259
![image](https://user-images.githubusercontent.com/5374350/40922004-006dd19e-67df-11e8-99c7-792a38fe760d.png)

![image](https://user-images.githubusercontent.com/5374350/40922053-1fdf18bc-67df-11e8-9150-89a24aa8477b.png)

![image](https://user-images.githubusercontent.com/5374350/40922098-4cca5ae4-67df-11e8-9d3b-15e7f5261e5a.png)

[2018-06-04 14:17] SRGDamia1 commented on #245
Also unable to overlay turbidity from multiple sites

[2018-06-04 14:32] SRGDamia1 opened #260 "Highlight QC status in spark lines"
Add a warning noting that the data is very raw.

[2018-06-04 14:34] SRGDamia1 opened #261 "Allow data to be hidden/made private"
Private data would be viewable only by owner.

Privacy would be per time series.

Would mirror privacy settings in HydroShare.

The same feature requested in #240 without the pay wall part.

[2018-06-04 14:40] horsburgh commented on #254
See the link on the front page of the repostitory:

https://github.com/ODM2/ODM2DataSharingPortal

to this page:

https://github.com/ODM2/ODM2DataSharingPortal/blob/master/doc/example_rest_requests.md

[2018-06-04 14:43] SRGDamia1 commented on #260
This only needs to be a visual flag at the top of the spark-line.

![image](https://user-images.githubusercontent.com/5374350/40923821-cc0893bc-67e3-11e8-8112-848d5d1cd7d4.png)

I'm not sure if there should be a warning on each spark-line or a single one at the top below the 72 hour warning.  Right now there is now way to upload data at any QA/QC level other than 0/Raw, but if there were to be a w

[2018-06-04 14:45] SRGDamia1 commented on #260
Similar to warnings issued by USGS:

![image](https://user-images.githubusercontent.com/5374350/40924075-6423464c-67e4-11e8-819f-748a6be0c5c8.png)

[2018-06-04 14:49] SRGDamia1 commented on #254
Yes, sorry.  I think there should be something actually on data.wikiwatershed.org.

[2018-06-04 14:50] SRGDamia1 commented on #245
The filter for the Campbell_OBS-3+_Turb variable seems to be the problem.  Could it be the "+" in the variable code that is causing the problem?

[2018-06-04 14:56] SRGDamia1 commented on #260
Is this simple enough to add to the priority time series features milestone?

[2018-06-04 14:59] SRGDamia1 commented on #253
The auto-zoom feature on the sandbox looks good so far.

[2018-06-04 15:02] SRGDamia1 commented on #201
I'd love it if all of the controlled vocabularies were updated, while you're updating the organizations! (#241).

[2018-06-04 15:56] SRGDamia1 commented on #245
I removed the "+" from the code in the admin panel, but that change doesn't seem to have propagated through to TSA.

[2018-06-05 15:05] SRGDamia1 commented on #245
Did you change anything?  It seems to be working now.

[2018-06-05 15:06] horsburgh commented on #245
@SRGDamia1 - @jcaraballo17 can confirm for sure, but I suspect it just took a little bit for the change you made to get propagated to the TSA catalog database via the script that keeps the databases in sync.

[2018-06-05 15:09] SRGDamia1 commented on #245
Okay.  Then if the "+" was the problem, it's good to know and I'll double check that there are no other variables with special characters in them.

[2018-06-05 15:10] horsburgh commented on #245
As a general rule, I would avoid special characters in SiteCodes, VariableCodes, etc. Thorough programming should ensure that they get escaped correctly, but that doesn't always happen.

[2018-06-05 19:18] rajadain commented on #258
On a tangential note, Ulmo is missing native support for timeouts, causing us to use a wrapper instead. However, its underlying components do support timeouts, so adding support for their specification would be useful for such cases in the future. I've added https://github.com/ulmo-dev/ulmo/issues/155 for that.

[2018-06-05 19:37] aufdenkampe opened #262 "Home page title should be "Data Sharing Portal""
Page title should be "Data Sharing Portal".

This is correct on production, but not staging, which has incorrectly reverted back to "Water Quality Data Portal".

I *think* we decided on this with #171, or at least during a call at around that time.

Adding to this milestone, because I'm presuming this was just an oversight.

cc: @Maurier, @horsburgh

[2018-06-05 19:50] aufdenkampe commented on #262
@darscott & @SRGDamia1, do we also change the subtitle?
* from "Data Sharing for the Citizen Science Community"
* to "Contribute your water quality data"

[2018-06-05 19:52] SRGDamia1 commented on #262
Also remove line "Data Sharing for the Citizen Science Community"

![image](https://user-images.githubusercontent.com/5374350/40999289-6cd499e0-68d8-11e8-8e3a-eac736832144.png)

[2018-06-05 19:58] aufdenkampe commented on #262
@SRGDamia1, how about changing the subtitle to "Contribute your water quality data"?

[2018-06-05 20:10] SRGDamia1 commented on #262
That sounds good to me.

[2018-06-05 20:11] Maurier commented on #260
This is simple enough to add right now. Just let me know what your decision is regarding where to put it.

[2018-06-05 20:12] SRGDamia1 opened #263 "Allow non-raw-data to be posted/shared"
Allow input of data that has a QA/QC value != 0.

[2018-06-05 20:16] horsburgh commented on #260
Given that all of the data are raw, we should have one statement above the sparklines that states this. The data aren't really provisional, because that means that they could change in the future. We have no mechanism for changing data. I suggest the following statement/warning to be added to the existing message at the top of the spark lines:

"Only the most recent 72 hours of available data are

[2018-06-05 20:23] SRGDamia1 commented on #260
Actually, the consensus (reached just this moment) at Stroud is to put it per time-series in case the functionality to display non-raw data is ever available.

Is there an ODM2 vocabulary for the observation quality control level (0-5)?  If so, can the flag possibly link to a description of that vocabulary term?

[2018-06-05 20:26] SRGDamia1 commented on #245
@aufdenkampe I changed the Keller variables to remove the "+" in them.  It seems like the special character was really the only problem, so I'll close this for now.

[2018-06-05 20:26] #245 closed

[2018-06-05 20:28] horsburgh commented on #260
There is no QCLevel vocabulary. This seems really redundant.

[2018-06-05 20:30] SRGDamia1 commented on #260
No link is fine, too...

[2018-06-05 21:07] aufdenkampe commented on #245
Thanks!

Sent from my iPhone

On Jun 5, 2018, at 3:27 PM, Sara Damiano <notifications@github.com<mailto:notifications@github.com>> wrote:

@aufdenkampe<https://github.com/aufdenkampe> I changed the Keller variables to remove the "+" in them. It seems like the special character was really the only problem, so I'll close this for now.

-
You are receiving this because you were mentioned.
Reply to th

[2018-06-06 15:37] horsburgh commented on #260
@Maurier showed me yesterday that he had added the label to the sparkline plots with the text I wrote above as hover text when you hover over that label.

[2018-06-06 17:39] SRGDamia1 commented on #260
Great!

[2018-06-06 18:26] jcaraballo17 commented on #256
@aufdenkampe The organizations should be back to normal now.
I think that any site that you register before the release it's going to temporarily display the organization code instead of the organization name, but this problem will go away after we deploy the latest version to the production server.

[2018-06-06 21:17] horsburgh commented on #262
@Maurier - looks like the subtitle has changed on the sandbox, but the main title has not changed. I'm assuming you are working on this one?

[2018-06-06 21:18] horsburgh commented on #256
@jcaraballo17 - did you fix this on production or on the sanbox?

[2018-06-06 21:28] Maurier commented on #262
Done. This will show up on the next update.

[2018-06-06 21:31] Maurier commented on #259
We have made changes accordingly. They are ready for testing at http://envirodiysandbox.usu.edu

[2018-06-06 21:36] jcaraballo17 commented on #256
production.

[2018-06-06 21:59] horsburgh commented on #97
This is operational on production. Closing.

[2018-06-06 21:59] #97 closed

[2018-06-06 22:40] aufdenkampe commented on #258
@emiliom, thanks for your extra testing.
The site you tested, http://data.envirodiy.org/sites/JRains1/, doesn't have any data since Feb (not sure that should matter).
I was able to find it on https://staging.app.wikiwatershed.org/analyze and did get some of the data to fetch.

@rajadain, did you find a fix?

@emiliom, can you run some tests to only fetch the last week, as we do for WikiWatershed?

[2018-06-06 22:48] aufdenkampe commented on #258
I just did some spot testing of EnviroDIY sites in the White Clay Creek HUC10 (in SE PA), and I see that data values are now getting fetched for many of the variables, but fetching is still taking a very long time (>30 s). Did a fix get implemented?

Regardless, this is an acceptable situation for this release.
Speeding things up will be a priority for the next release.

[2018-06-07 14:53] SRGDamia1 commented on #259
This looks great!  Two very minor title changes:

Remove the word leaf here:
![image](https://user-images.githubusercontent.com/5374350/41107659-c81a19b0-6a40-11e8-9e54-906d10ff634d.png)

And add the word "pack" after leaf here:
![image](https://user-images.githubusercontent.com/5374350/41107780-07045e60-6a41-11e8-9c83-49a3d7d73a41.png)

[2018-06-08 13:57] jcaraballo17 commented on #158
@SRGDamia1, @aufdenkampe I need some help linking the variables to a specific sampled medium.
I've already updated it with what's on the Google Sheet document, but right now in the database there are some ODM2 Results with different sampled mediums than those in the document.

Here's the list with those conflicts. Can you help me sort it out?
[code]

[2018-06-08 14:14] #112 closed

[2018-06-08 15:14] rajadain commented on #258
With https://github.com/WikiWatershed/model-my-watershed/pull/2866 deployed to staging, now we stop after 5 seconds for all data sources. This may be upped to 8s with https://github.com/WikiWatershed/model-my-watershed/pull/2870, but that would be the upper limit for APIs to respond.

[2018-06-08 20:07] jcaraballo17 commented on #241
All controlled vocabularies are updated now

[2018-06-08 22:29] horsburgh commented on #179
Tested on sandbox to register a new site. Seems to be working correctly.

[2018-06-08 22:43] horsburgh commented on #259
Tested on the sandbox. I edited site details and saved. I added sensors and they take effect immediately. The "Back to Site Details" button works great. I also added a leaf pack experiment. All are separate and working correctly.

Everything seems to be working correctly here. Adding tested label.

[2018-06-08 22:48] horsburgh commented on #204
Tested by sharing data from a site to HydroShare. The resource is created as public by default. Looks good. Adding tested label.

[2018-06-08 22:53] horsburgh commented on #206
Tested by disconnecting a site that was sharing to HydroShare. Then, clicked "Turn on Sharing". Chose the resource that was used before from the drop down list. Started a manual share, which seems to have worked correctly.

This appears to be working correctly. Adding tested label.

[2018-06-08 23:01] horsburgh commented on #253
@jcaraballo17 and @Maurier - I Just tested this and it appears to work, but when I click on the "Clear" button or deselect all of the facets after selecting them, it zooms the map to a view that shows South America and Antarctica. Not super useful. The view when the "Clear" button is selected or when all of the browser facets are actively deselected (the user unchecks them) should be the default m

[2018-06-08 23:04] horsburgh commented on #260
@Maurier - I just tested this on the sandbox. It is working correctly, but for some reason the "Provisional" label is wrapping below the variable name text in some cases.

![image](https://user-images.githubusercontent.com/3485902/41184494-dde4d1c4-6b3d-11e8-823a-5e65e2556eef.png)

Looks good otherwise.

[2018-06-08 23:15] horsburgh commented on #253
The behavior of this is really buggy at the moment on the sandbox. It is zooming me into weird locations when I make different selections. For example:

* Select University of St. Thomas as the Organization and Site Type of Stream and it zooms me in out the ocean somewhere in the middle of nowhere.

I think there needs to be a default zoom level if you select a set of browsing facets for which the

[2018-06-08 23:19] horsburgh commented on #253
Also - Organizations are not in alphabetical order in the browsing facet. This needs to be fixed.

[2018-06-08 23:21] horsburgh commented on #158
Tested on sandbox. I think this is working correctly. Adding tested label.

[2018-06-09 17:33] Maurier commented on #253
This is a bug caused by a conflict between the extent boundaries and the minimum zoom allowed in the settings.

In order to solve it I had to allow a wider zoom which will cause blank areas to show above and below the map for such wide zoom levels.

![image](https://user-images.githubusercontent.com/2448568/41193501-2c15c092-6bca-11e8-9082-a66748f72b29.png)

For this instance I think it's more int

[2018-06-11 00:14] horsburgh commented on #205
I think the WikiWatershed keyword is being created successfully. Also, I believe that the EnviroDIY keyword is also being added for sites with sensor data. The Leaf Pack keyword is not being added. @darksinge - need to make sure the Leaf Pack keyword is being added for resources that have Leaf Pack data.

[2018-06-11 00:54] horsburgh commented on #205
This behavior is inconsistent. If I create a new site, add sensor data to it, then share to HydroShare, the EnviroDIY keyword is created. If I create a new site, add Leaf Pack Network data to it, then share to HydroShare, the Leaf Pack keyword is not created. If I then add sensor data to that site and do an update to HydroShare, the EnviroDIY keyword does not get created.

@darksinge - need to go

[2018-06-11 00:57] horsburgh commented on #253
I tried this again, and it seems to be working much more intuitively. I'm going to add the Tested label to this one.

[2018-06-11 00:58] horsburgh commented on #260
I tried this again for my site and I'm only noticing it now at very narrow window sizes. I think this is reasonable and so I'm adding the Tested label to this one.

[2018-06-11 01:02] horsburgh commented on #233
I believe this is working correctly. It uses AND across categories (e.g., if I click Leaf Pack data type and American Littoral Society as an organization) versus OR within categories (e.g., if I click the organization American Littoral Society at the same time as Berks Nature). I'm adding the Tested label to this one.

[2018-06-11 01:04] horsburgh commented on #162
This looks like it is working correctly on the sandbox. Adding the Tested label.

![image](https://user-images.githubusercontent.com/3485902/41208468-022a918c-6ce1-11e8-806e-0acbca4a846f.png)

[2018-06-11 01:10] horsburgh commented on #157
I tried to create a new user account with an email address that had already been used. The system reports a user with that email address already exists. I also tried adding a new user with a username that had been used before and the system reports that a user with that username already exists.

This appears to be working correctly on the sandbox. Adding the Tested label.

[2018-06-11 01:34] horsburgh commented on #137
This appears to be functioning correctly on the sanbox. Adding the Tested label.

[2018-06-11 01:36] horsburgh commented on #262
Looks like this has been corrected on the sandbox. Adding the Tested label.

[2018-06-11 01:52] horsburgh commented on #230
This is functional on the sandbox and the form creates the experiment. Can't add the Tested label until the macroinvertebrates are listed in the right order.

[2018-06-11 01:54] horsburgh commented on #231
This is functional on the sandbox. Edits take effect immediately. The macroinvertebrates are listed in the wrong order, but I assume that will get fixed as part of the create experiment page. So, I'm going to add the Tested label on this one.

[2018-06-11 01:57] horsburgh commented on #229
This is functional on the sandbox. Macroinvertebrates are listed in the wrong order. I'm assuming this will get fixed when the order is fixed on the create leaf pack experiment page. Adding the Tested label.

[2018-06-11 01:58] horsburgh commented on #182
All facets have been added, sorted in alphabetical order, and are functional on the sandbox. I'm adding the Tested label.

[2018-06-11 02:00] horsburgh commented on #180
This page has been modified so that you can edit site details, manage sensors, and manage leaf pack experiments as 3 separate actions. All are functional on the sandbox. Adding the Tested label.

[2018-06-11 02:02] horsburgh commented on #234
I added some data to a site on the sandbox, and the date of the last observation is listed correctly. I'm going add the Tested label to this one.

[2018-06-11 02:03] horsburgh commented on #256
I'm going to assume that Anthony's comment means that this one has been fixed. I'm adding the Tested label.

[2018-06-11 22:08] horsburgh commented on #230
Macroinvertebrates are now listed in the correct order. Adding the Tested label.

[2018-06-11 22:37] horsburgh commented on #189
@jcaraballo17 updated the controlled vocabularies as part of the 0.8 release. This includes the VariableName table. I'm going to close this one.

[2018-06-11 22:37] #189 closed

[2018-06-12 16:02] horsburgh commented on #203
Resolution - content will be authored at wikiwatershed.org/help and then we will add a help link to the top of the Data Sharing Portal with a "Help" link that points at that help system. None of the help content will be in the Data Sharing Portal site.

[2018-06-12 16:02] horsburgh commented on #216
Resolution - content will be authored at wikiwatershed.org/help and then we will add a help link to the top of the Data Sharing Portal with a "Help" link that points at that help system. None of the help content will be in the Data Sharing Portal site.

[2018-06-12 16:02] horsburgh commented on #254
Resolution - content will be authored at wikiwatershed.org/help and then we will add a help link to the top of the Data Sharing Portal with a "Help" link that points at that help system. None of the help content will be in the Data Sharing Portal site.

[2018-06-13 19:56] aufdenkampe commented on #257
It looks like fixing this is now a very high priority. I just got this while browsing on Chrome to this URL
http://data.wikiwatershed.org/sites/WSU-3/

<img width="788" alt="screen shot 2018-06-13 at 2 50 38 pm" src="https://user-images.githubusercontent.com/5166036/41374676-7cbfa114-6f19-11e8-91c1-6769d8810826.png">

Clicking on the info button before the URL gives me this message.
<img width="79

[2018-06-13 20:08] aufdenkampe opened #266 "Fix logo layout issues in Site page"
@horsburgh & @Maurier

I see this in Safari:
<img width="1090" alt="screen shot 2018-06-13 at 2 59 24 pm" src="https://user-images.githubusercontent.com/5166036/41375063-85841266-6f1a-11e8-9405-ab8a1b97525d.png">

and

<img width="1088" alt="screen shot 2018-06-13 at 2 59 43 pm" src="https://user-images.githubusercontent.com/5166036/41375072-8bfd0cf6-6f1a-11e8-8126-d089539caf65.png">

I can't test

[2018-06-13 20:16] aufdenkampe commented on #257
This is also occurring in FireFox, and it is unclear to me how to reset settings in either Chrome or Firefox to "trust" our website.

Did Google jump ahead on its plan to do this July 1st?
https://searchengineland.com/effective-july-2018-googles-chrome-browser-will-mark-non-https-sites-as-not-secure-291623

[2018-06-13 20:34] jcaraballo17 commented on #257
All,
We've found the issue and it should be fixed soon. It happens when you try
to access the site details page when you're logged out.

On Wed, Jun 13, 2018, 16:16 Anthony Aufdenkampe <notifications@github.com>
wrote:

[2018-06-13 20:38] aufdenkampe commented on #257
@jcaraballo17. Yes, that's it! Thanks for figuring that out!

Given that Google will be shaming us starting on July 1 for having an insecure site, I think we should still keep that issue on the priority list.

[2018-06-13 20:44] aufdenkampe commented on #266
Now that I can test this on Chrome and Firefox, I see that it is only an issue for Safari.

I just did a hard "Empty Cache" from the Developer menu in Safari, and the issue went away.

[2018-06-13 20:44] #266 closed

[2018-06-13 20:46] aufdenkampe commented on #257
I can now see content in sites details pages Chrome and Firefox (such as http://data.wikiwatershed.org/sites/WSU-3/), even when not logged in. Thanks!

[2018-06-13 20:48] jcaraballo17 commented on #257
Yes! that problem is solved now, but this should still be a high priority issue given all the warnings that chrome and firefox are giving us.

[2018-06-13 21:39] horsburgh commented on #241
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:39] horsburgh commented on #204
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:39] #204 closed

[2018-06-13 21:39] horsburgh commented on #206
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:39] #206 closed

[2018-06-13 21:40] horsburgh commented on #205
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:40] #205 closed

[2018-06-13 21:40] horsburgh commented on #253
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:40] #253 closed

[2018-06-13 21:40] horsburgh commented on #260
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:40] #260 closed

[2018-06-13 21:43] horsburgh commented on #233
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:43] #233 closed

[2018-06-13 21:43] horsburgh commented on #217
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:43] #217 closed

[2018-06-13 21:43] horsburgh commented on #158
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:43] #158 closed

[2018-06-13 21:43] horsburgh commented on #162
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:43] #162 closed

[2018-06-13 21:43] horsburgh commented on #157
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:43] #157 closed

[2018-06-13 21:44] horsburgh commented on #137
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #137 closed

[2018-06-13 21:44] horsburgh commented on #259
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #259 closed

[2018-06-13 21:44] horsburgh commented on #262
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #262 closed

[2018-06-13 21:44] horsburgh commented on #256
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #256 closed

[2018-06-13 21:44] horsburgh commented on #234
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #234 closed

[2018-06-13 21:44] horsburgh commented on #230
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:44] #230 closed

[2018-06-13 21:45] horsburgh commented on #231
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:45] #231 closed

[2018-06-13 21:45] horsburgh commented on #229
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:45] #229 closed

[2018-06-13 21:45] horsburgh commented on #182
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:45] #182 closed

[2018-06-13 21:45] horsburgh commented on #180
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:45] #180 closed

[2018-06-13 21:45] horsburgh commented on #179
Live on production as part of 0.8 release. Closing.

[2018-06-13 21:45] #179 closed

[2018-06-13 22:17] jcaraballo17 commented on #75
@kwuz are you still working on this one? :)

[2018-06-19 18:05] HeatherBrooks commented on #239
The Google Analytics tracking code (posted above on May 1) has been updated to anonymize IP addresses. Only the last line before the closing tag has changed.

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47047573-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4704

[2018-06-19 23:14] horsburgh commented on #145
Closing this issue as we have now separated sensor manufacturer and sensor model in the user interface per other feature requests. So, there is not longer a need for a label "Equipment Make-Model", which is the last of the three items listed above.

[2018-06-19 23:14] #145 closed

[2018-06-19 23:35] horsburgh commented on #236
After discussing this on the phone last week, @Maurier suggested adding zoom capabilities to the upper plot using the mouse scroll wheel. Panning through time would still be done on the lower pane as it is now.

The ability to trace the line and see individual points may be more difficult to implement because the code actually "thins" the data to make it plot faster (e.g., when you show a very lon

[2018-06-19 23:50] horsburgh commented on #12
@aufdenkampe - if we are going to consider this, we need a design for how a user would format a file for upload to the site.

I'm thinking something like this would be really simple and easy to create/parse:

SamplingFeatureUUID:bc9fd032-1f34-45eb-a001-492af2998e49
ResultUUID:cfce1736-8616-4975-b784-c2b52e5ca003
TimeStamp,DataValue
2016-12-08T14:00:00-07:00,18.23
2016-12-08T14:05:00-07:00,18.45
20

[2018-06-19 23:53] horsburgh commented on #134
@darksinge - is this something you could take on? We could discuss how to implement.

[2018-06-21 20:46] horsburgh commented on #134
@jcaraballo17 - given that we have very little time before the end of June, I'm giving this one to you to work on.

[2018-06-21 22:18] darksinge commented on #257
HTTPS is now enabled. To avoid potential issues, the website will remain open to HTTP traffic, but prepending `https://` to any URL on the website will establish a secure connection. Users who navigate to `/login`, `/register`, or `/password-reset/` will be redirected to the HTTPS equivalent page.

[2018-06-21 22:18] #257 closed

[2018-06-21 23:00] jcaraballo17 commented on #257
This fixed the map location services. The Browse Sites now asks for your location and zooms in to show you the sites around your area.

[2018-06-25 19:29] HeatherBrooks opened #269 "Water quality index not calculated, taxa graph not shown"
I entered [leaf pack experiment data](https://data.wikiwatershed.org/sites/BogBrook_Rt312/leafpack/4/) and am seeing a blank box in Chrome and Firefox where the water quality index and macroinvertebrate graph should be?
![image](https://user-images.githubusercontent.com/9368629/41871302-8093da04-788c-11e8-9d02-1d0a476de749.png)

[2018-06-25 20:03] darksinge commented on #269
Fixed. Thanks for the catch.

[2018-06-25 20:03] #269 closed

[2018-06-25 21:00] HeatherBrooks opened #271 "Map on the My Sites landing page is centered in the South Pacific"
When I first landed on the My Sites page, there was nothing but blue on the map. I zoomed out one click and can see that the map is centered in the South Pacific. I've only entered one site so far; it's in New York and is displaying properly on the map when I click to the [individual site page](https://data.wikiwatershed.org/sites/BogBrook_Rt312/).
![bali-hai](https://user-images.githubusercontent

[2018-06-26 15:58] horsburgh opened #272 "Modify Leaf Pack Air and Water Temperatures to be Optional"
Air temperature and water temperature values for Leaf Pack experiments should be optional fields because sometimes they do not get recorded. However, where values are not available, we want users to record "Unknown" instead. Please do the following:
* [x] Change the temperature values so they are validated to be numeric values or the text string “Unknown”
* [x] Add an error message that states the

[2018-06-26 16:10] HeatherBrooks commented on #271
This appears to have been a caching issue. The map is now centering properly for me.

[2018-06-26 16:10] #271 closed

[2018-06-26 17:00] horsburgh opened #273 "Changes to taxonomic text for leaf pack data input"
Some minor changes are needed to the text of the leaf pack data entry page related to the taxonomic classes.

Changes needed are described in this Google Doc:  https://docs.google.com/spreadsheets/d/11lJehfHBXBmD5dKPukVJnQZWqVgYyIEGvh7NLwF2n8M/edit#gid=0

@darksinge - should be pretty straightforward.

[2018-06-26 17:02] horsburgh opened #274 "Minor modification to macroinvertebrate data visualization"
Some minor modifications have been suggested:

Please lump crustaceans to “all crustacean” (All + Decapod+Isopod+Amphipod), leave all other categories as they currently exist

This is needed to better match their previous results and to reduce the number of categories shown.

[2018-06-27 15:38] HeatherBrooks opened #275 "Fix 504 gateway timeout error"
Trying to do some leaf pack experiment data entry but I'm getting a 504 error.

[2018-06-27 16:34] HeatherBrooks commented on #275
Appears to be fixed now.

[2018-06-27 16:34] #275 closed

[2018-06-27 21:19] HeatherBrooks opened #276 "Filtering leaf pack data by organization causes site markers to disappear"
On the Browse Sites page, if you check the Leaf Pack data types box, you can see the site markers for the leaf pack experiments. If you then add an organization filter (check Stroud Water Research Center or Utah Water Research Laboratory), all site markers disappear. Uncheck the organization and the site markers reappear.

[2018-06-27 23:04] darksinge commented on #273
@horsburgh [envirodiysandbox.usu.edu](http://envirodiysandbox.usu.edu) has been updated with the requested changes.

[2018-07-05 17:13] horsburgh commented on #12
@aufdenkampe and @SRGDamia1 - I think this is the last issue in the priority issues release that is not complete. We were waiting for feedback from you on the format of the CSV files that users could upload to fill gaps. Easiest for us is going to be to use the format that I suggest above, but this isn't the format that is being used to log data on the SD card on the loggers. Can we get a sample o

[2018-07-10 16:15] aufdenkampe commented on #12
On today's call we decided to go with the CSV format written to the SD card by the [EnviroDIY/ModularSensors](https://github.com/EnviroDIY/ModularSensors) code.

Here is a short example for Filename: `OMS01_Mayfly_170304_2018-04-17.csv`

[code]

I'll provide an example file for an existing station that we can use for development and testing.

A few points from our discussion:
* The upload modal wi

[2018-07-10 16:17] horsburgh commented on #12
Notes on uploading CSV file:
1. We will go with the option to upload the datalogger CSV file
2. The datalogger CSV files may have multiple copies of the header in them because the header gets written to the file every time the logger powers up - these will all be the same, and so any copies of the header after the first one can be ignored
3. The header contains the SamplingFeatureUUID and the Resu

[2018-07-12 16:24] aufdenkampe opened #284 "WebTSA showing wrong variable for new sites"
@horsburgh, @Maurier @jcaraballo17.

@gcutrell and I just noticed a new bug on WebTSA for the new sites he set up.

For http://data.envirodiy.org/sites/MeteoTsu-2/, clicking on WebTSA button for any variable, such as battery voltage, http://data.envirodiy.org/tsa/?sitecode=MeteoTsu-2&variablecode=EnviroDIY_Mayfly_Batt&view=visualization&plot=true, only shows the first variable (pressure).

Same is

[2018-07-16 16:36] Maurier commented on #284
There have not been any changes, but I'll investigate further.

[2018-07-16 22:15] aufdenkampe commented on #12
All, this is "hot off the press". I just got these datalogger CSV files from @fisherba using the ModularSensors code, deployed on May 13th. I haven't really looked at them yet, but it appears that many files are created, perhaps starting a certain number of lines are written. It looks like we'll need to create functionality to load up a series of files in batch (i.e. select one or more files at a

[2018-07-17 15:50] aufdenkampe commented on #284
Any updates on this issue?

@fisherba noticed the same behavior for her 2 new stations:
- http://data.envirodiy.org/sites/WSP01/
- http://data.envirodiy.org/sites/WSP02/

She writes:

[2018-07-17 15:59] horsburgh commented on #12
@aufdenkampe - unfortunately, we aren't going to have time to work on a more complex solution here. It's going to have to be up to the user to manage their files. They can submit each file individually or they can combine files on their end and submit a combined file. Either way, the functionality we are working on will not change.

It seems like some thought may be needed in how those files are c

[2018-07-17 17:51] aufdenkampe commented on #12
Here are links for four stations from @fisherba, including the glitchy station mentioned in https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-405398341. The other four stations didn't have glitches that caused rebooting, so the data is in a single file per station.

Files are organized by station in the [IESF_StationData_Fisher](url
https://drive.google.com/drive/folders/1NT34Qg

[2018-07-17 17:55] horsburgh commented on #12
@aufdenkampe - batch file handling with upload, offline processing, etc. is more than we can accomplish with the time we've got left. I think we can do the single file upload/processing.

[2018-07-17 18:05] horsburgh commented on #284
Update - @jcaraballo17 is looking at this. It looks like an issue with the catalog database that is used by the TSA to populate its forms. Working on it.

[2018-07-17 18:10] aufdenkampe commented on #12
In our [EnviroDIY_WSU_DataFiles](https://drive.google.com/drive/folders/1cUakwCcwDPm1biw6X_ocwYnMIvanOJxg?usp=sharing) Google Drive folder is another set of data files for the following stations that we recently deployed:

- http://data.envirodiy.org/sites/WW-N2%20(WSU-1)/
- http://data.envirodiy.org/sites/WW-S2%20(WSU-2)/
- http://data.envirodiy.org/sites/WW-N1%20(WSU-3)/
- http://data.envirodiy.

[2018-07-25 19:40] horsburgh commented on #136
After discussing this quite a bit within our group, this presents a difficult problem. The data sharing portal and the TSA are, in fact, two different software applications. This is by design. In order to keep the code base for TSA free of project-specific links (because we are using TSA for multiple projects), we do not want to add EnviroDIY-specific links to the TSA.

Also, the convention in web

[2018-07-26 19:38] horsburgh commented on #134
OK, testing on the sandbox - I see where I can add notes when in edit mode, and when I type them in and save my edits they persist. However, they aren't displayed anywhere on the page. Once notes have been added they need to be displayed. @jcaraballo17 - need to add the notes to the views.

[2018-07-26 20:03] horsburgh commented on #236
These look really awesome. We had demos from @Maurier yesterday, and I just tested on the sandbox today. The following have been added:

* Vertical zooming/scaling by hovering mouse over a y-axis and using the mouse scroll wheel or track pad to zoom in or out.
* Vertical dragging by clicking on the values of a y-axis and dragging up or down
* Horizonal zooming/scaling by hovering over the plot are

[2018-07-26 20:06] horsburgh commented on #75
I see where I can add the vertical offset in edit mode, and the value that I enter is saved and persisted. However, it is not displayed in view mode. @jcaraballo17 - need to add the vertical offset to the view if a value has been entered. Also - has this information been added to the CSV download files?

[2018-07-26 21:54] horsburgh commented on #272
Tested on the sandbox. Air temperature values are no longer required. When trying to type in the fields, I can only enter numeric values. If I do not enter anything, the experiment is created successfully and the temperature values are listed as "None"

@jcaraballo17 - instead of displaying "None" for the temperature value when a numeric value is not submitted, can we display "Unknown" without the

[2018-07-26 21:56] horsburgh commented on #273
Tested on the sandbox. These changes have been made and look good. Adding the "tested" label.

[2018-07-26 21:58] horsburgh commented on #274
Tested on sandbox server. This has been done. Adding the "tested" label.

[2018-07-26 22:04] horsburgh commented on #136
@Maurier, @jcaraballo17, and @darksinge - I see the old links to the TSA from each of the sparkline tiles, but I don't see the new navigation link at the top and the new button @Maurier added to launch the TSA. I want to verify that those open in a new window. As soon as the sandbox has been updated with these changes, I think we can call this one tested.

[2018-07-26 22:07] horsburgh commented on #79
I've tested the "Download Site Sensor Data" button on the sandbox. It produces a single CSV file with the data for all variables at the selected site. Adding the "tested" label.

[2018-07-27 00:13] aufdenkampe commented on #79
Awesome!

Sent from my iPhone

On Jul 26, 2018, at 5:07 PM, Jeff Horsburgh <notifications@github.com<mailto:notifications@github.com>> wrote:

I've tested the "Download Site Sensor Data" button on the sandbox. It produces a single CSV file with the data for all variables at the selected site. Adding the "tested" label.

-
You are receiving this because you authored the thread.
Reply to this email

[2018-08-02 00:31] horsburgh commented on #136
The links to TSA are all present and opening in a new browser tab. I'm adding the "tested" label to this one.

[2018-08-02 00:32] horsburgh commented on #134
@jcaraballo17 - just tested again on the sandbox, and I don't see this information displayed.

[2018-08-02 00:34] horsburgh commented on #75
@jcaraballo17 - the offset information is still not displayed on the page.

[2018-08-02 00:36] horsburgh commented on #272
The units label is still there, but the display text is now "Unknown". I'm going to add the "Tested" label to this one.

[2018-08-02 00:39] horsburgh commented on #276
I think this is working as intended now. If you select an organization for which there are no sites with leaf pack data, there should be no markers on the map. If you choose UWRL or Stroud, you should see some sites with leaf pack data.

I'm adding the "tested" label to this one.

[2018-08-02 00:49] horsburgh commented on #284
The original issue has been resolved by a rebuild of the catalog database for TSA.

There is still a minor issue where if you have multiple of the exact same sensor measuring the exact same variable at the same site. If you click on the TSA link for any one of these time series you get them all in the plot in TSA. This affects the two sites mentioned two comments above:

http://data.envirodiy.org/

[2018-08-02 13:14] HeatherBrooks commented on #276
I'm still seeing the problem. If I go to Browse Sites (either logged in or not), and check Leaf Pack under Data Types, three markers are displayed. If I then add an Organization filter (I selected Stroud) all markers disappear. If I uncheck the organization, the markers reappear.

[2018-08-02 14:09] aufdenkampe commented on #284
Thanks! It looks good on production!

[2018-08-02 14:38] horsburgh commented on #276
When I do this same thing on http://envirodiysandbox.usu.edu, it zooms me into one site, which I assume to be the one site that has Leaf Pack data for a site from Stroud.

[2018-08-02 14:44] HeatherBrooks commented on #276
Sorry, you're right. I wasn't on the sandbox site. It works fine there.

[2018-08-02 14:47] horsburgh commented on #276
Great - I was wondering if it was a caching issue or something. Thanks for taking another look!

[2018-08-07 14:55] horsburgh commented on #134
Thanks @jcaraballo17 - I see my comments displayed on the page now. Adding the "tested" label.

[2018-08-07 15:02] horsburgh commented on #75
I can now see the vertical offset displayed on the page. I'm going to add the "tested" label to this one.

[2018-08-07 15:15] aufdenkampe commented on #75
Looks awesome!

[2018-08-07 15:25] aufdenkampe commented on #12
Now that this feature is on https://envirodiysandbox.usu.edu, @fisherba and I will work on testing this feature.

[2018-08-07 15:29] aufdenkampe commented on #134
This is working nicely!

[2018-08-10 16:25] aufdenkampe commented on #12
I just did some testing for the KINNI_Logger1 site (https://envirodiysandbox.usu.edu/sites/KINNI_Logger1)/, and a few things didn't work.

First, the file upload function didn't work on Safari web browser. Clicking on the blue paperclip button opened a select file box, but once I did, that box closed and nothing else happened. The app still showed "No file chosen."

Second, using Chrome, I was abl

[2018-08-10 16:58] aufdenkampe commented on #236
These do look awesome.

There is one additional set of tweaks to the X-Axis (time), however, which I think is quite important.

The X-Axis labels make it really hard to see the time frame that you are looking at, especially the Year, which is not shown anywhere.

I recommend these changes to the X-Axis labels:
* Add a global X-Axis label that includes Time Zone information, such as "DateTime in UT

[2018-08-10 17:09] horsburgh commented on #236
@aufdenkampe - these are good ideas, but I'm going to ask @Maurier to hold off on any new development on TSA until we at USU decide what we can and can't do with other funding. I suggest moving this to a new issue as this one will get closed as soon as we've verified that the fix for the original issue as reported is deployed on production (which it should be now).

[2018-08-10 17:39] aufdenkampe commented on #12
Also, I get a "Download failed - Server problem" error from Chrome when I try to download data using the new "Download Sensor Data" button  from https://envirodiysandbox.usu.edu/sites/KINNI_Logger1 or https://envirodiysandbox.usu.edu/sites/KINNI_Logger2

Maybe that's the problem with upload for these sites.

I was able to download data from
https://envirodiysandbox.usu.edu/sites/160065_Limno_Cross

[2018-08-14 14:30] horsburgh commented on #136
Links to new browser tabs are live on production. Closing.

[2018-08-14 14:30] #136 closed

[2018-08-14 14:31] horsburgh commented on #79
Link to download all sensor time series in a single file is live on production. Closing.

[2018-08-14 14:31] #79 closed

[2018-08-14 14:31] horsburgh commented on #236
Improvements to the TSA UI that meet the original issue are live on production. Closing.

[2018-08-14 14:31] #236 closed

[2018-08-14 14:32] horsburgh commented on #272
This is live on production. Closing.

[2018-08-14 14:32] #272 closed

[2018-08-14 14:32] horsburgh commented on #273
Live on production. Closing.

[2018-08-14 14:32] #273 closed

[2018-08-14 14:32] horsburgh commented on #274
Live on production. Closing.

[2018-08-14 14:32] #274 closed

[2018-08-14 14:33] horsburgh commented on #276
I believe that this has been resolved and isn't occurring on the production server. Closing.

[2018-08-14 14:33] #276 closed

[2018-08-14 14:33] horsburgh commented on #284
Live on production. Closing.

[2018-08-14 14:33] horsburgh commented on #134
Live on production. Closing.

[2018-08-14 14:33] #134 closed

[2018-08-14 14:34] horsburgh commented on #75
Live on production. Closing.

[2018-08-14 14:34] #75 closed

[2018-08-14 20:51] aufdenkampe opened #287 "Tweaks to Leaf Pack Experiment Data Entry Form"
Minor tweaks to text, which have been requested by @heatherbrooks and Tara around July 25.

See the [Tweaks to Leaf Pack Experiment Data Entry Form](https://docs.google.com/document/d/1Cx1--ngice9qP848oOUoRSghkkW--7VySifSoiZ-8r8/edit) Google Doc for details.

[2018-08-14 22:40] aufdenkampe opened #288 "Fix Home page text and hyperlinks"
@horsburgh, @Maurier and @jcaraballo17.

@darscott, @heatherbrooks and I noticed that the main landing page on Production seems to have lost all of it's new text and hyperlinks from logos and boxes below "How It Works".

In other words, all the work on #219 for Release 0.7 seems to have been reverted with this Release 0.9.

Can we get the old home page back?

[2018-08-15 15:34] aufdenkampe commented on #288
@horsburgh and @Maurier, thanks for looking into this. Thanks also for pointing out that I had not carefully read #219 and compared it to the current home page.

@darscott, @HeatherBrooks and I did all believe that the logos below "How It Works" had hyperlinks to their respective websites. I guess that might have been our memories of our discussion on this!

[2018-08-15 15:38] horsburgh commented on #12
@aufdenkampe - I just tested in Safari on my Mac on the production server. I am not having the issue with the file upload function. When I click on the blue paperclip icon, I get the standard file browser dialog, and I am able to select files for upload.

Also - I think the data upload worked as designed. When you view data on the website, only the most recent 72 hours of data are shown in the spa

[2018-08-15 15:44] aufdenkampe commented on #12
@horsburgh, thanks for testing this further. I'll give it a try on production.

The issue I had with the data not showing up on sandbox wasn't about the sparkline plots, but rather that the data were not visible either in the tables or in TSA, both of which show all the data and therefore should have also shown the new data.

I'll let you know if it all works on production.

[2018-08-15 16:14] aufdenkampe commented on #12
I just looked at https://data.wikiwatershed.org/sites/KINNI_Logger1/ on production, and found:
* Download csv files works well for individual variables and the entire station! Also, all the data is there, from June 7 to Oct. 14, 2017 (plus a few random dummy values from before and after). Awesome!
* Upload button on Safari opens a dialog box to select a file. Awesome!
* Clicking on the table icon

[2018-08-15 16:36] aufdenkampe commented on #12
I just successfully tested CSV data upload to http://data.envirodiy.org/sites/WW-N2%20(WSU-1)/.
It looks great!

The only hitch I had was that the one  csv files that was saved in an Excel-generated `CSV UTF-8` format didn't upload (I got an error about the SamplingFeatureUUID being wrong). When I re-saved to regular CSV, it started uploading but still hasn't completed after a long time. The file

[2018-08-15 16:43] aufdenkampe commented on #12
BTW, for some reason, TSA doesn't show any Datasets/variables for this site.
http://data.envirodiy.org/tsa/?sitecode=WW-N2%20(WSU-1)&view=datasets&plot=false
Is that a bug?

[2018-08-15 17:07] horsburgh commented on #12
@aufdenkampe - If the correctly formatted files work, that's great. I don't have time to look at the unsuccessful file right now, but don't have ideas off the top of my head.

[2018-08-15 17:10] horsburgh commented on #12
@aufdenkampe - what is the actual site code for the site that is having TSA issues?

[2018-08-15 17:33] aufdenkampe commented on #12
@horsburgh, I agree that we can close this issue because the files from the logger are all loading fine. Thanks for taking a moment to think of some ideas. It looks to me that passing through Excel stripped the quotes around strings and also reformatted the DateTime string. I'll try to add that to the documentation. Let's close this issue.

Regarding the site with TSA issues, it is:
http://data.en

[2018-08-15 17:57] aufdenkampe commented on #12
Update: I got the Excel-generated CSV file to load by doing the following:
* Reformatting DateTime in Excel using a custom `yyyy-mm-dd hh:mm:ss` format
* Opening in a text editor
* Adding quotes around all strings to all headers rows, via find `,` and replace with `","`.
* Saving in `Unicode (UTF-8)` format rather than `Unicode (UTF-8, with BOM)`, which is the default CSV format from Excel. Note t

[2018-08-15 20:54] aufdenkampe commented on #12
Awesome! Thanks!

Thanks for fixing the site name thing. I suspected that it might be a special character thing.

I just noticed one other related TSA bug.
The link to TSA at the very top of the black bar on the home screen points to http://data.envirodiy.org/data.wikiwatershed.org/tsa, which won't resolve.

[2018-09-04 20:04] SRGDamia1 commented on #135
This looks like it's been implemented.

[2018-09-04 20:04] #135 closed

[2018-09-04 20:58] SRGDamia1 opened #289 "Question: What are the different symbols in "browse sites""
What does red vs blue mean?  Is it my sites vs. not-my-sites?

[2018-09-04 21:02] SRGDamia1 opened #290 "Ahh! Red sites!"
Is there a reason that all of my site map markers and info tiles are now orangey-red?  It looks so scary, like they must all be broken or something.

[2018-09-04 21:56] SRGDamia1 opened #291 "Hide 'height' if left empty for a sensor"
When looking at the sensor spark lines on a single site page, do not show the "height" value in the block if left blank ("-").  The notes field is already only visible if filled out (not "none"); I would just like the height field to have the same behavior.

[2018-09-05 15:59] aufdenkampe commented on #284
I just noticed this bug is still occurring for these related stations that were not explicitly named above:
- https://data.envirodiy.org/sites/MeteoTsu-4/ & http://data.envirodiy.org/tsa/?sitecode=MeteoTsu-4&variablecode=EnviroDIY_Mayfly_Batt&view=visualization&plot=true
- https://data.envirodiy.org/sites/MeteoTsu-5/ & http://data.envirodiy.org/tsa/?sitecode=MeteoTsu-5&variablecode=EnviroDIY_Mayfl

[2018-09-05 16:02] aufdenkampe commented on #284
Also true for true for http://data.envirodiy.org/sites/MeteoTsu-3/ and http://data.envirodiy.org/tsa/?sitecode=MeteoTsu-3&variablecode=EnviroDIY_Mayfly_Batt&view=visualization&plot=true.

This station was mentioned above and I think I checked that it was fixed, but I'm not certain of that.

[2018-09-06 18:47] horsburgh commented on #284
@aufdenkampe - I spoke with @jcaraballo17 briefly about this yesterday. We thought we had this fixed, but apparently something is still going haywire. Juan's got some thoughts about how this needs to be addressed, but it doesn't look like a super trivial effort.

There is a way to regenerate the catalog database that is used by TSA, but the bug is in the automated syncing/updating of sites/variabl

[2018-09-06 19:34] aufdenkampe commented on #284
Thanks for the update. Do you think you can find a way to fix it? You could use Monitor MW funds if that is a constraint.

[2018-09-06 21:27] aufdenkampe opened #292 "Fix bug. New variables added via Admin not available to sensors"
I just use the Admin panel to add this new instrument output variable: `MaxBotix_MB7389_GageHeight measured in mm`
http://data.envirodiy.org/admin/dataloader/instrumentoutputvariable/329/change/

However, it is not available on the front end when adding a new sensor/variable.
This used to work, as I've done it many times.

@jcaraballo17, @Maurier and @horsburgh. Any ideas?

[2018-09-10 15:03] SRGDamia1 opened #293 "Time zone is not labeled in WebTSA"
The time axis appears to be in UTC, but is not labeled as such.

[2018-09-10 15:50] aufdenkampe commented on #284
@horsburgh and @jcaraballo17, it seems that the reemergence of this issue is quite widespread, and potentially getting worse (or I hadn't noticed how widespread it was on Friday). In short, it seems that WebTSA is not very functional.

@SRGDamia1, @darscott and @fisherba, do you notice similar issues at your sites?

[2018-09-10 15:53] aufdenkampe commented on #293
I mentioned this need for a Time Zone label in https://github.com/ODM2/ODM2DataSharingPortal/issues/236#issuecomment-412143248, and I suspect the additional label could be done very quickly.

I also mentioned in https://github.com/ODM2/ODM2DataSharingPortal/issues/236#issuecomment-412143248 several other issues relative to the time axis that would be worth exploring.

[2018-09-10 16:00] aufdenkampe commented on #239
Did this get implemented in Release 0.9?

[2018-09-10 17:42] HeatherBrooks commented on #239
Yes, it was implemented. Here's a look at pageviews since the tracking code was generated in May.
![monitor-my-watershed-analytics](https://user-images.githubusercontent.com/9368629/45314316-65a87880-b4ff-11e8-905f-21e6a220c022.JPG)

[2018-09-10 17:52] aufdenkampe commented on #239
Great! I'll close this issue.

[2018-09-10 17:52] #239 closed

[2018-09-11 15:12] jcaraballo17 commented on #292
@aufdenkampe Yes! In milestone 0.8 we had [this issue](https://github.com/ODM2/ODM2DataSharingPortal/issues/158) for linking a sensor/variable to a specific sampled medium. http://data.envirodiy.org/admin/dataloaderinterface/sensoroutput/add/ this form is the one that works for adding new sensors.
Sorry for the confusion, I realize I never stated that explicitly in the issue tracker.

[2018-09-11 17:00] aufdenkampe commented on #292
@jcaraballo17, thanks for pointing me to that new capability & requirement when adding sensors. I vaguely remember seeing issue https://github.com/ODM2/ODM2DataSharingPortal/issues/158 when @SRGDamia1 posted it and when it was put on the `back burner`.  However, I don't remember at all the discussion to take it off the `back burner`. In fact, although I see some potential benefit for the user, I s

[2018-09-11 21:55] aufdenkampe commented on #292
@jcaraballo17, I'm getting `Server Error (500)` when I try to do this for:

- Equipment Model: MB7389 HRXL-MaxSonar-WRMT
- Variable: MaxBotix_MB7389_GageHeight
- Unit: Length: Millimeter
- Sampled Medium: Liquid aqueous

So are we still using "Instrument Output Variable", which incorporates all of the above except Medium.
Is this possibly connected to why I'm getting a server error?

[2018-09-13 18:34] dbressler75 opened #294 "Document format for .csv files to upload to data.wikiwatershed.org?"
Does the .csv file need to be in a certain format when uploading?  I'm assuming so but there is no direction on this.

Also, is there a difference between submitting a .csv for a file that is not online versus a file that is online but has data gaps that are to be filled in via upload of .csv file?

![envirodiy_uploadcsvfile_question](https://user-images.githubusercontent.com/39309124/45508089-e1a

[2018-09-13 18:46] horsburgh commented on #294
Per the request from @aufdenkampe - We implemented this so that the CSV that is uploaded should be the same format as the CSV that is output by the EnviroDIY datalogger.

That I know of, there isn't a difference between whether a site is online or not. @jcaraballo17 can let us know if there are any differences, but I believe that his code just scans through the uploaded file and tries to add the d

[2018-09-13 19:53] aufdenkampe commented on #294
@dbressler75, the format is what comes from the ModularSensors library.
See https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-403880885 and following comments for examples.

[2018-09-13 20:01] jcaraballo17 commented on #294
@dbressler75, it makes no difference whether the site is online or not. the file upload just inserts all the data points in the file if they are not already in the database.

[2018-09-19 17:09] jcaraballo17 commented on #289
I know was part of issue #24, but there's no legend on the map where users can see what the different symbols mean. @Maurier can we add a legend on the map?

[2018-09-19 17:18] jcaraballo17 commented on #113
Not needed anymore. Closing.

[2018-09-19 17:18] #113 closed

[2018-09-19 17:19] jcaraballo17 commented on #153
Closing.

[2018-09-19 17:19] #153 closed

[2018-09-19 17:27] jcaraballo17 commented on #188
I can add this to the script that updates the controlled vocabularies from that same page, or maybe create another script so there's some separation of concerns.

[2018-09-19 17:30] jcaraballo17 commented on #203
This is something that could be done if we have the content for that page.

[2018-09-19 17:32] jcaraballo17 commented on #203
Closing in favor of issue #216.

[2018-09-19 17:32] #203 closed

[2018-09-19 17:42] jcaraballo17 commented on #252
@SRGDamia1 @aufdenkampe This is something we could do this time around. Did we ever agree on a name?

[2018-09-19 17:43] #258 closed

[2018-09-19 17:46] jcaraballo17 commented on #291
This is done on the development branch. marking as fixed.

[2018-09-19 17:48] jcaraballo17 commented on #293
Fixed on the development branch. @Maurier added a label specifying that the times are in UTC. Marking as fixed.

[2018-09-19 19:00] SRGDamia1 commented on #252
No, I don't think we did.

[2018-09-24 21:17] aufdenkampe commented on #254
This will be implemented with #216.

[2018-09-25 20:27] dbressler75 commented on #12
Anthony, could you share an example of properly formatted .csv file that can be uploaded to data.envirodiy.org?

[2018-09-25 20:28] dbressler75 opened #295 "time series analyst tab in upper left not working"
![image](https://user-images.githubusercontent.com/39309124/46040991-badbb100-c0df-11e8-8525-47b344f0081b.png)

![image](https://user-images.githubusercontent.com/39309124/46041105-0c843b80-c0e0-11e8-96db-a53a95adb173.png)

[2018-09-25 20:36] dbressler75 opened #296 "export zip...compiling files not working"
You can only click five variables (which may be intentional but possibly should be noted) and then when you click the export tab it just goes to "compiling files..." indefinitely and doesn't produce a zip file

![image](https://user-images.githubusercontent.com/39309124/46041571-16f30500-c0e1-11e8-91ea-ab8d4d0e71ea.png)

[2018-09-28 15:00] jcaraballo17 commented on #296
@Maurier can you take a look at this?

[2018-09-28 15:03] jcaraballo17 commented on #295
This is fixed and will be included in the next release.
Closing.

[2018-09-28 15:03] #295 closed

[2018-09-28 15:16] Maurier commented on #296
@jcaraballo17 Yeah, I have already identified the problem. Will push a fix soon.

[2018-09-28 21:49] Maurier commented on #237
@SRGDamia1, do we have the desired logo available at this point?

[2018-09-28 21:51] Maurier commented on #289
Orange-reds are sites the user owns. Blue ones are sites owned by other users. Let me know what changes you would like for these.

[2018-10-03 16:31] SRGDamia1 commented on #24
The color of the symbol should indicate the data age:
green - has data within the last 24 hours
orange - within the last week, but not the last day
red - nothing with the last week

As for what the symbol should be, I was originally thinking of different symbols by site types, as they are done on the Nanoos visualization.  Now I think that would be too much effort for very little gain.

I think we

[2018-10-03 16:31] #290 closed

[2018-10-03 16:31] SRGDamia1 commented on #289
Clarified on #24!

Color sites by data age, pin size by ownership.

[2018-10-04 20:58] SRGDamia1 commented on #24
For consistency with the sparklines, we should probably change the "green" to be within the last 72 hours, thus:
blue - has data  within the last 6 hours
green - within the last 72 hours
orange - within the last 2 weeks
red - out of date

I do like the symbols within pins used in WebTSA.

[2018-10-05 00:03] Maurier commented on #24
@SRGDamia1 Do you want to keep the current symbol in the middle? As is implemented it is bright for sites you follow or own and dark for sites you do not follow nor own.

[2018-10-05 17:56] Maurier commented on #24
Here is how these changes look like
![image](https://user-images.githubusercontent.com/2448568/46551446-08e97500-c895-11e8-9fbd-c186034b5230.png)

Sites you own use a slightly larger marker
![image](https://user-images.githubusercontent.com/2448568/46551489-24548000-c895-11e8-8037-4aa2d7095664.png)

The color convention in the My Sites cards has been removed. All sites listed show as blue. Markers

[2018-10-05 20:59] SRGDamia1 commented on #24
Hm.. I don't really love the blue on the status pins.  Could you change the < 6 hours to dark green (~ #1e8449) and <72 hours to a lighter green (~#90e522)?  It doesn't have to be those exact colors, just so you had an idea.

Dave Bresser would also prefer dark yellow to orange.

I like the different pin sizes.

I also like the re-coloring of the My Sites cards.  Blue is good.  Having them all ora

[2018-10-08 15:28] Maurier commented on #24
@SRGDamia1 How about this:
![image](https://user-images.githubusercontent.com/2448568/46618314-6f140900-cadc-11e8-98cb-25c354344513.png)

[2018-10-08 16:11] dbressler75 commented on #294
I went through [#12 (comment)](https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-403880885) but I'm kind of lost in terms of finding an example of a correctly formatted csv file.  Could someone provide an example of a csv file that was successfully uploaded?  The formatting of the file can vary depending on the code on the specific mayfly board so I'm wondering about these types

[2018-10-08 19:18] horsburgh commented on #294
@aufdenkampe and @SRGDamia1 - can you help @dbressler75 here? I just looked at issue #12, and there's so much discussion in that issue I'm sure it's hard to follow.

@dbressler75 - We designed the file uploader to use the file format that is output by the ModularSensors Arduino Library. So, if you are trying to upload file formats other than what is output by that library, they won't work. Our rat

[2018-10-08 22:15] SRGDamia1 commented on #24
I like the look of the map you just posted.  @dbressler75 ?

[2018-10-11 02:08] Maurier commented on #288
Discussion moved to https://github.com/ODM2/ODM2DataSharingPortal/issues/287 as further changes have been specified there.

Closing

[2018-10-11 02:08] #288 closed

[2018-10-11 15:28] jcaraballo17 commented on #81
This is included in #284. Closing.

[2018-10-11 15:28] #81 closed

[2018-10-11 15:29] SRGDamia1 opened #298 "Download combined csv not working"
Detail needed from @aufdenkampe

[2018-10-11 15:32] SRGDamia1 opened #299 "No data emails not being sent"
The SWRCWetLab site should be notifying me after no data received for > 6 hours.  It's gone down several times recently and I have not received any emails.

[2018-10-11 15:36] SRGDamia1 opened #300 "csv upload does not work on firefox"
Clicking the paperclip leads to a django error:

![image](https://user-images.githubusercontent.com/5374350/46815896-d4206680-cd49-11e8-97b8-f4b2ef391751.png)

[2018-10-11 15:36] SRGDamia1 opened #301 "Provide new text for "Explore WikiWatershed Toolkit""

[2018-10-11 15:36] jcaraballo17 commented on #300
Sounds like the file is not being sent.
@Maurier can you take a look at this?

[2018-10-11 15:40] aufdenkampe opened #302 "Add free text search for "browse sites""
Searching over all metadata for each site.

[2018-10-11 15:43] aufdenkampe opened #303 "Allow POST of data, even when one variable UUID is blank or wrong"
Presently, if any UUID is wrong, entire POST fails, even if multiple variable UUIDs are correct.

Desired behavior: If TOKEN and Sampling Feature UUID are correct, POST data for any correct variable UUIDs, and ignore any variables that have an incorrect or *missing* UUID.

This feature would be very helpful for troubleshooting radio connections and sketches.

[2018-10-11 15:48] Maurier commented on #300
@jcaraballo17 Sure

[2018-10-11 15:48] aufdenkampe opened #304 "Fix bug with "Download Sensor Data" button"
On production, @fisherba and I couldn't get the "Download Sensor Data" button to download a file for all the variables at a site. Downloading individual variables still worked.

[2018-10-11 15:53] SRGDamia1 commented on #24
I really like the different colors in the new map you just showed.

Questions:  Will all leaf-pack-only site always appear red?  The timing categories don't really apply to leaf-pack type data.  I didn't even think of it until you were demonstrating other leaf-pack feathers just now.

@HeatherBrooks - Do you think leaf pack users will be bothered by their sites always appearing "out of date?"  Sho

[2018-10-11 15:54] SRGDamia1 commented on #300
No "browse" window every appears to allow you to select the file to upload.

[2018-10-11 15:56] SRGDamia1 commented on #298
Sorry, replicate of #304, closing.

[2018-10-11 15:56] #298 closed

[2018-10-11 16:21] horsburgh commented on #24
We might want to have a "Leaf Pack Only" site type.

[2018-10-11 17:56] aufdenkampe opened #305 "Fix "View Token UUID List" button to list Sensor Variables."
The button shows the UUIDs, but no longer lists the sensor variables that each UUID is associated with. This is very valuable for proofing deployed code.

[2018-10-11 17:57] SRGDamia1 commented on #24
I think grey is great for sites with no data at all.  I think we want blue or some other color for sites that do have leaf pack data but no sensors.  If there's leaf pack and sensors, use the coloring for a sensor.

[2018-10-11 18:06] HeatherBrooks commented on #24
Tara would like to use Leaf Pack Network brand colors wherever possible. Here are colors in the logo:
Green: hex #8fba3e, RGB 143 186 62
Orange: hex #dc5428, RGB 220 84 40
I would prefer the orange. A deep golden yellow might also work.

[2018-10-12 13:58] jcaraballo17 commented on #303
@aufdenkampe Can you give an example of a request where this is the case? I made this change in the web service about two years ago, so probably the request is failing for another reason. I just tested this on both the sandbox and production servers, and the web service skips any missing or wrong UUID.

[2018-10-12 15:50] jcaraballo17 commented on #304
Just tried downloading the data for 5 different sites on production and it worked.

@fisherba can you give me more specific information on this?
I can figure out if that specific site you tried is having problems with the data, which site didn't work?
It could also be a browser-specific issue, what browser are you using?

[2018-10-12 16:03] jcaraballo17 commented on #216
@horsburgh @SRGDamia1 What are we showing in in this `Help` dropdown menu?

[2018-10-12 16:35] horsburgh commented on #216
@jcaraballo17 - Based on our resolution from June (see my comment above), we decided that help content would be at http://wikiwatershed.org/help and there would just be a link on the top bar that takes the user to a new browser tab that opens that page.

@SRGDamia1 and @aufdenkampe - @jcaraballo17 can obviously add this link to the Data Sharing Portal when the help content exists. How should we go

[2018-10-12 20:21] SRGDamia1 commented on #216
Erm..  there's a lot of content about using the modular sensors library I've created on the wiki of that repo...

[2018-10-12 21:46] Maurier commented on #24
Here is how that looks like
![image](https://user-images.githubusercontent.com/2448568/46895427-93058080-ce35-11e8-9b01-e8a27d4a64fd.png)

I had to use a brighter orange since the one you mention was too close to red and looked to similar to other red markers.

The legend text can probably use changes. Let me know what you would like.

[2018-10-12 21:56] Maurier opened #307 "Markers with exact same coordinates"
Some markers have the exact same coordinates and the ones behind can not be clicked. We need to decide on what method to use to resolve this.

Ideas:
- Marker clustering
- "Send to back" button in marker window

[2018-10-13 00:14] Maurier commented on #302
@aufdenkampe This is the metadata associated with a site. Please check the items you would like in the free search.

- [ ] Deployment By
- [ ] Organization
- [ ] Deployment Date
- [ ] Latitude
- [ ] Longitude
- [ ] Elevation (m)
- [ ] Elevation Datum
- [ ] Site Type
- [ ] Stream Name
- [ ] Major Watershed
- [ ] Sub Basin
- [ ] Closest Town
- [ ] Notes

[2018-10-13 12:29] Maurier opened #308 "HydroShare interoperabiity - Lookbehind assertions in Regex not supported in Firefox"
Regular expressions need to be rewritten for a workaround
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1425763

[2018-10-13 19:07] Maurier commented on #308
Fixed and will be deployed soon

[2018-10-13 19:07] #308 closed

[2018-10-13 19:56] Maurier commented on #304
It looks like the method we are using to provide the download is not supported in Safari yet.
See https://caniuse.com/#feat=download

[2018-10-13 20:19] Maurier commented on #300
This has been fixed and will show up on our next deployment

[2018-10-14 15:45] fisherba commented on #304
The download of combined data worked today on the following sites:
http://data.envirodiy.org/sites/NLP01/
http://data.envirodiy.org/sites/NLP02/
http://data.envirodiy.org/sites/CMP01/
http://data.envirodiy.org/sites/CMP02/
so I thought it was maybe a fluke that it didn't work on October 3 & 4. But I went back to the site that gave me trouble and it did not work today.
http://data.envirodiy.org/sit

[2018-10-15 01:08] aufdenkampe commented on #216
It seems that there are multiple help topics that can be covered here:
* Getting Started
  * potentially pointing to an article posted at https://wikiwatershed.org/help/ and/or https://www.envirodiy.org
  * @heatherbrooks would need to set up such a page
* REST POST request syntax
  * described in #254
  * potentially pointing to https://github.com/ODM2/ODM2DataSharingPortal/blob/master/doc/exampl

[2018-10-15 01:51] horsburgh commented on #216
When we discussed this on a prior teleconference, we decided to put the documentation at https://wikiwatershed.org/help/ because that would give you all the flexibility to create, edit, modify, and maintain the documentation without any changes to the code of the Data Sharing Portal.

From our perspective, it doesn't matter where it goes, we just need to know where to point the link.

Some other t

[2018-10-15 01:52] horsburgh commented on #304
Thanks for doing some quick testing @fisherba. @jcaraballo17 - can you look at the site that is still having issues and see if you can figure out what's up with that one?

[2018-10-15 02:32] aufdenkampe commented on #252
The current wording is
1. "Manage Sensors" on a blue button on the Sites page
2. "Manage Sensors at *MySiteX*" as the title to the page where the user adds or edits sensor Results metadata, (i.e. Equip Make-Model, Measured Variable, Units, Sampled Medium, Height and Notes).

For 1, I think "Manage Sensors" works well for the blue button.

For 2, I might modify the title of the page to be one of th

[2018-10-15 02:35] aufdenkampe commented on #12
@dbressler75 , I pointed to lots of examples in these comments:
* https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-405669275
* https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-405675388

[2018-10-15 02:39] aufdenkampe commented on #295
@dbressler75, thanks for creating this issue. I hadn't noticed that this wasn't working!

[2018-10-15 02:55] aufdenkampe commented on #237
The WikiWatershed Outreach Team made a final decision 2018-08-14 Biweekly Meeting
(see [2018-08-14 Biweekly Meeting](https://docs.google.com/document/d/14ZOGs80rQehmbMMJsx2cIpc29UEox7nNwFPn2xc0tzk/edit#bookmark=kix.sdztumdzheg0) Notes) to rebrand the WikiWatershed/EnviroDIY Data Sharing Portal to **Monitor My Watershed** at https://MonitorMyWatershed.org

We'll have all current URLs redirect to th

[2018-10-15 03:07] aufdenkampe commented on #294
@dbressler75, we provide lots of examples in these specific comments:
* https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-405669275
* https://github.com/ODM2/ODM2DataSharingPortal/issues/12#issuecomment-405675388

However, as is noted by @horsburgh above, I discovered lots of issues when creating CSV files from Excel.  See my comment on Aug. 15 at https://github.com/ODM2/ODM2Dat

[2018-10-15 03:09] aufdenkampe commented on #216
@horsburgh, thanks for those additional topic areas!
I agree that putting it all at a specific page under https://wikiwatershed.org/help/ will provide the most flexibility. However, that specific page doesn't exist yet. We need to make it, or at least reserve the URL.

[2018-10-15 03:18] aufdenkampe commented on #299
This feature has not been working for me either. Thanks for creating this issue!

[2018-10-15 15:33] aufdenkampe commented on #307
I agree. Some sort of clustering would be preferred.

[2018-10-15 15:40] aufdenkampe commented on #252
@SRGDamia1, I also think ""Manage Sensor Results Metadata for MySiteX" is potentially less confusing for new users, while also being more accurate for those of us who know ODM2 (which is also an important audience, as we are trying to leverage this as an important part of the ODM2 ecosystem).

@jcaraballo17, please change the page title (2 above) to "Manage Sensor Results Metadata for MySiteX".

[2018-10-15 16:04] HeatherBrooks commented on #216
We have an established page at https://wikiwatershed.org/help/ but perhaps it is time to reorganize the tabbed content. It might make sense to separate the material by "tool," e.g. Model My Watershed, Monitor My Watershed, etc.

[2018-10-15 17:08] aufdenkampe commented on #304
@fisherba and I just found a major bug with this download csv feature --
***Data from the different sensors are not aligned properly by row according to their timestamps!***

She writes:

She is specifically referring to these sites:
* WSP01: https://data.envirodiy.org/sites/WSP01/ and it's downloaded [WSP01_TimeSeriesResults.csv](https://drive.google.com/open?id=14YoCEW6gqVRpRBSuyugyokH0av_-pPNj)

[2018-10-15 18:10] horsburgh commented on #304
@darksinge worked on this. He and @jcaraballo17 will have a look and see what's up.

[2018-10-15 18:33] HeatherBrooks commented on #24
Thanks for the example. I think the orange is still too close to the red, especially for people with red-green colorblindness. I see that you're using different shapes for ownership status ... is there a different marker shape you can use for the leaf pack data?

[2018-10-15 18:58] HeatherBrooks opened #309 "Emails to help address are bouncing"
A user notified me that he received a bounce message when he emailed requesting a new sensor type. This is because the emails are being directed to ww-data-portal-help@googlegroups.com (see bottom of form in screen shot) but only group members can send directly to a Google Group. I can set up an address (e.g. help@monitormywatershed.org), have it forward to me, and then I'll forward it to the Goog

[2018-10-15 20:36] aufdenkampe commented on #309
@HeatherBrooks, Google groups used to be able to be set to receive emails from the public. I'm nearly certain that we just need to change a setting in the Google Group.

[2018-10-15 20:48] aufdenkampe commented on #309
@HeatherBrooks, for this group at https://groups.google.com/d/forum/ww-data-portal-help, I just modified *Permissions>Basic Permissions* to allow "Anyone on the web" to Post questions and View topics.

Only members of the group can respond.

I also reset the "Topic types" to default to "Questions", rather than "Discussions", under *Information>General information*.

Have the user try again to emai

[2018-10-16 16:50] HeatherBrooks commented on #309
@aufdenkampe, thanks for updating the settings. You probably saw in your inbox, but Neil Hancock successfully emailed the Google Group this morning. He reports: "I can now see messages in https://groups.google.com/forum/#!forum/ww-data-portal-help." Is a public forum, separate from the forums on EnviroDIY.org, what you had in mind?

[2018-10-16 19:04] SRGDamia1 commented on #309
Please, not another forum!  Just one should be sufficient.

[2018-10-19 18:50] HeatherBrooks commented on #237
Branding font/color information, as well as the new Monitor My Watershed logo and site icon, are available in [WikiWatershed Branding Identity](https://drive.google.com/drive/folders/1MiPT4DBrtUaFxUiTf3CRYNVBl0X_pj0U?usp=sharing). Please let me know if you have trouble accessing or downloading the materials.

[2018-10-23 16:18] aufdenkampe opened #312 "Use Pandas for CSV upload and download functions"
Pandas library, https://pandas.pydata.org/, makes reading, writing data tables in/out of CSV formats a breeze because of fantastic auto-parsing capabilities, especially for date time info. Also, Pandas is EXCEPTIONALLY easy and fast at merging time series into a combined data table.

Using Pandas with thus fix the bug described in https://github.com/ODM2/ODM2DataSharingPortal/issues/304#issuecomme

[2018-10-23 16:32] aufdenkampe opened #313 "Fix branding to Monitor My Watershed"
As @HeatherBrooks and I described in https://github.com/ODM2/ODM2DataSharingPortal/issues/237 and #287, we are modifying the branding to *Monitor My Watershed* at https://MonitorMyWatershed.org.

See the [WikiWatershed Branding Identity](https://drive.google.com/drive/folders/1MiPT4DBrtUaFxUiTf3CRYNVBl0X_pj0U?usp=sharing) for new logos.  See the new branding text for the "Explore Our Companion Pro

[2018-10-23 16:33] aufdenkampe commented on #287
@darscott is updating the branding text for the "Explore Our Companion Projects" section of the home page, to align with the new [WikiWatershed Branding Identity](https://drive.google.com/drive/folders/1MiPT4DBrtUaFxUiTf3CRYNVBl0X_pj0U?usp=sharing) that @HeatherBrooks and I described and pointed to in #237.

The new text can be found in at the bottom of the [Tweaks to Leaf Pack Experiment Data Ent

[2018-10-23 16:52] SRGDamia1 opened #314 "500 Server Error on Admin Page"
I cannot modify a variable or add a sensor output.  I'm getting a 500 server error.

[2018-10-23 17:28] jcaraballo17 commented on #314
This issue came up in #292. It's fixed, but it has to go through the sandbox and will be up in the next deployment.

[2018-10-23 17:36] aufdenkampe commented on #309
@HeatherBrooks, I don't want another general forum either. My intent was to set it up as a public help email system that very specifically focused on the Portal, not other EnviroDIY stuff. I thought that keeping old responses public could be good. I'll look at it again. I thin both you and @SRGDamia1 have access to change settings.

[2018-10-23 17:50] aufdenkampe commented on #303
A dummy UUID in the correct format allows the POST request to complete, such as:
-  "12345678-abcd-1234-efgh-1234567890ab"

However, these following all cause 401 server errors:
- "12345678-abcd-1234-efgh-1234567890ab ", with an extra space after a correct UUID.
- "a"
- ""

The extra space happens very commonly, yet it is hard to find if the entire POST fails. It would be much more helpful to pass

[2018-10-23 17:52] aufdenkampe commented on #302
@Maurier, I just checked off fields in the list. The short answer is that all the text fields would be helpful for search. Thanks!

[2018-10-23 17:57] aufdenkampe commented on #216
@HeatherBrooks, I agree that it seems time to reorganize the  https://wikiwatershed.org/help/ section by tool. Are you able to do this anytime soon? Let @darscott and I know what kind of input you might need.

@Maurier and @jcaraballo17, for the moment, just point to https://wikiwatershed.org/help/. We'll send you an updated URL once we have it.

[2018-10-23 18:04] horsburgh commented on #303
@aufdenkampe - It seems like the most logical place to solve these issues is in the datalogger code. The web service for posting data will respond to whatever requests it gets. If you don't want to post data and you want to save on your cellular data plan, why send the POST request in the first place? Why not just log to the SD card and not send the POST requests? Could the Arduino code be configu

[2018-10-23 18:09] aufdenkampe opened #315 "Add dimensionless integer variable for housekeeping"
After the next release, which will fix #292, we will want to implement the following suggestion from @neilh10 via his email. Addressing #261 will make it possible to implement the second half of this suggestion.

[2018-10-23 18:36] aufdenkampe commented on #303
@horsburgh, I think you might have misunderstood the intent of this issue. As stated in the issue description:

My intent is to have the Portal accept all variables with a good UUID, even if it rejects one of them with a bad UUID.

I'm not asking for any grace for a bad UUID; I don't want the Portal stripping trailing spaces. If a UUID is bad, then the Portal should not accept the value connected

[2018-10-23 18:49] aufdenkampe commented on #154
@jcaraballo17, Has this issue been fixed?
@SRGDamia1, did you create a separate issue in the TSA repo?

[2018-10-23 18:55] aufdenkampe opened #316 "Change nginx to redirect to MonitorMyWatershed.org"
From my email:

Response from @jcaraballo17:

[2018-10-23 18:57] aufdenkampe commented on #316
We'll want to do this after release 0.9.5, to first let users get used to the new branding.

[2018-10-23 18:58] horsburgh commented on #303
@aufdenkampe - sorry about the confusion. By "handling the other two cases" I meant that instead of getting a 401 server error like you are getting now, we would make sure that the service skips (without errors) any requests with bad UUIDs (which is what it should be doing now anyway). But, sending POST requests with empty UUIDs or single character UUIDs will still chew up data (albeit at a potent

[2018-10-23 19:00] aufdenkampe commented on #303
@horsburgh, no worries. It sounds like we're on the same page.

[2018-10-23 19:16] SRGDamia1 commented on #315
Can't you just do that quickly on the admin panel?

[2018-10-23 19:59] SRGDamia1 commented on #303
I think there is a json parse error going out when the parsing has a problem.  I think it's even saying the character position of the error.

@aufdenkampe - from the perspective of saving cellular data, we actually would want the server to say as little as possible back after the post request.  Everything the server says back after a post costs you data.  An empty page with no headers but the http

[2018-10-29 14:57] jcaraballo17 commented on #303
@aufdenkampe I've been testing these examples you posted, and as I expected all of them work just fine.
The web service doesn't try to insert whatever it finds in the post request, it loops through the list of results associated with the sampling feature and tries to find data for those results in the request.

Would it be possible for you or @fisherba to provide one of the POST requests that fail

[2018-10-29 17:06] jcaraballo17 commented on #254
Closing in favor of #216

[2018-10-29 17:06] #254 closed

[2018-10-30 15:16] horsburgh commented on #294
@aufdenkampe and @SRGDamia1 - I've assigned this issue to you. The upload functionality has been added to the site and so it looks like what is left on this issue is to add some documentation to the help pages to explain the format - and potentially provide some guidance around creating files.

With respect to your question about using Pandas, we plan to push a fix to the CSV download functionalit

[2018-10-30 15:19] horsburgh commented on #312
Our plan for the next release is to push a fix for the CSV download. Rearchitecting to use Pandas for upload and download is something we can look at next. I'm going to move this issue to the next release.

[2018-10-30 15:25] horsburgh commented on #309
@HeatherBrooks and @aufdenkampe - I'm assigning this one to you. If this has already been resolved, you can just close this issue.

[2018-10-30 15:32] Maurier commented on #24
How about one of these?

![map-markers](https://user-images.githubusercontent.com/2448568/47729882-9ca92980-dc26-11e8-8aa4-c6cd8c256073.png)

[2018-10-30 15:36] aufdenkampe commented on #309
This has been resolved and is working.

[2018-10-30 15:56] HeatherBrooks commented on #309
I don't think this is resolved ... no action has been taken since the Google Group was set to public and NeilH (and a spammer) began posting to the associated forum. We discussed this at the Stroud Center -- we really don't want another forum to have to respond to -- so we would prefer to make the Google Group private again and use the approach I outlined when I opened this issue.

[2018-10-30 15:58] horsburgh opened #324 "Post terms of use, DMCA, privacy, and cookie policies"
Stroud has developed policies for terms of use, DMCA, privacy, and cookies. These need to get added to the site. Here are links to the content:

Terms of Use: https://docs.google.com/document/d/1YGVdm_f8ZHlUbVGgelcjW3vaKkEf6KqlEIjbUJ8kpHU/edit?usp=sharing

DMCA: https://docs.google.com/document/d/1i8yMD_cuJpuNcOlHKWhM1brbPglQpA_fahhUTPll0_Y/edit?usp=sharing

Privacy: https://docs.google.com/docume

[2018-10-30 22:11] HeatherBrooks commented on #24
Now that I see these, I think using a different marker shape in the orange will still be hard to distinguish. But I like the blue marker, can it be used? I know it's not in the leaf pack branding colors, but it will certainly be easy to tell the leaf pack data from the sensor data.

[2018-10-30 22:19] Maurier commented on #24
Yes, I have added the blue marker for this case. This change will show up in the next update. Here is hot it looks like:
![image](https://user-images.githubusercontent.com/2448568/47754134-853a6280-dc5f-11e8-8787-faf68a5471e1.png)

[2018-10-31 00:40] jcaraballo17 commented on #324
This is done already, moving to Milestone 0.9.5.

[2018-10-31 00:46] jcaraballo17 commented on #316
@aufdenkampe @horsburgh https://www.monitormywatershed.org and https://www.monitormywatershed.com have been live for about a week now. All the domain names work independently from each other, so if that's the desired behavior for this issue then we can close it.

[2018-10-31 00:56] jcaraballo17 commented on #294
Taking this issue off the milestone. Maybe this should be another issue for adding content to the help section in https://wikiwatershed.org?
Feel free to add it back if you think it belongs here.

[2018-10-31 00:59] jcaraballo17 commented on #301
Closing. This was done for issue #287.

[2018-10-31 00:59] #301 closed

[2018-10-31 01:45] horsburgh commented on #316
@jcaraballo17 - I think they wanted https://data.envirodiy.org and https://data.wikiwatershed.org to be redirected to https://monitormywatershed.org so that if you enter one of those other domains into the browser you end up at https://monitormywatershed.org (which would be shown as the URL in the browser).

@aufdenkampe - all three domains are active and point to the exact same content so the loo

[2018-10-31 19:38] horsburgh commented on #324
@Maurier - this all looks good on the sandbox. Based on @HeatherBrooks' comment I think we should combine this into one statement and checkbox. I think you can just remove the second checkbox and text.

[2018-10-31 19:47] horsburgh commented on #287
@Maurier - I think this mostly looks good on the sandbox. I did find one small issue:

On step 2 under storm and non-storm events, they wanted you to remove the text "(depth)" from the total precipitation that occurred entry, but you also removed the "cm" label. You need to add the "cm" label back.

Otherwise this one looks good on the sandbox. I created a new experiment, and all of the data field

[2018-10-31 20:00] horsburgh commented on #313
@Maurier - this all looks good to me on the sandbox except the fonts of the "Data Sharing Portal" text and the "How it works" text on the home page. There are other headers on other pages that need to be fixed too. It looks like some flavor of the Times font is being used, but it should be the Ubuntu font.

[2018-10-31 20:03] horsburgh commented on #24
@Maurier - nearest I can tell, this looks good on the sandbox. It's a little hard to test because all of the data are out of date on the sandbox, so several of the markers don't show up on the map at all.  I'm going to add the "tested" label.

[2018-10-31 20:05] horsburgh commented on #302
This seems to be working for me on the sandbox. It's cool that it zooms me in to the sites that match the search criteria and turns off sites that do not. I'm adding the "tested" label to this one.

[2018-10-31 20:12] darscott commented on #287
Jeff et al,
Just a small thing I noticed that I wasn't aware of as far as a requested
change...some of the font type on the home page changed to serif font. I
used to be a san serif font that was more inline with the
branding...specifically the headers: "Data Sharing Portal", "How it works",
and "Explore the WikWatershed Toolkit" font types...Please don't hesitate
to correct me if that was somethi

[2018-10-31 20:40] HeatherBrooks commented on #287
Good catch! I'm seeing Ubuntu for the headings but that's because I have it installed on my PC. You can embed Ubuntu from Google Fonts or you'll need to use a fallback in your CSS, something along the lines of "font-family: 'Ubuntu', Helvetica, sans-serif;" so it doesn't default to Times New Roman for users that don't have Ubuntu.

[2018-10-31 20:56] HeatherBrooks commented on #313
Branding looks good with the exception of the Ubuntu fallback. A couple of text edits on the homepage:
"How it works" to "How It Works"
"The WikiWatershed Data Portal" to "Monitor My Watershed"

[2018-10-31 21:19] horsburgh commented on #324
The check box and text look good now. Adding the "tested" label.

[2018-10-31 21:21] horsburgh commented on #313
Fonts of headers look good now and the @HeatherBrooks tweaks are implemented. Adding the "tested" label to this one.

[2018-10-31 21:22] horsburgh commented on #287
The "cm" label is back! Adding the "tested" label to this one.

[2018-10-31 21:47] horsburgh commented on #305
I think this looks good on the sandbox. Variable and sensor information are now shown next to each UUID in a comment. Adding the "tested" label.

[2018-10-31 21:49] horsburgh commented on #291
This appears to be fixed on the sandbox server. For a variable that has site and notes, they are shown. For a variable that doesn't have content for these values, they are not shown. Adding the "tested" label to this one.

[2018-10-31 21:55] horsburgh commented on #296
@Maurier - I just had a look at this. The "Export Selected (.zip)" button created a zip file and it downloaded fine. Inside were CSV files for the time series I selected. The header information was there, but there were no datavalues in the files.

[2018-10-31 21:58] Maurier commented on #296
@horsburgh, this is part of another problem specific to this deployment that @jcaraballo17 and I discovered last night. In short, the site has a problem accessing the datapoints for any dataset.  @jcaraballo17 any ideas how to fix it?

[2018-10-31 22:18] horsburgh commented on #304
I tested this one on the sandbox using this site: http://envirodiysandbox.usu.edu/sites/BIXBY_7/

The other sites listed in @aufdenkampe 's comment above don't exist in the sandbox database. Download of the file containing all variables for the Bixby site worked (where it didn't before), and the combined data file had appropriate null values for where data do not exist. I checked several of the ti

[2018-11-01 14:41] SRGDamia1 commented on #216
Looks good to me.

[2018-11-01 14:45] HeatherBrooks commented on #313
Sorry, our Communications Manager caught a few more things on the homepage after I left work yesterday:
"water quality data" should be "water-quality data" (two occurrences)
"water monitoring data" should be "water-monitoring data"
WikiWatershed logo appears fuzzy because the image is 427 x 77 pixels and is being displayed at 503 x 91 pixels.
In the footer, "**EnviroDIY™** is presented by" should

[2018-11-01 14:51] SRGDamia1 opened #326 "Show height and notes fields in TSA"
They aren't there now.  For sites with repeats of the same sensor, it's currently impossible to tell which is which.

[2018-11-01 14:52] SRGDamia1 opened #327 "Question: What is the "series" number in TSA"
I'm guessing it's the primary key in the table.  If that's all it is, it probably shouldn't be displayed as the first column by default.

[2018-11-01 14:53] SRGDamia1 commented on #326
It would be nice to also be able to see the GUID.  I'm afraid that would be complicated, though, since we want it hidden for non-owners.

[2018-11-01 15:09] horsburgh commented on #313
We'll hyphenate water quality and water monitoring if you want, but I don't think I've ever seen those terms hyphenated in any common scientific or other context.

[2018-11-01 15:14] horsburgh commented on #326
@SRGDamia1 - can you give us an example of where you are not seeing the height, notes, and GUID? On the sandbox, here is an example of what I am seeing for one of my sites:

Site UUID and Registration token:

![image](https://user-images.githubusercontent.com/3485902/47860538-5b478400-ddb6-11e8-925e-4faf508dfb25.png)

Height, notes, and UUID for time series - one has height and notes and one does

[2018-11-01 15:16] horsburgh commented on #327
I think it's just a unique identifier for the series. @jcaraballo17 can confirm.

[2018-11-01 15:31] horsburgh commented on #326
I guess I should read the full label of the issue. You are referring to TSA - sorry about that.

The TSA uses a catalog database that is based almost entirely on ODM 1.1 (given that the bulk of the code existed prior to this project).  A time series in ODM 1.1. is defined as the unique combination of site, variable, method, source, and qualitycontrollevel. The offset is not one of the things that

[2018-11-01 15:38] HeatherBrooks commented on #313
@darsott, this is your call. I brought it up because Stroud Center communications policy is to use AP style in our public communications. AP hyphenates compound modifiers as in those terms.

[2018-11-01 15:43] horsburgh commented on #313
@Maurier - if you could make these changes really quickly I can add the tested label back to this one.

[2018-11-01 15:53] jcaraballo17 commented on #327
@SRGDamia1 That's exactly what it is.

[2018-11-01 15:59] Maurier commented on #313
Sure thing

[2018-11-01 16:05] HeatherBrooks commented on #309
Please change the email address for add new sensor requests from ww-data-portal-help@googlegroups.com to help@monitormywatershed.org.

[2018-11-01 16:17] SRGDamia1 commented on #326
Yeah, I figured the GUID/permissions probably wouldn't be possible.  That's ok, it would only be to help tell series apart, so the notes and height should cover it.

[2018-11-01 16:39] Maurier commented on #296
@horsburgh This issue can be tested now.

[2018-11-01 16:40] Maurier commented on #293
@horsburgh This issue can be tested now.

[2018-11-01 17:53] horsburgh commented on #296
I just tested this. The zip file is now being created, and the CSV files are being zipped correctly and the download works. For the purposes of this issue, I'm going to add the "tested" label because the reported issue has been resolved. However, when I look at the CSV files, there's some issues with the header information and the date/time values. I'm going to make this a separate issue.

[2018-11-01 18:02] horsburgh opened #328 "CSV Download Files Created by TSA Need to be Fixed"
Here's some things I observed in looking at the CSV files generated by the TSA. I tested this by looking at the data for this site: https://envirodiysandbox.usu.edu/sites/USU-LR-UWRL/

Under Site Information:
* [ ] The value of "IsActive" is set to 1 for the site I tested. I loaded some old data to this site from 10 years ago. There are no recent data for this site, so what does the 1 mean? I thin

[2018-11-01 18:20] horsburgh commented on #328
After looking at the CSV files generated by the two systems, I'm going to close this issue in favor of creating a new issue that defines one structure for individual time series download as CSV from both the Data Sharing Portal and the TSA.

[2018-11-01 18:20] #328 closed

[2018-11-01 18:49] horsburgh opened #329 "Create Consistent CSV File Download from Portal and TSA for Individual time series"
I'm labeling this issue as both bug and enhancement because the files need to be reconciled (enhancement) and also cleaned up too remove errors (bug).

Here's is an example for what the format of the CSV download file should be for individual time series. This file format should be consistent across the data sharing portal and the TSA. Where stuff needs to be filled in, I've included it in "<>" to

[2018-11-01 21:16] aufdenkampe commented on #303
@jcaraballo17, I'll see if I can reproduce this, and if so, I'll get you that specific info.

[2018-11-01 21:51] aufdenkampe commented on #329
This looks good to me. Thanks for setting up this template with a nice header and consistent metadata.

[2018-11-01 21:54] aufdenkampe commented on #328
Thanks for outlining these issues. Connected to new issue #329.

[2018-11-01 22:01] aufdenkampe commented on #316
This is the behavior we want for now.

As mentioned by @horsburgh in https://github.com/ODM2/ODM2DataSharingPortal/issues/316#issuecomment-434531758, in the future (not yet sure if for next release), we'll want to redirect all traffic to https://monitormywatershed.org.

[2018-11-01 22:03] aufdenkampe commented on #305
Yes, that looks good. Thanks for that fix.

[2018-11-01 22:05] aufdenkampe commented on #291
This is a nice touch, as it is more efficient with space on the page.

[2018-11-01 22:12] aufdenkampe commented on #304
Yes, the fix worked for BIXBY_7, but I couldn't find another site to test on Sandbox (i.e. older than June 2018) that might have the same issues. Let's move forward and hope it works on production.

[2018-11-01 22:32] aufdenkampe commented on #313
Regarding @HeatherBrooks' https://github.com/ODM2/ODM2DataSharingPortal/issues/313#issuecomment-435062919 on hyphenating "water-quality monitoring", I tend to agree with Jeff that I have never seen it written that way. I understand using AP style is important, but perhaps not for all the things. For example, I just learned last month that AP would use Mr. Arscott, Mr. Horsburgh and Mr. Aufdenkampe

[2018-11-01 22:40] aufdenkampe commented on #309
@HeatherBrooks, following your suggestion, I just edited things at https://groups.google.com/d/forum/ww-data-portal-help, where I modified Permissions>Basic Permissions to only allow "All members of the group" to view topics. I left "Anyone on the web" to Post questions.

This way it should not allow people to see it as a forum, but will still accept (and forward) any emails sent to that address (

[2018-11-01 22:44] aufdenkampe commented on #326
This would be a nice feature, especially given that we'll probably be using TSA for some time.

However, I've long wondered how much investment we should continue to give to TSA, given that it is based on ODM1.1?

@horsburgh & @jcaraballo17 , if the fix is relatively straightforward, it might be worth considering, but I understand if that might be too challenging without a major refactor.

[2018-11-01 22:51] aufdenkampe commented on #293
This looks quite good now. Thanks for also addressing many of the other time-axis styling suggestions that I mentioned in https://github.com/ODM2/ODM2DataSharingPortal/issues/236#issuecomment-412143248.

Its nice to see TSA functional again! I had largely given up on it this summer.

[2018-11-01 22:53] aufdenkampe commented on #296
Worked for me! Thanks.

[2018-11-01 22:54] horsburgh commented on #292
I was able to verify that this works on the sandbox. I had to do the following:
1. Click on the "Admin" link to enter Admin mode
2. Click on the "Equipment models" link to verify the equipment model exists. If not, add it. (in my test, using the information in @aufdenkampe 's example above, the equipment model already existed)
3. Go back to the main admin menu and click on the "Variables" link to

[2018-11-01 22:55] horsburgh commented on #293
This is done. I'm adding the "tested" label.

[2018-11-01 23:04] aufdenkampe commented on #292
This isn't yet really working, because the front end "Add New Sensor" modal window still filters the "Medium" based on some association with the sensor or variable.  Try it for my example in https://github.com/ODM2/ODM2DataSharingPortal/issues/292#issuecomment-420439221. This filtering needs to be turned off.

@horsburgh, thanks for fulling testing the Django Admin mode. That part looks good to me

[2018-11-01 23:28] horsburgh commented on #292
@aufdenkampe - I'm not seeing this. On the front end, I can select the manufacturer, Sensor Model, Measured Variable, and Units. Once I do this, all of the sampled media are available for selection. Am I missing something?

![image](https://user-images.githubusercontent.com/3485902/47885597-7983a300-ddfb-11e8-8f01-aded2910b7d9.png)

[2018-11-01 23:43] horsburgh commented on #300
I tested this with a file to add data to a new site. I tested first in chrome and the upload was successful. I also tested in Firefox and I am not getting the Django error shown above. I get the file browser window that allows me to select a file for upload. I'm going to add the "tested" label to this one.

[2018-11-01 23:46] horsburgh commented on #284
@jcaraballo17 - how can I test this?

[2018-11-01 23:46] horsburgh commented on #299
@jcaraballo17 - how can I test this?

[2018-11-01 23:47] jcaraballo17 commented on #292
Oops. @aufdenkampe I forgot to update the filtering in the sandbox database for the old data. I'll update that as soon as I can.
The issue addressed here with adding new variables with the django admin is fixed, and by selecting those new variables you get all sampled mediums as options, right?

[2018-11-01 23:56] jcaraballo17 commented on #299
[Go to any site page with data, then go to it's Edit site page.](http://envirodiysandbox.usu.edu/sites/update/WSU-3/)
At the bottom of the form check the "Notify me if site stops receiving sensor data." and fill that out.
The script that regularly checks the data runs every 15 minutes, so in < 15 mins it'll send you an email.

[2018-11-01 23:57] jcaraballo17 commented on #303
@aufdenkampe Thanks, that would help a lot.

[2018-11-01 23:57] aufdenkampe commented on #292
@horsburgh thanks for the feedback.

Unfortunately, I just retested this on both Chrome and Safari after refreshing the cache, and I still see an issue for the first MaxBotix sensor, MB7386. However, it no longer is an issue on the second one. This was also the case for different sites.

@jcaraballo17, does that make sense with what you just noticed?

[2018-11-02 00:35] jcaraballo17 commented on #292
@aufdenkampe Just finished running a script for updating that data in the database.
It should be working now.

[2018-11-02 14:56] horsburgh commented on #292
@aufdenkampe - thanks for testing this. I just went through and sampled a bunch of sensors on the "Add New Sensor" form, and since Juan ran his update script, all of the Sampled Media are available for all of the sensors I tried. I'm going to add the "tested" label to this one again.

[2018-11-02 15:00] horsburgh commented on #309
This is live on the sandbox now. Adding the "tested" label and adding it to the milestone for release.

[2018-11-02 15:04] horsburgh commented on #313
The changes suggested by @HeatherBrooks have been implemented on the sandbox. I'm going to add the "tested" label back to this one.

[2018-11-02 15:36] horsburgh commented on #299
I set this up on one of my sites that had old data with nothing recent. Within 15 minutes I received an alert message:

Jeff,

This email is to notify you that your EnviroDIY site "Little Bear River at Mendon Road near Mendon, UT" has not received any new data values in the last 88425 hours. The last update was on 2008-10-01 05:30:00. You may want to check your equipment to ensure it's working as

[2018-11-02 16:31] aufdenkampe commented on #292
Great! It works for me!

[2018-11-02 16:33] aufdenkampe commented on #299
That's great to see it working!
Thanks @horsburgh for suggesting those text changes.

[2018-11-02 17:02] darscott commented on #313
I don't think I've come across any common usage of the hyphen in this
phrase "Water quality monitoring". I'm fine if we break the AP rules here.
Dave

___________________________________________________________________________________

Dave B. Arscott, Ph.D. - Executive Director, Research Scientist

Stroud Water Research Center -  Avondale, PA 19311 USA
Phone: (office) 610-268-2153 x 278, (mobile)

[2018-11-02 21:57] SRGDamia1 commented on #300
Works for me.

[2018-11-02 22:18] #299 closed

[2018-11-02 22:20] #24 closed

[2018-11-02 22:20] #216 closed

[2018-11-02 22:20] #237 closed

[2018-11-02 22:20] #252 closed

[2018-11-02 22:20] #287 closed

[2018-11-02 22:20] #291 closed

[2018-11-02 22:20] #292 closed

[2018-11-02 22:20] #293 closed

[2018-11-02 22:20] #296 closed

[2018-11-02 22:20] #300 closed

[2018-11-02 22:20] #302 closed

[2018-11-02 22:20] #304 closed

[2018-11-02 22:20] #305 closed

[2018-11-02 22:20] #309 closed

[2018-11-02 22:20] #313 closed

[2018-11-03 02:03] SRGDamia1 opened #332 "Unable to view any site pages"
I get a 500 server error when trying to go to any site page. I'd initially thought I'd been getting it because you were in the middle of doing the release, but I'm still seeing it for every door I've tried.

[2018-11-03 18:45] SRGDamia1 commented on #332
That was probably it.  It's working now.  Thanks!

[2018-11-03 18:45] #332 closed

[2018-11-05 22:56] horsburgh opened #333 "Modify "register" links on home page"
From the home page, the link to register a site under the EnviroDIY instructions should link to the following URL:

https://monitormywatershed.org/sites/register/

It is currently linking to the login screen even if you are already logged in. The default should be to link to the site registration page. If you're not logged in it should go the login page then login and hit the site registration pag

[2018-11-06 18:07] aufdenkampe opened #334 "Create MQTT endpoint for receiving data"
As mentioned in #95, and related to our long-term interest in creating a lighter-weight data posting system (#11), we might consider created an [Message Queuing Telemetry Transport (MQTT)](https://en.wikipedia.org/wiki/MQTT) API endpoint as an alternate to our current HTTP RESTful POST API (which we should always support for backward compatibility).

MQTT has gained a lot of traction over the last

[2018-11-06 18:07] aufdenkampe commented on #334
Consider for next release?

[2018-11-06 19:55] HeatherBrooks opened #335 "Update page titles"
I think a couple of title tags still need to be updated to reflect the branding change.
Homepage: from "Data Sharing Portal" to "Monitor My Watershed"
Register page: from "Join the EnviroDIY Data Portal" to "Join Monitor My Watershed"

[2018-11-07 18:20] HeatherBrooks opened #336 "Leaf pack experiment data form: macroinvertebrates missing Latin names"
The sandbox shows the Latin names but the production site does not. Correct names are listed in this [Google Doc](https://docs.google.com/spreadsheets/d/11lJehfHBXBmD5dKPukVJnQZWqVgYyIEGvh7NLwF2n8M/edit?usp=sharing).

Sandbox
![macros-sandbox](https://user-images.githubusercontent.com/9368629/48151458-58093800-e28f-11e8-9646-d24a6d911c52.JPG)
Production
![macros-production](https://user-images.git

[2018-11-07 18:22] HeatherBrooks commented on #336
Oh, and the production site is missing the "super categories," e.g. "All crustaceans (Crustacea)"

[2018-11-07 20:41] HeatherBrooks opened #337 "Remove abandoned leaf pack experiment variables"
We abandoned "Content" and "Deployment Type" and removed them from the leaf pack experiment data entry form, but they still appear in the Macroinvertebrate Data section on the experiment page, the Manage Leaf Pack Experiments page, and on the site page.

![abandoned-variable-experiment](https://user-images.githubusercontent.com/9368629/48158453-8a6f6100-e2a0-11e8-84eb-b135f77fbed6.JPG)

![abandone

[2018-11-08 17:29] aufdenkampe commented on #188
@horsburgh and I just decided that prior to uploading the current Units list from http://vocabulary.odm2.org/units/ into backend for Admin, that we should first update the Units on that list to include those that are known to be missing.

This doesn't really address the longer-term interest expressed in https://github.com/ODM2/ODM2ControlledVocabularies/issues/34, but it is a small stepping stone.

[2018-11-08 17:35] aufdenkampe commented on #191
Let's think about how to best do this. Sometimes the term for the relevant Unit type is a bit obscure, and in my recent work with @roelofversteeg, I have found that first sorting my unit type is actually quite hard to do, even for me with all my previous work on Units. I found that it is much easier to search by unit name, especially if there is free-text filtering in the dropdown.

[2018-11-08 17:37] aufdenkampe commented on #190
Either way, I think sorting by the unit term or name is much more preferable than sorting by the unit abbreviation, which is often case sensitive and doesn't include enough letters for a logical sort.

[2018-11-12 23:08] aufdenkampe commented on #337
Is this connected to the "regression" that @horsburgh mentioned in https://github.com/ODM2/ODM2DataSharingPortal/issues/336#issuecomment-436726825?

@Maurier, is there an understanding of how this happened? I'm asking because we would like to learn from it for future releases.

[2018-11-13 17:03] Maurier commented on #336
@horsburgh I sent a message to @darksinge about this. I remember we set a script to take care of this.

[2018-11-13 17:06] Maurier commented on #337
@aufdenkampe This issue is not connected to #336. This was an oversight after removing the form items. We could implement the suggestion above. A quick mock-up of the suggestion would be very helpful.

[2018-11-13 17:30] HeatherBrooks commented on #337
@Maurier Here's a mock-up of what I suggested for the "Macroinvertebrate Data at This Site" section (data is from one of my tests, [http://monitormywatershed.org/sites/BogBrook_Rt312/leafpack/4/](url)

![experiment-at-glance](https://user-images.githubusercontent.com/9368629/48431442-b62a9500-e73f-11e8-815c-a599bc819b08.JPG)

If you think you have enough room, you could display the full water qual

[2018-11-16 19:21] HeatherBrooks opened #338 "Edits Terms of Use page"
I'm sorry this slipped through earlier rounds of editing ... two sentences in the Terms of Use section 8 (Intellectual Property) need to be updated.

It currently reads (sentences to be changed are in bold):
8. Intellectual Property. This Agreement does not transfer from Stroud Water Research Center and LimnoTech to you any Stroud Water Research Center, LimnoTech, or third-party intellectual prope

[2018-12-04 16:44] HeatherBrooks commented on #336
Hi @Maurier, any progress on this issue? We'd like to have some Leaf Pack Network users try entering data soon but we can't do that until the macroinvertebrate super categories and Latin names are reinstated. Thanks.

[2018-12-04 21:48] jcaraballo17 commented on #336
@HeatherBrooks the Latin names and macroinvertebrate categories should be back now.

[2018-12-06 18:59] HeatherBrooks commented on #336
@jcaraballo17 They're mostly back but it looks like we're still missing the crustaceans:

All crustaceans (Crustacea)
Scuds (Amphipoda)
Aquatic sowbugs (Isopoda)
Crayfish (Decapoda)

[2018-12-06 19:50] jcaraballo17 commented on #336
@HeatherBrooks Can you double check it? I'm seeing those right now on the page.
![image](https://user-images.githubusercontent.com/4700505/49608246-85203780-f96e-11e8-835b-c5227b28da4d.png)

[2018-12-06 19:59] horsburgh commented on #336
Maybe clearing browser cache is needed?

[2018-12-06 20:32] HeatherBrooks commented on #336
Sorry, I should have been more specific; I was seeing the problem on the page displaying the leaf pack data, not on the data entry page, but everything's there in a new incognito window. Thanks!

[2018-12-07 15:21] #336 closed

[2018-12-11 18:11] horsburgh commented on #191
@aufdenkampe - @jcaraballo17 and @Maurier need some clarity. @SRGDamia1 suggests that the unit should only be selectable by unit type, but Anthony, your last comment suggests that we don't want to do this. It would be great if you and Sara can get together and decide what you want here. Juan and Mauriel can do whatever, but we need to tell them how this should work.

[2018-12-11 19:09] SRGDamia1 opened #340 "In Admin View - show table instead of single value for entries"
it would be so much more useful to view something more like a table instead of just the code

[2018-12-11 19:15] SRGDamia1 opened #341 "Create a way to test a post without actually saving the data"
It would be nice to be able to send a few test points to a site from the logger to make sure everything is going to work before deploying it without actually keeping the data.

I'm not quite sure the best way to do this because a large part of the point of doing a test post in the lab would be to make sure all the UUID's have been copied in correctly.  That is.. you want the test post to be sent e

[2018-12-11 22:58] horsburgh commented on #191
If it's just in the Admin panel, it should be pretty straightforward.

[2018-12-13 20:43] aufdenkampe opened #342 "Fix broken "Add New Sensor" for some variables"
While teaching a group today, we all got errors and couldn't move forward when trying to add specific variables, including:
* Bosch_BME280_Temp
* Maxim_DS18BB20_Temp

Maybe there are others?

@jcaraballo17, @Maurier, any idea what might be happening? Is this a database issue related to the migration, similar to what we've seen previously?

cc: @horsburgh, @SRGDamia1

[2018-12-13 20:47] jcaraballo17 commented on #342
Can't think of any reason that would happen.
I'll take a look at it and try to figure out what the issue is in a bit.

[2018-12-13 20:51] horsburgh commented on #342
@aufdenkampe - can you describe the steps and the specific error?

[2018-12-13 20:54] horsburgh commented on #342
I just tried to add these two sensors to one of my sites, and when I click the button to add them I just get a small message at the bottom that says "Failed to add sensor" and it just leaves me in the modal window. @aufdenkampe - have you had issues with any others?

[2018-12-13 21:41] aufdenkampe commented on #284
This issue just reappeared in our workshop just now, for a new user at a new site.
http://data.envirodiy.org/sites/test/

Given the site name, could this be an issue with data from a deleted site?

[2018-12-13 21:44] aufdenkampe commented on #284
Also for another new user at a different site.
http://data.envirodiy.org/sites/test0/

Clicking on view in TSA for any variables leads to only be able to view `EnviroDIY_Mayfly_Batt: Battery voltage`

[2018-12-13 21:51] SRGDamia1 commented on #284
I'm seeing this too, for new variables added at an old site.

[2018-12-13 21:52] SRGDamia1 commented on #342
I got it yesterday with a Zebra Tech DO in ppm, though, oddly, not the other DO variable..

[2018-12-13 21:54] jcaraballo17 commented on #342
I figured out what the problem is, I'll try to fix it tomorrow or the beginning of next week. Do we want to create a hotfix for this one? I don't think we should wait until the next release to fix this bug.

[2018-12-13 21:57] jcaraballo17 commented on #284
I'll take a look at this tomorrow. In the meantime I'm going to rebuild the TSA catalog with the correct series after you're done with your workshop.

[2018-12-14 16:51] aufdenkampe commented on #284
@jcaraballo17, thanks for looking into this. My workshop was just 1-day, so please move forward with this.

[2018-12-14 17:42] SRGDamia1 opened #343 "Allow typing/filtering in add sensor modal"
There is a field above the drop down like you should be able to add text to filter, but you can't actually type in the field.

![capture](https://user-images.githubusercontent.com/5374350/50018535-abad2680-ff9d-11e8-9362-31885d2383d7.JPG)

[2018-12-14 17:48] SRGDamia1 commented on #342
Please, please fix this ASAP!

[2018-12-14 18:17] SRGDamia1 opened #344 "Allow organization link to be added in new organization modal"
The modal window [for adding a new organization] doesn't have a way to enter the link.

[2018-12-14 19:23] SRGDamia1 opened #345 "Can't upload files with file name longer than size of modal"
![capture](https://user-images.githubusercontent.com/5374350/50022870-9212db80-ffab-11e8-9475-b7efd6d8c1fb.JPG)

If the file name is longer than the box, the upload button gets pushed out of the box to the right and cannot be clicked.

[2018-12-14 19:28] SRGDamia1 opened #346 "Gateway timeouts when uploading CSV files"
I'm not sure if it's timing out because it takes too long to process the file or if it's another issue.

The only visible result to the user is the "failed to upload data" pop-up.  I know it's timing out from the developer console on Firefox.

[2018-12-14 19:30] SRGDamia1 opened #347 "Don't allow file upload success/failure pop-up to disappear without user acknowledgement"
It's taking more than a minute to attempt to upload a file, so I start doing something else.  When I look back, there's no indication of what happened because the pop-up came and went.  Make sure that it stays around.

![capture](https://user-images.githubusercontent.com/5374350/50023340-d94d9c00-ffac-11e8-9855-9653a6e7336d.JPG)

[2018-12-14 19:46] SRGDamia1 commented on #346
The time-out seems to be at right around a minute.

I'm getting this even with some pretty small files - less than two weeks of 5 minute data for 7 variables.

[2018-12-14 21:50] aufdenkampe commented on #342
@horsburgh and @SRGDamia1, thanks for digging in and providing extra details.

@jcaraballo17, thanks for figuring out the problem. Please fix this as a hot fix as soon as possible, as it is a big bug that stops us from deploying new stations (which we're still doing this winter).

Once you get it fixed, it will be important for you to describe the bug to @steveskrip, @htaolimno and me, so that we

[2018-12-14 21:53] aufdenkampe commented on #284
@jcaraballo17, we'll also want to fix this as a hot fix ASAP.
Also similar to #342, it will be important for you to describe the bug and its fix to @steveskrip, @htaolimno and me, so that we can avoid these kinds of bugs in the future.

[2018-12-14 22:31] SRGDamia1 commented on #342
@aufdenkampe - You can set up the station with the wrong variable and then go back and change the variable metadata that's tied to that UUID once this problem is fixed.  It's a PITA though.

[2018-12-15 21:35] horsburgh commented on #284
@aufdenkampe - with only about a month left on our existing contract, it might be good to get the LimnoTech guys more involved with the coding if you are really going to take over hosing of the Data Sharing Portal. Any chance you guys could help fix some of these issues?

[2018-12-17 14:49] HeatherBrooks commented on #324
@Maurier It turns out that a half dozen or more cookies (Cloudflare, Google Analytics, session ID, Cross-Site Request Forgery token) are in use so we do need the [Cookie Policy](https://docs.google.com/document/d/1h5Vz39cRHNq33WN9c05Is9ysDv7j408bnIB9RPI7zl8/edit?usp=sharing) posted after all. Please add it to the Policy section in the footer and link it into the last sentence in the Cookies sectio

[2018-12-19 12:45] jcaraballo17 commented on #342
@aufdenkampe @SRGDamia1 Fixed!

[2018-12-19 12:57] jcaraballo17 commented on #343
@SRGDamia1 Can you give me more information on about this issue? Which browser are you using? I tested this on Chrome and Firefox and it worked as expected.

[2018-12-19 13:07] SRGDamia1 commented on #343
Huh. I'm using Firefox. Maybe I need to clean up my cache.

[2018-12-19 13:08] jcaraballo17 commented on #346
@SRGDamia1 Sounds like web service is looping infinitely and the web server is killing the request after one minute. It would be very helpful to debug this with an actual datalogger file. Can you provide one of the files you used?

[2018-12-19 13:14] jcaraballo17 commented on #343
Ah, there it is. I updated Firefox to the latest version and now it doesn't work. I'll try to figure out what the problem is.

[2018-12-20 16:42] jcaraballo17 commented on #326
To add the Height and Notes to the TSA I would have to extend the Catalog database to add those new fields.
Would the UUID work for telling the series apart? Adding those two fields wouldn't be a lot of work, but we already have the UUIDs in the catalog.

[2018-12-20 17:04] horsburgh commented on #326
@jcaraballo17 - each time series should have a unique UUID in the ODM2 database because each one is a unique Result. So, I *think* this should just be a matter of moving the height and notes information to the catalog.

[2018-12-20 17:12] jcaraballo17 commented on #191
Adding a new dropdown that is not directly a field of the model and then filtering through it is a little bit complicated.
I added the free-text searching to each dropdown in the admin instead. It's a lot simpler and easier to just filter the units selection through that.

[2018-12-20 17:14] jcaraballo17 commented on #190
Changed the text that appears in the units dropdown (both in the admin and the webpage).
It is now sorted by the units name while still displaying the abbreviation and units type.

![image](https://user-images.githubusercontent.com/4700505/50299891-2623ed80-0459-11e9-9e27-3c04efe87046.png)

[2018-12-20 20:15] horsburgh commented on #346
@SRGDamia1 - are the files too big to email, or could you just send us one of the ones that was timing out?

[2018-12-20 22:40] SRGDamia1 commented on #346
Sorry.  I need to get my VPN working so I can grab a file from the server at Stroud.  I'm home now for Christmas.

[2019-01-08 21:05] SRGDamia1 opened #363 "TSA shows Decagon_CTD-10_Depth for most variables"
New-ish sites are showing repeated series of Decagon_CTD-10_Depth instead of multiple other variables.

Sites I see it on:
BCPC1S
BCPC2S
BRMuseum
MSSR2S
NHLR1S
PUSR1S
PUSR2S
WCC178

The spark lines look fine.

PLEASE FIX ASAP!
![image](https://user-images.githubusercontent.com/5374350/50858728-3eec3880-135f-11e9-965e-f8d84f7074fc.png)

[2019-01-08 21:11] SRGDamia1 commented on #346
Oops.  Sorry, I'd forgotten about this.  Here are some files.  The first file failed, but succeeded only after I broke it into three files.
[SL082LOG11Dec18_forUpload.zip](https://github.com/ODM2/ODM2DataSharingPortal/files/2738448/SL082LOG11Dec18_forUpload.zip)

[2019-01-11 16:21] SRGDamia1 opened #364 "Maximum CSV file size for uploading data files is too small"
A file with ~2months of data for 7 variables is too large.  That is much too small a limit.
[SL082_2018-05-18_2018-07-12_forUpload.zip](https://github.com/ODM2/ODM2DataSharingPortal/files/2750358/SL082_2018-05-18_2018-07-12_forUpload.zip)

[2019-01-11 16:23] SRGDamia1 commented on #6
Reopening this because people still need to be able to recover their username.

[2019-01-25 23:01] aufdenkampe opened #365 "Fix repeat UserNames in drop down when Admin is Editing a site."
From my message in Slack:

[2019-01-29 15:28] SRGDamia1 opened #366 "Unable to edit existing sensors in admin panel"
After clicking "save" I get an 500 server error.

[2019-01-29 21:10] aufdenkampe commented on #316
UPDATE: For the January switch to LimnoTech production servers, @htaolimno redirected all traffic to https://monitormywatershed.org. Unfortunately, that resulted in immediate failures to the HTTP POST requests with new data from monitoring stations, which have been primarily programmed to send to http://data.envirodiy.org.

@jcaraballo17 responded that "I think the problem has to do with the serve

[2019-01-29 23:10] jcaraballo17 commented on #316
@aufdenkampe I have an idea.
If we redirect all traffic to https://monitormywatershed.org ***except*** http://monitormywatershed.org/api/data-stream, then all web traffic would normally be redirected to the right domain name (monitormywatershed.org) and protocol (https), but the streaming web service would receive request from any domain and protocol, so it wouldn't have any issues.

[2019-01-30 22:11] aufdenkampe commented on #316
@jcaraballo17, I really like that idea!

Are you thinking that you would like to implement that on staging in the next few days, or that we should do it sometime in the future?

[2019-01-31 02:30] horsburgh commented on #316
@aufdenkampe - best to let the Limnotech team implement this one.

[2019-01-31 15:07] aufdenkampe commented on #316
Sounds good!

[2019-02-01 01:34] jcaraballo17 commented on #284
Closing. Not using the script that caused this anymore.

[2019-02-01 01:35] jcaraballo17 commented on #363
Closing. Not using the script that caused this anymore.

[2019-02-01 01:35] #363 closed

[2019-02-01 17:10] aufdenkampe commented on #284
@jcaraballo17, can you point to the new script (using a GitHub URL) and the old script it is replacing, and perhaps also the relevant commits?

I would like to have the fix well-documented.

[2019-02-01 17:12] aufdenkampe commented on #363
Related to the bug described in #284. Look to those comments for pointers to the new script.

[2019-02-01 18:37] jcaraballo17 commented on #284
@aufdenkampe Django scripts go on the `management/commands` directory of the app. In this case the script is in `dataloaderinterface/management/commands` and it's called  [`generate_influx_data.py`](https://github.com/ODM2/ODM2DataSharingPortal/blob/development/src/dataloaderinterface/management/commands/generate_influx_data.py).
The script it replaced is not in this repository. It's part of a set

[2019-02-01 18:52] aufdenkampe commented on #284
Thank you!

[2019-02-01 18:52] #284 closed

[2019-02-04 15:52] SRGDamia1 opened #370 "Create notification bar for important updates and issues"
A pop-up style notification for notifications of updates, changes, or server down times.

[2019-02-05 20:36] HeatherBrooks commented on #335
The page titles appear to have reverted to the earlier text. This issue is no  longer fixed.

[2019-02-05 20:58] aufdenkampe commented on #335
Yikes! @jcaraballo17, what happened to this fix? It seems to have disappeared on https://staging.monitormywatershed.org.

[2019-02-05 23:02] jcaraballo17 commented on #335
@HeatherBrooks @aufdenkampe From looking at the commits and the [staging server](https://staging.data.envirodiy.org/), the title tags were edited as suggested.

![image](https://user-images.githubusercontent.com/4700505/52310016-490e5080-2978-11e9-8573-e23459cb8e2f.png)

[2019-02-12 02:58] SRGDamia1 commented on #346
Is there any chance this will be looked at?

[2019-02-12 17:44] SRGDamia1 commented on #346
@horsburgh - yes, I was hoping there might be something on Limnotech's side.  @aufdenkampe ?

[2019-02-21 18:06] HeatherBrooks opened #372 "Registration page says Organization is optional, but fails without it"
We're getting ready to push Leaf Pack Network users to the data portal so I thought I should step through the registration process. On the Sign Up page, Organization is marked as optional but when I didn't provide one before submitting the form I was taken to a screen that indicates Organization is required? When I chose an Organization and tried again my registration was successful.

@aufdenkampe

[2019-02-21 18:50] HeatherBrooks opened #373 "Password reset attempt yields 504 gateway time-out error"
I attempted to reset my password as part of testing before publicizing the portal to Leaf Pack Network users. The process spins for a while and then times out. This had also been reported to me by an EnviroDIY user.

[2019-02-26 19:58] aufdenkampe commented on #372
Thanks for finding this bug. @steveskrip and I will look to see if this is an easy fix or not. Perhaps @jcaraballo17 has a quick suggestion.

Regardless, even if it is and we fix it quickly on staging, it will be a good bit longer before staging gets tested and pushed to production.

[2019-02-26 19:59] aufdenkampe commented on #373
Thanks for finding this bug!

As with #372, @steveskrip and I will look into it and ping @jcaraballo17 for a quick suggestion.

[2019-02-26 20:01] aufdenkampe commented on #366
Thanks for finding this bug.

It seems like a permissions issue. @steveskrip, @htao and I will look and ping @jcaraballo17 for a quick suggestion.

[2019-02-26 20:10] aufdenkampe commented on #346
This is a troubling bug that seems to have been around for well over month before the transition to LimnoTech's servers, and probably connected to the push of the 0.9.5 release to USU's production servers, given that a good number of CSV-related bugs were worked on for that release. See https://github.com/ODM2/ODM2DataSharingPortal/milestone/12?closed=1.

Given all this, it would really helpful if

[2019-02-26 20:30] horsburgh commented on #346
@aufdenkampe - sorry, we don't have any current funding to work on this project anymore. @jcaraballo17 may have some ideas about how to fix it, or what might have caused it, but I've moved him onto other funded projects.

[2019-03-18 15:22] SRGDamia1 opened #374 "Reject points with highly suspicious times"
Don't accept data submitted via REST service with timestamps that are highly unlikely to be real - ie, prior to Jan 1, 2010 or more than 24 hours in the future.

[2019-03-18 15:25] SRGDamia1 opened #375 "Provide more administrative back-ends to the database"
Specifically, I would like the ability to delete obviously erroneous data points and do some other high end cleaning.

[2019-03-21 07:09] kieutuandung-tlu opened #376 "How to Install in more Detail"
I am beginner with Django, so when I followed your guide, i can't continue at Steps 6.
[https://github.com/ODM2/ODM2DataSharingPortal/blob/master/doc/deployment_guide.md](url)
ODM2DataSharingPortal structure was cloned quite different with normal Django Project's structure in my understand.
Could you please show me how to install in more details (video is the best if you could).
Hope to receive yo

[2019-03-26 18:32] aufdenkampe commented on #342
@gcutrell, @fisherba, and I all just discovered that this bug has again appeared for at least this sensor:
* Maxim_DS18BB20_Temp

It seems to work, however, for the `Bosch_BME280_Temp` sensor.

@jcaraballo17, is there anything else that you did with the databases records to fix this? It seems that the code fix #342 would not have caused or fixed the problem alone, given that it was only for a few

[2019-03-26 18:39] aufdenkampe opened #377 "Fix sorting of lists in Admin control panel"
It seems that the Admin control panel is no longer sorting most of its lists alphabetically. This issue was address with #138, and then improved with #190.

@jcaraballo17, any ideas how this might have reverted?

[2019-04-07 13:11] dbressler75 commented on #364
Ensign and I were able to upload larger files using methods in the manual (https://www.envirodiy.org/mayfly-sensor-station-manual/#programming-and-activating-an-envirodiy-sensor-station); however, CTD temp did not work ("failed to add new sensor") and others too - see issue new issue (Some parameters cannot be added when uploading data)

[2019-04-07 13:17] dbressler75 commented on #342
Ensign and I had the same/similar problem recently.  Decagon CTD depth and conductivity could be added but not add Decagon CTD temp - "Failed to add new sensor"

[2019-04-07 13:24] dbressler75 commented on #342
Time offset issue - no UUID for time offset when uploading new data/new sensors.  No instructions in current manual for how to deal with Time offset and any UUID that may be necessary for this parameter

[2019-04-07 13:26] dbressler75 commented on #342
Seemingly all new sensor additions/data uploads give the message "Failed to upload"; however, data actually do upload (for particular sensors, but not others - see previous comments)

[2019-04-07 13:33] dbressler75 opened #378 "Sensor/data added but can't view in time series analyst - it just spins"
Once new sensor added/data uploaded still can't view in Time Series Analyst and it indicates 0 data points.  The data are there as seen in the table download but the time series analyst won't work (it just spins in Visualization) and in Datasets tab it indicates 0 Number Observations.

[2019-04-08 17:56] aufdenkampe commented on #342
@dbressler75, thanks for providing additional input on this issue. we'll add `Decagon CTD temp` to the list of sensor/variables that are somehow unlinked from the database.

Regarding Time offset, that is timezone information that when added to the local date time value allows one to convert between timezones. Therefore, there is no need for a UUID. UUIDs are only given to measured sensor variable

[2019-04-08 18:00] aufdenkampe commented on #378
Thanks, there's clearly an issue with the connection to the InfluxDB database that Time Series Analyst (TSA) uses. This has happened before.

[2019-04-08 18:04] aufdenkampe commented on #364
@dbressler75, the manual link you pointed to refers to uploading an Arduino .ino sketch from your computer to a Mayfly. Is that what you are talking about?

This issue that @SRGDamia1 posted refers to uploading a CSV file with data to the data portal. Have you had success with that?

[2019-04-09 20:48] dbressler75 commented on #364
See image below of the manual upload section in manual that we used.  Yes it is related to Sara's issue.  We were able to upload CTD cond and depth data but not temp.

![image](https://user-images.githubusercontent.com/39309124/55834092-1c48f780-5ae7-11e9-9c3a-a92c5297bb7c.png)

[2019-04-24 22:47] SRGDamia1 opened #379 "Are the WOF endpoints working?"
The WOFpy endpoints seem to have cut out in January.  That's the last time the CUAHSI WDC was able to index us.  The last time the dataset indices in TSA was updated was also in January.. though the actual data available on TSA is roughly current.

[2019-04-24 22:48] SRGDamia1 commented on #342
Is there any chance this will be fixed?

[2019-04-25 00:26] aufdenkampe commented on #342
Yes! We just received a bit of funding and will get started in the next few days.

Sent from my iPhone

On Apr 24, 2019, at 5:48 PM, Sara Damiano <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there any chance this will be fixed?

-
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/ODM2/ODM2D

[2019-04-25 00:33] aufdenkampe commented on #379
Thanks for heads up! We'll add that to our bug fix milestone.

Sent from my iPhone

On Apr 24, 2019, at 5:47 PM, Sara Damiano <notifications@github.com<mailto:notifications@github.com>> wrote:

The WOFpy endpoints seem to have cut out in January. That's the last time the CUAHSI WDC was able to index us. The last time the dataset indices in TSA was updated was also in January.. though the actual da

[2019-04-25 10:38] aufdenkampe opened #380 "Upgrade Django to version 1.11.20 LTS"
There are security vulnerabilities in our existing Django v1.11.15. See:
https://github.com/ODM2/ODM2DataSharingPortal/network/alert/requirements.txt/django/open

Suggested remediation: Upgrade django to version 1.11.19 or later.

Django 1.11.20 (LTS) is the [latest version to support Python 2.7](https://docs.djangoproject.com/en/dev/faq/install/#what-python-version-can-i-use-with-django), and sup

[2019-04-25 10:58] aufdenkampe opened #381 "Upgrade to Python 3"
This is clearly the path to long-term sustainability and is required for Django v2.x. See #380.

Unfortunately, the current implementation for Monitor My Watershed / EnviroDIY requires these other components, which would also need to transition to Python 3.
- [WOFpy](https://github.com/ODM2/WOFpy) is in process. See https://github.com/ODM2/WOFpy/issues/231
- [WebTSA](https://github.com/UCHIC/WEBTS

[2019-04-25 11:12] aufdenkampe commented on #380
Because of our integrations with WOFpy & WebTSA, we probably can't make the jump right away to Django 2 and therefore Python 3. See #381.

I recommend upgrading to Django 1.11.20 (LTS) for release 0.11.

[2019-04-25 14:49] SRGDamia1 opened #382 "Add search to filter fields in TSA"
![image](https://user-images.githubusercontent.com/5374350/56745109-c65f8b00-6747-11e9-9e02-63f0fea259e4.png)

[2019-04-25 14:50] SRGDamia1 commented on #380
Yes, please!

[2019-04-25 14:50] SRGDamia1 commented on #342
Oh, thank goodness!

[2019-04-25 15:20] aufdenkampe commented on #382
@SRGDamia1, we'll need to collectively decide how to manage work on the WebTSA application, which is being developed in the `master-envirodiy` branch of the repo at https://github.com/UCHIC/WEBTSA/tree/master-envirodiy.

We at LimnoTech aren't co-developers of that WEBTSA repo, so we'll either need to fork that branch or discuss with @horsburgh how to co-develop in that repo.

Either way, this new

[2019-04-25 17:34] SRGDamia1 opened #383 "Color of map symbols does not correctly align with real data updated time"
It sort-of kind-of does for some sites, but not for all of them.

ie:
PUHR1S still is green on the map even though it hasn’t had data in months
PUPP2S is grey even though it has data and is up to date

I'm sure it's related to the issues with WOFpy not working/TSA indices being off/influx integration.

[2019-04-25 18:13] SRGDamia1 commented on #382
I would very much prefer all the broken things get fixed first.  And, as far as that goes, that there be a gui for csv upload.  But, this would be a nice little feature to have.

[2019-04-25 18:18] aufdenkampe commented on #382
Yes, bug fixes will be the top priority, including making it as easy as possible for CSV uploads.

[2019-04-25 18:27] SRGDamia1 opened #384 "GUI for csv uploads"
Instead of the undocumented paperclip, I would rather be able to upload a csv and specify field even if they aren't specified in the file.

Something akin to the append file tool in Aquarius TimeSeries would be very nice:

[2019-04-25 18:45] aufdenkampe commented on #384
Agreed. That would be the ideal solution.

[2019-04-29 14:22] aufdenkampe opened #385 "Upgrade Django to v2.2 or later"
After upgrading Django to v1.11.20 LTS (#380), which will only be supported to April 2020, we should consider migrating to Django v2.2 or later. My understanding is that Django 2x also comes with many feature benefits, including simplified management tools, a mobile friendly admin backend panel, and performance enhancements.

However, that will also require migrating to Python 3 (#381).

See [Upgr

[2019-04-29 15:06] SRGDamia1 commented on #95
@aufdenkampe - are you planning on adding both MQTT and CoAP?

[2019-04-29 17:59] aufdenkampe commented on #95
No. Probably just MQTT. We still need to evaluate these and move some or all out of milestone 0.11.

What are your thoughts?

[2019-04-29 20:27] SRGDamia1 commented on #95
From what I've read CoAP has lower data consumption and is essentially designed to be a drop-in replacement for a HTTP REST service but implemented over UDP.  So it's best for posting data and not looking for a response.  MQTT seems to be preferred when there's any two way communication, but we're not doing that.

This is one of the best tests I've seen comparing MQTT and CoAP:  https://www.resear

[2019-04-29 20:31] SRGDamia1 opened #386 "Create a "sketch generator" for Modular Sensors - possibly based on Blynk"
The blynk example generator: https://examples.blynk.cc/

And its source code: https://github.com/blynkkk/blynk-sketch-generator

It seems like a rather spiffy little tool.

This issue is a duplicate of the same issue on the ModularSensors repo:  https://github.com/EnviroDIY/ModularSensors/issues/238

[2019-04-29 21:23] aufdenkampe commented on #95
@SRGDamia1, thanks for those additional considerations! That will all be very helpful for us as we evaluate options moving forward.

[2019-04-30 13:45] HeatherBrooks opened #387 "Users being warned that site is unsafe due to expired SSL certificate"
User began reporting trouble on April 26: when attempting to access https://monitormywatershed.org she is warned that site is unsafe due to expired certificate. I just verified this is still happening. There is also a warning on the login page. @aufdenkampe, can someone at LimnoTech take a look?
![Screen Shot 2019-04-29 at 4 07 30 PM](https://user-images.githubusercontent.com/9368629/56966160-95f3

[2019-05-01 03:34] aufdenkampe commented on #303
Here's an example of a POST that fails because of a blank UUID (""), this time with a 504 Gateway Timeout error.

[code]

[2019-05-01 15:56] skerlinStroud opened #388 "Leaf Pack data entry error"
KeyError received when trying to submit data in Leaf Pack data entry form. April 29, 2019.

[KeyError at.docx](https://github.com/ODM2/ODM2DataSharingPortal/files/3135052/KeyError.at.docx)

[2019-05-06 15:24] SRGDamia1 opened #389 "2019-05-06: Site is completely down"
Receiving a "400" bad request error for both data.envirodiy.org and data.wikiwatershed.org

[2019-05-06 16:51] neilh10 commented on #389
ALso accessing through the front page - there is no data showing for me.

https://data.envirodiy.org/sites/LCC45a3/ -
it says last May 6, 2019, 6:45 a.m. (UTC-08:00)  - I'm PDT

[2019-05-06 17:06] aufdenkampe commented on #389
Thanks for the quick bug notice, regarding our HTTP Post web service.

@tslawecki and @htaolimno were working on some server fixes this morning related to the failure of our security certificates to auto-renew late last week.

@tslawecki and @htaolimno, it appears that devices are no longer able to HTTP Post new data to the server. This seems to be happening for all sites.

[2019-05-06 17:23] aufdenkampe commented on #387
We've been aware of this and working on it.
I think @tslawecki just fixed it, but with it unfortunately created bug #389, which we are now working on fixing.

[2019-05-06 17:34] aufdenkampe commented on #389
@tslawecki just fixed this. Sorry for the down-time.

[2019-05-06 19:00] SRGDamia1 commented on #389
I can see the page again; Thanks!

[2019-05-06 19:00] #389 closed

[2019-05-07 14:04] HeatherBrooks commented on #387
I'm still getting the security warning at https://data.envirodiy.org/, https://data.wikiwatershed.org/, and https://monitormywatershed.org.

[2019-05-07 14:09] tslawecki commented on #387
This is not yet fixed, next step to try is to add a CAA record to DNS for www,monitormywatershed.org.

I've got the certbot renewal error down to just (?) "CAA record for www.monitormywatershed.org prevents issuance". This apparently needs someone to check/update/add a CAA record per https://letsencrypt.org/docs/caa/. It looks pretty straightforward, but I'm not sure who owns the domain, which is

[2019-05-07 14:34] HeatherBrooks commented on #387
@tslawecki yes, I manage the domains. I will refer to my notes from when Hua had me set up CAA records in January. I'll let you know when it's in place.

[2019-05-07 14:40] HeatherBrooks commented on #387
@tslawecki Has something changed with the SSL certificate? I put a CAA record in place for www.monitormywatershed.org in January. The propagation checker shows it's still working: [https://www.whatsmydns.net/#CAA/www.monitormywatershed.org](url).
![monitor-dnsJPG](https://user-images.githubusercontent.com/9368629/57308521-86d45f80-70b4-11e9-97c8-7ccfc1b845ab.JPG)

[2019-05-07 14:44] HeatherBrooks commented on #387
Just fixed a typo. The correction is propagating now.

[2019-05-07 15:32] aufdenkampe commented on #387
Was the typo the likely problem?

[2019-05-07 15:42] tslawecki commented on #387
AFAIK the cert is valid again now. I'm not happy about the process, but here is what I did:

1. Suddenly the CAA problem disappeared ... presumably thanks to @HeatherBrooks' action [two comments back](https://github.com/ODM2/ODM2DataSharingPortal/issues/387#issuecomment-490110546).

2. When running  `certbot renew` the error turned back into an inability to access the challenge files, preceded by

[2019-05-07 15:56] aufdenkampe commented on #387
@tslawecki, thanks for the update, getting it to work, and for documenting how.

While you were doing all that, did you notice an option to auto-renew? We want that. However, it sounds like it will fail the auto-renew process with the way things are currently configured.

Is it possible to just set up a new certificate, that is tied to monitormywatershed.org (rather than www.monitormywatershed.org

[2019-05-07 15:57] HeatherBrooks commented on #388
@skerlinStroud I am able to create a new leaf pack experiment without encountering the error you described. Can you please try again and see if this is fixed for you?

[2019-05-07 16:06] HeatherBrooks commented on #387
@aufdenkampe, on a related note, once the SSL certificate issue is sorted out, I think the web server needs to be configured to redirect traffic from www.monitormywatershed.org to monitormywatershed.org. Some subset of users will inevitably add the "www" when they type the URL in their browser and you want them to end up in the right place. Right now they are seeing this:
![image](https://user-ima

[2019-05-07 16:07] tslawecki commented on #387
Auto-renew is just setting up a cron job to do the requisite steps. Here it might consist of:
- swapping out the configuration;
- restarting nginx;
- running the renew request;
- restoring the configuration;
- restarting nginx; and
- alerting all that the renew has been attempted so that we can verify renewal and confirm operation.

If we are able to resolve the domain name issue, we may not have

[2019-05-07 16:11] tslawecki commented on #387
@HeatherBrooks, I corrected the configuration so that www.monitormywatershed.org gets to the home page. @htaolimno or @steveskrip might be able to better write the necessary directive(s) to shave of the www.

[2019-05-07 20:58] neilh10 opened #390 "Sparkline display problems"
From the current system down report yesterday, my regular site is still not showing graphs
https://data.envirodiy.org/sites/LCC45a3/
The individual graphs report an observation time that implies a recent update, but the visualization area says "No data exist for this variable.
If I try the "Time Series Analyst" and select the data - it goes into a forever loop.
Similarly if I try a download - says

[2019-05-07 21:17] SRGDamia1 commented on #390
Probably the same problem as with #378 and #379.  I'm seeing it too.

@neilh10 - just fyi - the data is stored in two places after being received by the server, both a postgreSQL database and an influx database.  The graphs on the site and on webTSA look to a combination of both of these databases and a generated WaterML index of the data for plotting.  Right now the communication between the work

[2019-05-07 21:43] neilh10 commented on #390
#378 that looks like what I'm seeing.
SRGDamia1 thanks for the info

[2019-05-07 22:31] aufdenkampe commented on #390
Yes, we are beginning to work on this and other bug fixes, which we hope to complete in the next several weeks or more.

[2019-05-07 22:45] aufdenkampe opened #391 "Upgrade Linux to Ubuntu 18.04.2 LTS"
The current Ubuntu 16.04.6 LTS will be supported to April 2021.
https://wiki.ubuntu.com/Releases

It might make sense to upgrade to Ubuntu 18.04.2 LTS at the time we migrate to Python 3 (#381) and Django 2.2 (#385).

[2019-05-08 17:41] skerlinStroud commented on #388
I can now input and submit Leaf Pack data. Submission is working.

[2019-05-08 17:41] #388 closed

[2019-05-15 02:54] aufdenkampe opened #392 "Redirect traffic from www.monitormywatershed.org to monitormywatershed.org"
Following up on remaining need described in https://github.com/ODM2/ODM2DataSharingPortal/issues/387#issuecomment-490144452 and in comments below.